flows/Clinical_data_loop03_transformToDB.json
{"flowContents":{"identifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","instanceIdentifier":"f022eb4e-0198-1000-a4e7-3afe8478bb18","name":"Clinical_data_loop03_transformToDB_LaFe_PerProGlio","comments":"","position":{"x":912.0,"y":1064.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8285bec1-ae50-300a-abf7-9993140af27e","instanceIdentifier":"a7103b95-b7db-3d25-8c53-e7b1f6e8c597","name":"ConvertBasicDatatypes","comments":"","position":{"x":-1968.0,"y":512.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_AgeUnitConcept":"toLowerCase(/PrimaryCancerCondition_AgeUnitConcept)","/Patient_BirthSex":"toUpperCase(/Patient_BirthSex)","/Patient_Population":"concat( toUpperCase( substring( toLowerCase(/Patient_Population), 0, 1 ) ), substring( toLowerCase(/Patient_Population), 1, -1 ) )\n","/CancerRelatedProcedure1_PerformedDate":"format(toDate(/CancerRelatedProcedure1_PerformedDate, \"dd/MM/yyyy\"), \"yyyy-MM-dd\")","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","/PrimaryCancerCondition_AssertedDate":"format(toDate(/PrimaryCancerCondition_AssertedDate, \"dd/MM/yyyy\"), \"yyyy-MM-dd\")","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex":{"name":"/Patient_BirthSex","displayName":"/Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_Population":{"name":"/Patient_Population","displayName":"/Patient_Population","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/CancerRelatedProcedure1_PerformedDate":{"name":"/CancerRelatedProcedure1_PerformedDate","displayName":"/CancerRelatedProcedure1_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/PrimaryCancerCondition_AssertedDate":{"name":"/PrimaryCancerCondition_AssertedDate","displayName":"/PrimaryCancerCondition_AssertedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","instanceIdentifier":"9216129a-e32d-3f61-7954-e4539500f8cd","name":"SplitJson","comments":"","position":{"x":-1400.0,"y":736.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"63fd6d47-0197-1000-67db-62bac795e552","instanceIdentifier":"b1da2647-4da0-3fe2-9573-866fa9c7fda6","name":"LogAttribute","comments":"","position":{"x":-1968.0,"y":1224.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","instanceIdentifier":"1f05f557-38e9-3925-6fb9-7ee2a2e2b7fc","name":"LookupRecordForCodeableConcepts","comments":"","position":{"x":-1968.0,"y":992.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","lookup_batch":"/lookup_batch","result-record-path":"/results","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","lookup-service":"f8c690be-411f-3e7a-aff3-e97d73571b97","record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup_batch":{"name":"lookup_batch","displayName":"lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"f3ed0c25-0197-1000-3947-143fe1d6a59a","instanceIdentifier":"39ae4443-c82d-3317-d992-0b8b45afede0","name":"StoreCodeableConceptsMappingResults","comments":"","position":{"x":-584.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"mappedcodeableconceptsresults","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"899739a6-30be-3d9c-b8a7-a62344fe3a80","instanceIdentifier":"2e9cd399-1b8b-39c5-f797-92bc39de8133","name":"AddConstantValues","comments":"","position":{"x":-1968.0,"y":16.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/Patient_DatasetIdentifier":"aaaadcw3slp2bbsux2urluqaae","/HealthStatus1_TestCode":"ASA Classification","/Dataset_Identifier":"aaaadcw3slp2bbsux2urluqaae","/Patient_DiagnosticCategory":"Patient with Cancer","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","/ImagingProcedure1_ImagingProcedureCode":"MRI","/Episode1_Number":"1","/Dataset_Title":"PerProGlio","/Dataset_Description":"Collection of patients with glioblastoma multiforme confirmed by biopsy and MR","/TumorMarker1_TumorMarkerCode":"Percent of cell nuclei positive for proliferation marker protein Ki-67 in primary malignant neoplasm by immunohistochemistry","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/Patient_DatasetIdentifier":{"name":"/Patient_DatasetIdentifier","displayName":"/Patient_DatasetIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/HealthStatus1_TestCode":{"name":"/HealthStatus1_TestCode","displayName":"/HealthStatus1_TestCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Identifier":{"name":"/Dataset_Identifier","displayName":"/Dataset_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_DiagnosticCategory":{"name":"/Patient_DiagnosticCategory","displayName":"/Patient_DiagnosticCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/ImagingProcedure1_ImagingProcedureCode":{"name":"/ImagingProcedure1_ImagingProcedureCode","displayName":"/ImagingProcedure1_ImagingProcedureCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Episode1_Number":{"name":"/Episode1_Number","displayName":"/Episode1_Number","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Title":{"name":"/Dataset_Title","displayName":"/Dataset_Title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Description":{"name":"/Dataset_Description","displayName":"/Dataset_Description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/TumorMarker1_TumorMarkerCode":{"name":"/TumorMarker1_TumorMarkerCode","displayName":"/TumorMarker1_TumorMarkerCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"ec0ee77b-0197-1000-a215-3de59ecdd63f","instanceIdentifier":"62541b70-63e3-31d0-c16d-0e56a4dce79b","name":"HealthStatusDataIfNotExist","comments":"","position":{"x":-552.0,"y":808.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"healthstatus","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"09979af4-a283-3e9f-8715-64d01c0ab007","instanceIdentifier":"c32cea7e-741c-3e82-f3f1-250cc336d122","name":"CleanUtilityProperties","comments":"","position":{"x":-1400.0,"y":240.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","/lookup_batch":"","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/lookup_batch":{"name":"/lookup_batch","displayName":"/lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"63fd6d43-0197-1000-845b-aeaecedf1d2a","instanceIdentifier":"0c4485b4-bfd0-3748-402b-ed34e07d482c","name":"StorePatientDataIfNotExist","comments":"","position":{"x":-568.0,"y":8.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT_IGNORE","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"cancerpatient","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"08faab81-0198-1000-0afa-62d21647ff3e","instanceIdentifier":"6c07ca6a-20a7-3bf5-f7e8-79a02d9a3f97","name":"LookupRecordForHealthStatusValueAsCode","comments":"","position":{"x":-2600.0,"y":944.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HealthStatus1_TestValueAsConcept_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"57d12cf6-65c3-3f20-adb1-18243d2ff76a","record-update-strategy":"use-property","key":"/HealthStatus1_TestValueAsConcept"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"63fd6d4a-0197-1000-3482-7420cd2eb231","instanceIdentifier":"e0de871d-8eb9-3850-0e3f-8a2535aacaaa","name":"LoadClinicalDataCSVfromStaging3","comments":"","position":{"x":-1968.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{staging_base_path}/curated_as_csv/clinical_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"[^\\.].*.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"ebd95f4d-0197-1000-6314-88f71c8b604b","instanceIdentifier":"eef0fc44-4398-3671-fbbc-0190c2736331","name":"StoreEpisodeDataIfNotExist","comments":"","position":{"x":-560.0,"y":424.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"episode","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","instanceIdentifier":"cb64988f-180e-3b41-2748-841d5acac8e6","name":"LookupRecordForTumorLocation","comments":"","position":{"x":-2600.0,"y":512.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Tumor_BodySiteLocation_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"1e47dbd9-9105-3633-913f-88ee8cc735f9","record-update-strategy":"use-property","key":"/Tumor_BodySiteLocation"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"f5ef4316-0198-1000-86ad-8b1b37ef67fa","instanceIdentifier":"30cfc444-4b42-369e-9a90-c01c933aacf5","name":"DatasetDataIfNotExist","comments":"","position":{"x":-552.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"dataset","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"234aa4b4-1888-3d59-b332-2983c5cf750d","instanceIdentifier":"312e857b-1735-3f64-9b31-4f8f059794fe","name":"JoltTransformJSON","comments":"","position":{"x":-1400.0,"y":512.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"results\": {\n        \"*\": \"&\"    // Mueve cada campo dentro de \"results\" al nivel raíz\n      },\n      \"*\": \"&\"      // Copia todo lo demás sin cambios\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"63fd6d45-0197-1000-1548-54496f528752","instanceIdentifier":"a40b3ff3-8754-343b-ff00-b7014f8ac820","name":"RenameProperties","comments":"","position":{"x":-1968.0,"y":248.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_HistologyMorphologyCode":"/\"D-Pathologycal subtype\"","/TumorMarker1_ValueAsNumber":"/\"D-Proliferation rate KI67\"","/Patient_Population":"/Population","/Patient_Identifier":"/PatientID","/Patient_DiagnosticCategory":"/Population","/PrimaryCancerCondition_Code":"/\"Histological Type\"","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","/Tumor_BodySiteLocation":"/\"Tumor location\"","/Patient_BirthSex":"/Gender","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","/PrimaryCancerCondition_AssertedDate":"/\"D-Date Biopsy\"","/HealthStatus1_TestValueAsConcept":"/\"ASA Classification System (performance status)\"","/PrimaryCancerCondition_confirmedBy":"concat(/PatientID, '_procedure_1')","/HistologicGrade_Code":"/\"Tumor Grade\"","/PrimaryCancerCondition_AgeUnitConcept":"/\"Age Unit\"","/Tumor_BodySiteLaterality":"/\"Side of tumor epicenter\"","/ImagingProcedure1_PerformedDate":"/\"D-MR pre-surgery Date\"","/PrimaryCancerCondition_Identifier":"concat(/PatientID, '_cancerCondition_1')","Replacement Value Strategy":"record-path-value","/Tumor_BodySiteCode":"/Organ","/CancerRelatedProcedure1_PerformedDate":"/\"D-Date Biopsy\"","/Episode1_Type":"concat('overarching','')","/PrimaryCancerCondition_AgeAtDiagnosis":"/\"Diagnosis Age\"","/CancerRelatedProcedure1_ProcedureCode":"/\"Pathology Confirmation\"","/PrimaryCancerCondition_PatientIdentifier":"/PatientID","/HealthStatus1_PatientIdetifier":"/PatientID"},"propertyDescriptors":{"/PrimaryCancerCondition_HistologyMorphologyCode":{"name":"/PrimaryCancerCondition_HistologyMorphologyCode","displayName":"/PrimaryCancerCondition_HistologyMorphologyCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/TumorMarker1_ValueAsNumber":{"name":"/TumorMarker1_ValueAsNumber","displayName":"/TumorMarker1_ValueAsNumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_Population":{"name":"/Patient_Population","displayName":"/Patient_Population","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_Identifier":{"name":"/Patient_Identifier","displayName":"/Patient_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_DiagnosticCategory":{"name":"/Patient_DiagnosticCategory","displayName":"/Patient_DiagnosticCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_Code":{"name":"/PrimaryCancerCondition_Code","displayName":"/PrimaryCancerCondition_Code","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/Tumor_BodySiteLocation":{"name":"/Tumor_BodySiteLocation","displayName":"/Tumor_BodySiteLocation","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex":{"name":"/Patient_BirthSex","displayName":"/Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/PrimaryCancerCondition_AssertedDate":{"name":"/PrimaryCancerCondition_AssertedDate","displayName":"/PrimaryCancerCondition_AssertedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/HealthStatus1_TestValueAsConcept":{"name":"/HealthStatus1_TestValueAsConcept","displayName":"/HealthStatus1_TestValueAsConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_confirmedBy":{"name":"/PrimaryCancerCondition_confirmedBy","displayName":"/PrimaryCancerCondition_confirmedBy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/HistologicGrade_Code":{"name":"/HistologicGrade_Code","displayName":"/HistologicGrade_Code","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Tumor_BodySiteLaterality":{"name":"/Tumor_BodySiteLaterality","displayName":"/Tumor_BodySiteLaterality","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure1_PerformedDate":{"name":"/ImagingProcedure1_PerformedDate","displayName":"/ImagingProcedure1_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_Identifier":{"name":"/PrimaryCancerCondition_Identifier","displayName":"/PrimaryCancerCondition_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/Tumor_BodySiteCode":{"name":"/Tumor_BodySiteCode","displayName":"/Tumor_BodySiteCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/CancerRelatedProcedure1_PerformedDate":{"name":"/CancerRelatedProcedure1_PerformedDate","displayName":"/CancerRelatedProcedure1_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Episode1_Type":{"name":"/Episode1_Type","displayName":"/Episode1_Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_AgeAtDiagnosis":{"name":"/PrimaryCancerCondition_AgeAtDiagnosis","displayName":"/PrimaryCancerCondition_AgeAtDiagnosis","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/CancerRelatedProcedure1_ProcedureCode":{"name":"/CancerRelatedProcedure1_ProcedureCode","displayName":"/CancerRelatedProcedure1_ProcedureCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_PatientIdentifier":{"name":"/PrimaryCancerCondition_PatientIdentifier","displayName":"/PrimaryCancerCondition_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/HealthStatus1_PatientIdetifier":{"name":"/HealthStatus1_PatientIdetifier","displayName":"/HealthStatus1_PatientIdetifier","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"63fd6d48-0197-1000-0139-e659146a3f59","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab","name":"SpecificMappings","comments":"","position":{"x":-1400.0,"y":16.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","mapping HealthStatus1_TestCode":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'NONE' AS propertyNameOriginal,\n\t\t'NONE' AS originalValue,\n\t\t'HealthStatus1_TestCode' AS propertyNameEUCAIM,\n        \"HealthStatus1_TestCode__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping Patient_BirthSex":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Gender' AS propertyNameOriginal,\n\t\t\"Gender\" AS originalValue,\n\t\t'Patient_BirthSex' AS propertyNameEUCAIM,\n        \"Patient_BirthSex__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping PrimaryCancerCondition_HistologyMorphologyCode":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'D-Pathologycal subtype' AS propertyNameOriginal,\n\t\t\"D-Pathologycal subtype\" AS originalValue,\n\t\t'PrimaryCancerCondition_HistologyMorphologyCode' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_HistologyMorphologyCode__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Primary Cancer Condition":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"PrimaryCancerCondition_AssertedDate\" AS AssertedDate,\n\t\tCAST(REPLACE(\"PrimaryCancerCondition_AgeAtDiagnosis\", ',', '.') AS DOUBLE) AS AgeOfDiagnosis,\n\t\t\"Age Unit\" AS AgeUnitOriginal,\n\t\t\"PrimaryCancerCondition_AgeUnitConcept__code\" AS AgeUnitEUCAIM,\n\t\t\"Histological Type\" AS PrimaryCancerConditionOriginal,\n\t\t\"PrimaryCancerCondition_Code__code\" AS PrimaryCancerConditionEUCAIM,\n\t\t\"PrimaryCancerCondition_confirmedBy\" AS ConfirmedByProcedure,\n        \"D-Pathologycal subtype\" AS HistologyMorphologyBehaviourOriginal,\n\t\t\"PrimaryCancerCondition_HistologyMorphologyCode__code\" AS HistologyMorphologyBehaviourEUCAIM,\n\t\t\"Organ\" AS BodySiteOriginal,\n\t\t\"Tumor_BodySiteCode__code\" AS BodySiteEUCAIM,\n\t\t\"Tumor location\" AS BodySiteLocationQualifierOriginal,\n\t\t'TODO' AS BodySiteLocationQualifierEUCAIM,\n\t\t\"Side of tumor epicenter\" AS BodySiteLateralityQualifierOriginal,\n\t\t\"Tumor_BodySiteLaterality__code\" AS BodySiteLateralityQualifierEUCAIM\nFROM FLOWFILE","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","mapping HealthStatus1_TestValueAsConcept":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'ASA Classification System (performance status)' AS propertyNameOriginal,\n\t\t\"ASA Classification System (performance status)\" AS originalValue,\n\t\t'HealthStatus1_TestValueAsConcept' AS propertyNameEUCAIM,\n        \"HealthStatus1_TestValueAsConcept__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping PrimaryCancerCondition_AgeUnitConcept":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Age Unit' AS propertyNameOriginal,\n\t\t\"Age Unit\" AS originalValue,\n\t\t'PrimaryCancerCondition_AgeUnitConcept' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_AgeUnitConcept__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","dbf-default-precision":"10","mapping Tumor_BodySiteLocation":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Tumor location' AS propertyNameOriginal,\n\t\t\"Tumor location\" AS originalValue,\n\t\t'Tumor_BodySiteLocation' AS propertyNameEUCAIM,\n        'TODO' AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping Tumor_BodySiteLaterality":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Side of tumor epicenter' AS propertyNameOriginal,\n\t\t\"Side of tumor epicenter\" AS originalValue,\n\t\t'Tumor_BodySiteLaterality' AS propertyNameEUCAIM,\n        \"Tumor_BodySiteLaterality__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Dataset":"SELECT \t\"Dataset_Identifier\" AS Identifier,\n\t\t\"Dataset_Title\" AS\tTitle,\n\t\t\"Dataset_Description\" AS Description\nFROM FLOWFILE","Patient":"SELECT \t\"Patient_Identifier\" AS Identifier,\n\t\t\"Patient_DatasetIdentifier\" AS DatasetIdentifier,\n\t\t\"Population\" AS\tDiagnosticCategoryOriginal,\n\t\t\"Patient_Population__code\" AS DiagnosticCategoryEucaim,\n\t\t\"Gender\" AS BirthSexOriginal,\n        \"Patient_BirthSex__code\" AS BirthSexEucaim\nFROM FLOWFILE","include-zero-record-flowfiles":"true","dbf-default-scale":"0","mapping PrimaryCancerCondition_Code":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Histological Type' AS propertyNameOriginal,\n\t\t\"Histological Type\" AS originalValue,\n\t\t'PrimaryCancerCondition_Code' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_Code__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping CancerRelatedProcedure1_ProcedureCode":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Pathology Confirmation' AS propertyNameOriginal,\n\t\t\"Pathology Confirmation\" AS originalValue,\n\t\t'CancerRelatedProcedure1_ProcedureCode' AS propertyNameEUCAIM,\n        \"CancerRelatedProcedure1_ProcedureCode__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Tumor Marker Test":"SELECT \t\"Patient_Identifier\" AS Identifier,\n\t\t'Ki-67' AS\tTumorMarkerOriginal,\n\t\t\"TumorMarker1_TumorMarkerCode__code\" AS TumorMarkerEUCAIM,\n\t\tREPLACE(\"TumorMarker1_ValueAsNumber\", '?', '-1') AS ValueAsNumber\nFROM FLOWFILE","mapping ImagingProcedure1_ImagingProcedureCode":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'NONE' AS propertyNameOriginal,\n\t\t'NONE' AS originalValue,\n\t\t'ImagingProcedure1_ImagingProcedureCode' AS propertyNameEUCAIM,\n        \"ImagingProcedure1_ImagingProcedureCode__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping TumorMarker1_TumorMarkerCode":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'NONE' AS propertyNameOriginal,\n\t\t'NONE' AS originalValue,\n\t\t'TumorMarker1_TumorMarkerCode__code' AS propertyNameEUCAIM,\n        \"TumorMarker1_TumorMarkerCode__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping Patient_DiagnosticCategory":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Population' AS propertyNameOriginal,\n\t\t\"Population\" AS originalValue,\n\t\t'Patient_DiagnosticCategory' AS propertyNameEUCAIM,\n        \"Patient_DiagnosticCategory\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Episode":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"Episode1_Type\" AS TypeOriginal,\n\t\t\"Episode1_Number\" AS EpisodeNumber\nFROM FLOWFILE","mapping Tumor_BodySite":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Organ' AS propertyNameOriginal,\n\t\t\"Organ\" AS originalValue,\n\t\t'Tumor_BodySiteCode' AS propertyNameEUCAIM,\n        \"Tumor_BodySiteCode__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping HistologicGrade_Code":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Tumor Grade' AS propertyNameOriginal,\n\t\t\"Tumor Grade\" AS originalValue,\n\t\t'PrimaryCancerCondition_HistologyMorphologyCode' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_HistologyMorphologyCode__code\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Health Status":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t'ASA Classification' AS HealthStatusOriginal,\n\t\t\"HealthStatus1_TestCode__code\" AS HealthStatusEUCAIM,\n\t\t\"HealthStatus1_TestValueAsConcept__code\" AS ValueAsConceptEUCAIM,\n\t\t\"ASA Classification System (performance status)\" AS ValueAsConceptOriginal\nFROM FLOWFILE","Cancer Procedure":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"PrimaryCancerCondition_confirmedBy\" AS Identifier,\n\t\t\"CancerRelatedProcedure1_ProcedureCode__code\" AS ProcedureEUCAIM,\n\t\t\"Pathology Confirmation\" AS ProcedureOriginal,\n\t\t\"CancerRelatedProcedure1_PerformedDate\" AS PerformedDate\nFROM FLOWFILE"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mapping HealthStatus1_TestCode":{"name":"mapping HealthStatus1_TestCode","displayName":"mapping HealthStatus1_TestCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping Patient_BirthSex":{"name":"mapping Patient_BirthSex","displayName":"mapping Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping PrimaryCancerCondition_HistologyMorphologyCode":{"name":"mapping PrimaryCancerCondition_HistologyMorphologyCode","displayName":"mapping PrimaryCancerCondition_HistologyMorphologyCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Primary Cancer Condition":{"name":"Primary Cancer Condition","displayName":"Primary Cancer Condition","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mapping HealthStatus1_TestValueAsConcept":{"name":"mapping HealthStatus1_TestValueAsConcept","displayName":"mapping HealthStatus1_TestValueAsConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping PrimaryCancerCondition_AgeUnitConcept":{"name":"mapping PrimaryCancerCondition_AgeUnitConcept","displayName":"mapping PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mapping Tumor_BodySiteLocation":{"name":"mapping Tumor_BodySiteLocation","displayName":"mapping Tumor_BodySiteLocation","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping Tumor_BodySiteLaterality":{"name":"mapping Tumor_BodySiteLaterality","displayName":"mapping Tumor_BodySiteLaterality","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Dataset":{"name":"Dataset","displayName":"Dataset","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Patient":{"name":"Patient","displayName":"Patient","identifiesControllerService":false,"sensitive":false,"dynamic":true},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mapping PrimaryCancerCondition_Code":{"name":"mapping PrimaryCancerCondition_Code","displayName":"mapping PrimaryCancerCondition_Code","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping CancerRelatedProcedure1_ProcedureCode":{"name":"mapping CancerRelatedProcedure1_ProcedureCode","displayName":"mapping CancerRelatedProcedure1_ProcedureCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Tumor Marker Test":{"name":"Tumor Marker Test","displayName":"Tumor Marker Test","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping ImagingProcedure1_ImagingProcedureCode":{"name":"mapping ImagingProcedure1_ImagingProcedureCode","displayName":"mapping ImagingProcedure1_ImagingProcedureCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping TumorMarker1_TumorMarkerCode":{"name":"mapping TumorMarker1_TumorMarkerCode","displayName":"mapping TumorMarker1_TumorMarkerCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping Patient_DiagnosticCategory":{"name":"mapping Patient_DiagnosticCategory","displayName":"mapping Patient_DiagnosticCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Episode":{"name":"Episode","displayName":"Episode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping Tumor_BodySite":{"name":"mapping Tumor_BodySite","displayName":"mapping Tumor_BodySite","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping HistologicGrade_Code":{"name":"mapping HistologicGrade_Code","displayName":"mapping HistologicGrade_Code","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Health Status":{"name":"Health Status","displayName":"Health Status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cancer Procedure":{"name":"Cancer Procedure","displayName":"Cancer Procedure","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#9ea53b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"cbe23709-0197-1000-53e6-50cf8c162805","instanceIdentifier":"b4f1afaf-f4db-30f0-605c-9dbefa921f5a","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","position":{"x":-568.0,"y":208.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"primarycancercondition","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","instanceIdentifier":"40493167-77e8-3c42-5a39-f92041a83c44","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","position":{"x":-1968.0,"y":736.0},"type":"org.apache.nifi.processors.jolt.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"jolt-record-record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Jolt Transform":"jolt-transform-chain","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n\t  \"*\": \"&\",\n      \"CancerRelatedProcedure1_ProcedureCode\": \"lookup_batch.CancerRelatedProcedure1_ProcedureCode\",\n      \"HealthStatus1_TestCode\": \"lookup_batch.HealthStatus1_TestCode\",\n      \"HealthStatus1_TestValueAsConcept_parsed\": \"lookup_batch.HealthStatus1_TestValueAsConcept\",\n      \"HistologicGrade_Code_parsed\": \"lookup_batch.HistologicGrade_Code\",\n      \"ImagingProcedure1_ImagingProcedureCode\": \"lookup_batch.ImagingProcedure1_ImagingProcedureCode\",\n      \"Patient_BirthSex\": \"lookup_batch.Patient_BirthSex\",\n      \"Patient_Population\": \"lookup_batch.Patient_Population\",\n      \"PrimaryCancerCondition_AgeUnitConcept\": \"lookup_batch.PrimaryCancerCondition_AgeUnitConcept\",\n      \"PrimaryCancerCondition_Code\": \"lookup_batch.PrimaryCancerCondition_Code\",\n      \"PrimaryCancerCondition_HistologyMorphology\": \"lookup_batch.PrimaryCancerCondition_HistologyMorphology\",\n      \"PrimaryCancerCondition_HistologyMorphologyCode\": \"lookup_batch.PrimaryCancerCondition_HistologyMorphologyCode\",\n\t  \"Tumor_BodySiteCode\": \"lookup_batch.Tumor_BodySiteCode\",\n      \"Tumor_BodySiteLaterality\": \"lookup_batch.Tumor_BodySiteLaterality\",\n      \"Tumor_BodySiteLocation_parsed\": \"lookup_batch.Tumor_BodySiteLocation\",\n\t  \"TumorMarker1_TumorMarkerCode\": \"lookup_batch.TumorMarker1_TumorMarkerCode\"\n    }\n  }\n]","jolt-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"ebe5cca4-0197-1000-97b3-0b695b23ee69","instanceIdentifier":"0bbd97ae-453b-3a8c-eff6-11632b98af9e","name":"StoreCancerProcedureDataIfNotExist","comments":"","position":{"x":-552.0,"y":624.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"cancerrelatedprocedure","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"08e20eed-0198-1000-a81f-e4eb4264971c","instanceIdentifier":"0982c94c-6fa6-381a-f677-87c69720cf20","name":"LookupRecordForTumorGleasonGrade","comments":"","position":{"x":-2600.0,"y":736.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HistologicGrade_Code_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"1255817c-d6ed-36e5-9f84-22fb2580ca90","record-update-strategy":"use-property","key":"/HistologicGrade_Code"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"0e87804f-0198-1000-2dd3-89a55cd21bd0","instanceIdentifier":"60211e26-a47f-31d4-3cee-043f0ea91791","name":"TumorMarkerDataIfNotExist","comments":"","position":{"x":-552.0,"y":992.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"tumormarkertest","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a78e70a0-d6f0-3b08-b934-3dfd0f8a11d5","instanceIdentifier":"a2291f34-8f2b-3cdc-5cba-61c000ad85a9","name":"","source":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"cb64988f-180e-3b41-2748-841d5acac8e6"},"destination":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"0982c94c-6fa6-381a-f677-87c69720cf20"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"63fd6d55-0197-1000-9624-d47cc89ff30c","instanceIdentifier":"7e6fa5fe-1dab-3e41-3f47-9bdb2388182e","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"63fd6d43-0197-1000-845b-aeaecedf1d2a","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"StorePatientDataIfNotExist","comments":"","instanceIdentifier":"0c4485b4-bfd0-3748-402b-ed34e07d482c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Patient"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"e5786224-009a-3998-a08c-06700dce04c8","instanceIdentifier":"f853ed35-99b0-3fdc-0161-f8a3f1bebe6e","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"ebe5cca4-0197-1000-97b3-0b695b23ee69","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"StoreCancerProcedureDataIfNotExist","comments":"","instanceIdentifier":"0bbd97ae-453b-3a8c-eff6-11632b98af9e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Cancer Procedure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"c21ea818-8eef-3929-966e-53971361e518","instanceIdentifier":"ec5e1b56-597a-3c22-260f-a42b20b2537c","name":"","source":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"6c07ca6a-20a7-3bf5-f7e8-79a02d9a3f97"},"destination":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"40493167-77e8-3c42-5a39-f92041a83c44"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"d89697e5-2591-3c7b-b54b-b7b8f097577d","instanceIdentifier":"4d562e55-9ec6-382a-6625-c24a53217431","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"0e87804f-0198-1000-2dd3-89a55cd21bd0","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"TumorMarkerDataIfNotExist","comments":"","instanceIdentifier":"60211e26-a47f-31d4-3cee-043f0ea91791"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Tumor Marker Test"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"196b1f14-c3a8-3776-a04c-c79a62f023e5","instanceIdentifier":"6a347d10-fb59-3345-fc1d-186e4e46ec2a","name":"","source":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"0982c94c-6fa6-381a-f677-87c69720cf20"},"destination":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"6c07ca6a-20a7-3bf5-f7e8-79a02d9a3f97"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"018ad2d5-dfc8-352c-965c-8ab6b561d56f","instanceIdentifier":"703792f0-fcf1-3051-8a65-3cefa22b60bb","name":"","source":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"40493167-77e8-3c42-5a39-f92041a83c44"},"destination":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"1f05f557-38e9-3925-6fb9-7ee2a2e2b7fc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"4ae32e01-435f-3813-9f80-85e2101bda86","instanceIdentifier":"1b9f38e7-fd5c-3127-85a7-0ab889fc9c77","name":"","source":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"c32cea7e-741c-3e82-f3f1-250cc336d122"},"destination":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"5e986caf-ae1d-356e-b32b-4c59e238039c","instanceIdentifier":"65f5aca9-df69-33cf-8ead-0793d86b6514","name":"","source":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"AddConstantValues","comments":"","instanceIdentifier":"2e9cd399-1b8b-39c5-f797-92bc39de8133"},"destination":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"RenameProperties","comments":"","instanceIdentifier":"a40b3ff3-8754-343b-ff00-b7014f8ac820"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"8a923eb6-ed87-3521-8646-034178a8484b","instanceIdentifier":"b1596036-a1a5-3788-b78a-5487cd0f2f65","name":"","source":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"RenameProperties","comments":"","instanceIdentifier":"a40b3ff3-8754-343b-ff00-b7014f8ac820"},"destination":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"a7103b95-b7db-3d25-8c53-e7b1f6e8c597"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"338e0085-4235-332e-8d1e-12bb2ef2f3c9","instanceIdentifier":"eb2aaf53-6b64-3a4e-8a8a-dbab747831b6","name":"","source":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SplitJson","comments":"","instanceIdentifier":"9216129a-e32d-3f61-7954-e4539500f8cd"},"destination":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"312e857b-1735-3f64-9b31-4f8f059794fe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"ca743a2c-9ece-3cfc-909e-658e018b8494","instanceIdentifier":"f5efdbda-0198-1000-636d-b2fb06bdcfff","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"f5ef4316-0198-1000-86ad-8b1b37ef67fa","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"DatasetDataIfNotExist","comments":"","instanceIdentifier":"30cfc444-4b42-369e-9a90-c01c933aacf5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Dataset"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"505ed881-5d38-3bf5-a833-e450e07fbe22","instanceIdentifier":"94a2a19c-c946-392d-7ba5-21e98218d0ab","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"1f05f557-38e9-3925-6fb9-7ee2a2e2b7fc"},"destination":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SplitJson","comments":"","instanceIdentifier":"9216129a-e32d-3f61-7954-e4539500f8cd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"af415092-cc44-33d6-81f4-d8744c686883","instanceIdentifier":"2acbd3b8-2bd6-3124-0970-d14caf6a76d8","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"f3ed0c25-0197-1000-3947-143fe1d6a59a","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"39ae4443-c82d-3317-d992-0b8b45afede0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping Tumor_BodySite"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-816.0,"y":-53.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"a643985c-034f-3e2a-a817-c95c2b6a4f83","instanceIdentifier":"dc090e26-61c6-3737-6616-3c21759ddf4b","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"1f05f557-38e9-3925-6fb9-7ee2a2e2b7fc"},"destination":{"id":"63fd6d47-0197-1000-67db-62bac795e552","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LogAttribute","comments":"","instanceIdentifier":"b1da2647-4da0-3fe2-9573-866fa9c7fda6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"1d31b520-5384-39a7-a5b8-468f9d79cbe6","instanceIdentifier":"2d82b6cd-f25f-3e8d-89a7-0cb448d87ccc","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"f3ed0c25-0197-1000-3947-143fe1d6a59a","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"39ae4443-c82d-3317-d992-0b8b45afede0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping Patient_DiagnosticCategory","mapping Tumor_BodySiteLocation","mapping Tumor_BodySiteLaterality","mapping HealthStatus1_TestCode","mapping Patient_BirthSex","mapping HistologicGrade_Code","mapping PrimaryCancerCondition_HistologyMorphologyCode","mapping HealthStatus1_TestValueAsConcept","mapping PrimaryCancerCondition_AgeUnitConcept","mapping PrimaryCancerCondition_Code","mapping CancerRelatedProcedure1_ProcedureCode","mapping ImagingProcedure1_ImagingProcedureCode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"abfe0c21-2670-3862-9932-4be71e685b04","instanceIdentifier":"35fff489-410e-3a3a-234e-bea2de6895d2","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"f3ed0c25-0197-1000-3947-143fe1d6a59a","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"39ae4443-c82d-3317-d992-0b8b45afede0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping TumorMarker1_TumorMarkerCode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-816.0,"y":-203.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"cccc0f2e-4ed1-346d-8540-560a096bad02","instanceIdentifier":"81855a72-8272-35f4-21c5-1e10170060e5","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"cbe23709-0197-1000-53e6-50cf8c162805","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","instanceIdentifier":"b4f1afaf-f4db-30f0-605c-9dbefa921f5a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Primary Cancer Condition"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"b71b44f8-74e7-3eec-9806-e51cafa41912","instanceIdentifier":"b0c6c946-e58f-301f-77d8-e1d3e755611d","name":"","source":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"a7103b95-b7db-3d25-8c53-e7b1f6e8c597"},"destination":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"cb64988f-180e-3b41-2748-841d5acac8e6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"368f2ecb-8b15-3baa-99d5-9f71c56d8b4a","instanceIdentifier":"0d967590-f3a7-3f24-ecd2-15edb7592153","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"ebd95f4d-0197-1000-6314-88f71c8b604b","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"StoreEpisodeDataIfNotExist","comments":"","instanceIdentifier":"eef0fc44-4398-3671-fbbc-0190c2736331"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Episode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"857dfc9c-28d0-3bb8-a96b-3590cfcb0f25","instanceIdentifier":"fcb44e9a-c54f-3604-9d71-e219b92ebd43","name":"","source":{"id":"63fd6d4a-0197-1000-3482-7420cd2eb231","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"LoadClinicalDataCSVfromStaging3","comments":"","instanceIdentifier":"e0de871d-8eb9-3850-0e3f-8a2535aacaaa"},"destination":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"AddConstantValues","comments":"","instanceIdentifier":"2e9cd399-1b8b-39c5-f797-92bc39de8133"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"38909667-00f8-3392-9f38-7f4cc621e9d7","instanceIdentifier":"6489d61c-d32c-32b4-ee1c-7c7391cbd464","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"SpecificMappings","comments":"","instanceIdentifier":"0acc8395-c5b0-33eb-9a13-f3b73f2bbfab"},"destination":{"id":"ec0ee77b-0197-1000-a215-3de59ecdd63f","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"HealthStatusDataIfNotExist","comments":"","instanceIdentifier":"62541b70-63e3-31d0-c16d-0e56a4dce79b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Health Status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"bb4b55a4-af57-30bf-8c2c-43abc8f31984","instanceIdentifier":"ee2c413e-246d-3a0a-7784-c3d798c327ca","name":"","source":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"312e857b-1735-3f64-9b31-4f8f059794fe"},"destination":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"14582f66-4e46-3fd9-b4d2-fe3e43af111f","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"c32cea7e-741c-3e82-f3f1-250cc336d122"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"}],"labels":[{"identifier":"63fd6d4f-0197-1000-90d7-0eee2e20dc36","instanceIdentifier":"63b51d98-3e06-3f99-a5de-b9be039333f5","position":{"x":-2328.0,"y":-608.0},"label":"Loop 3 for clinical data:\n* Clinical data tabular inputs are mapped and converted to a relational model.\n* Mappings are specified during the Data Holder's analysis phase.","zIndex":0,"width":792.0,"height":112.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"}],"funnels":[],"controllerServices":[{"identifier":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","instanceIdentifier":"95f17424-b889-3b69-e690-06be21ff0ae8","name":"CSVRecordSetWriterClinicalData","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"57d12cf6-65c3-3f20-adb1-18243d2ff76a","instanceIdentifier":"8e43a15c-a219-3e12-5db3-faf4cc40d1cc","name":"HealthStatusValueAsConceptLookupService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"Class III":"ASA physical status class 3","Class VI":"ASA physical status class 6","Class V":"ASA physical status class 5","Class II":"ASA physical status class 2","Class I":"ASA physical status class 1","Class IV":"ASA physical status class 4"},"propertyDescriptors":{"Class III":{"name":"Class III","displayName":"Class III","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Class VI":{"name":"Class VI","displayName":"Class VI","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Class V":{"name":"Class V","displayName":"Class V","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Class II":{"name":"Class II","displayName":"Class II","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Class I":{"name":"Class I","displayName":"Class I","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Class IV":{"name":"Class IV","displayName":"Class IV","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"9c609a6f-495b-3ea5-9381-a06b75643a88","instanceIdentifier":"8b9a15e1-d1f0-30c2-3afb-b01d9d35018b","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"63fd6d42-0197-1000-a008-a8ffd8e69227","instanceIdentifier":"a7119563-c2bf-3e45-4d86-d07094e67ec8","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"f8c690be-411f-3e7a-aff3-e97d73571b97","instanceIdentifier":"a81c4ed4-017e-39d4-b5d9-cc4ba7bd692f","name":"CodeableConceptsLookupService","comments":"","type":"org.apache.nifi.lookup.script.ScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"dbcpService":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","Script Engine":"Groovy","Script Body":"import org.apache.nifi.controller.ControllerServiceInitializationContext\nimport org.apache.nifi.reporting.InitializationException\nimport org.apache.nifi.dbcp.DBCPService\nimport java.sql.*\n\nclass SequenceLookupService implements LookupService<String> {\n\n    final String ID = UUID.randomUUID().toString()\n    final static String dbcpServiceName = \"dbcpService\"\n\n    public static final PropertyDescriptor DBCP_SERVICE = new PropertyDescriptor.Builder()\n            .name(dbcpServiceName)\n            .description(\"The Controller Service that is used to obtain connection to database\")\n            .required(true)\n            .identifiesControllerService(DBCPService)\n            .build()\n\n    DBCPService dbcpService\n    ComponentLog log = null\n\n    @Override\n    Optional<Map<String, String>> lookup(Map<String, String> coordinates) {\n        log.info(\"CodeableConceptsLookupService.lookup\")\n        log.info(\"CodeableConceptsLookupService.lookup - coordinates values: ${coordinates}\")\n\n         if (dbcpService == null) {\n            log.error(\"CodeableConceptsLookupService.lookup - DBCPService not initialized.\")\n            return Optional.empty()\n        }\n\n        def input = coordinates.get(\"lookup_batch\").toMap()\n        def result = [:]\n\n        Connection conn = dbcpService.getConnection()\n        if (conn == null) {\n            log.error(\"CodeableConceptsLookupService.lookup - Connection not initialized.\")\n            return Optional.empty()['lookup_batch']\n        }\n\n        try {\n            input.each { property, value ->\n                if (!value) return\n\n                def sql = \"\"\"\n                    SELECT c.concept_code\n                    FROM concept c\n                    WHERE c.concept_name = ?\n                \"\"\"\n\n                log.info(sql)\n\n                def pstmt = conn.prepareStatement(sql)\n                pstmt.setString(1, value.toString())\n                def rs = pstmt.executeQuery()\n\n                log.info(\"CodeableConceptsLookupService.lookup - Executed query with value: \" + value.toString())\n\n                if (rs.next()) {\n                    log.info(\"CodeableConceptsLookupService.lookup - Parsing one result\")\n                    def code = rs.getString(\"concept_code\")\n                    result[\"${property}__code\"] = code\n                } else {\n                    result[\"${property}__code\"] = \"NOT FOUND\"\n                }\n\n                rs.close()\n                pstmt.close()\n            }\n        } catch (Exception e) {\n            log.error(\"CodeableConceptsLookupService.lookup - Lookup error: {}\", [e.message])\n            return Optional.empty()\n        } finally {\n            if (conn != null) conn.close()\n        }\n\n        log.info(\"CodeableConceptsLookupService.lookup - result values: ${result}\")\n\n        return result.isEmpty() ? Optional.empty() : Optional.of(result)\n    }\n    \n    Set<String> getRequiredKeys() {\n        return java.util.Collections.emptySet();\n    }\n    \n    @Override\n    Class<?> getValueType() {\n        return String\n    }\n\n    @Override\n    void initialize(ControllerServiceInitializationContext ctx) {\n        log.info(\"CodeableConceptsLookupService.initialize\")\n    }\n\n    @Override\n    Collection<ValidationResult> validate(ValidationContext context) {\n       null\n    }\n\n    @Override\n    PropertyDescriptor getPropertyDescriptor(String name) {\n       name.equals(DBCP_SERVICE.name) ? DBCP_SERVICE : null\n    }\n\n    @Override\n    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {\n    }\n\n    @Override\n    List<PropertyDescriptor> getPropertyDescriptors() {\n        return [DBCP_SERVICE];\n    }\n\n    @Override\n    String getIdentifier() {\n       ID\n    }\n\n    def onEnabled(configurationContext) {\n        log.info(\"CodeableConceptsLookupService.onEnabled\")\n\n        dbcpService = configurationContext.getProperty(DBCP_SERVICE)?.asControllerService(DBCPService)\n\n        if (dbcpService == null) {\n         log.error(\"CodeableConceptsLookupService.onEnabled - Could not obtain dbcpService in onEnabled.\")\n        } else {\n         log.info(\"CodeableConceptsLookupService.onEnabled - dbcpService has been set correctly.\")\n        }\n    }\n\n    def onDisabled() {\n      log.info(\"CodeableConceptsLookupService.onDisabled\")\n      //conn?.close()\n    }\n\n    def setLogger(logger) {\n        log = logger\n    }\n}\n\nlookupService = new SequenceLookupService()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"dbcpService":{"name":"dbcpService","displayName":"dbcpService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","instanceIdentifier":"ec5541d6-ce96-3e01-e83a-31530e01a417","name":"StagingDBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres:5432/eucaim-nifi-test2","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"1e47dbd9-9105-3633-913f-88ee8cc735f9","instanceIdentifier":"9b537664-5035-3537-b8cb-8603ce1b2b7a","name":"TumorLocationValueLookupService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"1":"Frontal brain region","2":"Temporal brain region","4":"Parietal brain region","5":"Occipital bran region"},"propertyDescriptors":{"1":{"name":"1","displayName":"1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"2":{"name":"2","displayName":"2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"4":{"name":"4","displayName":"4","identifiesControllerService":false,"sensitive":false,"dynamic":true},"5":{"name":"5","displayName":"5","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","instanceIdentifier":"fcb5d67c-7085-3b80-6949-6ba57e767d4a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"92a4a0ba-9ed7-31b5-9448-444980c3d608","instanceIdentifier":"802d1965-efdd-3b29-18d7-f5367d1f0f2c","name":"CSVReaderClinicalData","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"},{"identifier":"1255817c-d6ed-36e5-9f84-22fb2580ca90","instanceIdentifier":"17d17567-d436-388f-2e06-81ac4b8f319a","name":"TumorGleasonGradeValueLookupService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"Grade-1":"Grade 1 tumor","Grade-2":"Grade 2 tumor","Grade-3":"Grade 3 tumor","Grade-4":"Grade 4 tumor"},"propertyDescriptors":{"Grade-1":{"name":"Grade-1","displayName":"Grade-1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Grade-2":{"name":"Grade-2","displayName":"Grade-2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Grade-3":{"name":"Grade-3","displayName":"Grade-3","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Grade-4":{"name":"Grade-4","displayName":"Grade-4","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"14582f66-4e46-3fd9-b4d2-fe3e43af111f"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://TDC:5000/main"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}