flows/Clinical_data_loop03_transformToDB_IoA_brain.json
{"flowContents":{"identifier":"fae403e5-ee49-3145-b3d6-91d681c13065","instanceIdentifier":"2b483fce-019a-1000-69bf-6b6c2d93bdb0","name":"Clinical_data_loop03_transformToDB_IoA_brain","comments":"","position":{"x":900.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","instanceIdentifier":"8a6804cb-8e2b-3cc0-cbac-cf668e724f67","name":"SplitJson","comments":"","position":{"x":-1400.0,"y":736.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"18fa34f8-0198-1000-86c9-44c94e2eafac","instanceIdentifier":"7af4a530-a2ba-326a-4383-4db3c3993af1","name":"LookupRecordForTumorOrgan","comments":"","position":{"x":-2600.0,"y":296.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/PrimaryCancerCondition_BodySiteCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"c378b6c0-5c9d-322f-bf60-9894d57f42aa","record-update-strategy":"use-property","key":"/PrimaryCancerCondition_BodySiteCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"63fd6d43-0197-1000-845b-aeaecedf1d2a","instanceIdentifier":"1003b4f3-b136-3bd1-5f05-e9eeae107c3d","name":"StorePatientDataIfNotExist","comments":"","position":{"x":-568.0,"y":8.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT_IGNORE","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"cancerpatient","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"08faab81-0198-1000-0afa-62d21647ff3e","instanceIdentifier":"61c29e7c-85bd-34b8-8e08-96e19c3398c5","name":"LookupRecordForHealthStatusValueAsCode","comments":"","position":{"x":-2600.0,"y":944.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HealthStatus1_TestValueAsConcept_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"f0d6b77f-ae96-33f4-9931-c520c9d3424e","record-update-strategy":"use-property","key":"/HealthStatus1_TestValueAsConcept"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"63fd6d4a-0197-1000-3482-7420cd2eb231","instanceIdentifier":"1751559d-0371-3052-b1b4-5e5cd86b41ed","name":"LoadClinicalDataCSVfromStaging3","comments":"","position":{"x":-1968.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{staging_base_path}/curated_as_csv/clinical_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"(?i)^(?=.*brainCancer).*\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","instanceIdentifier":"ac88b543-10e2-3de3-c9f1-196e0043e732","name":"LookupRecordForTumorLocation","comments":"","position":{"x":-2600.0,"y":512.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Tumor_BodySiteLocation_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"43ef4c56-e547-343c-b726-01cbb34ff16e","record-update-strategy":"use-property","key":"/Tumor_BodySiteLocation"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"234aa4b4-1888-3d59-b332-2983c5cf750d","instanceIdentifier":"4d968f95-e2bf-32cc-558a-85e1763b6f9f","name":"JoltTransformJSON","comments":"","position":{"x":-1400.0,"y":512.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"results\": {\n        \"*\": \"&\"    // Mueve cada campo dentro de \"results\" al nivel raíz\n      },\n      \"*\": \"&\"      // Copia todo lo demás sin cambios\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": \"=lastElement(@(1,&))\"  // si hay arrays, toma el último elemento\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"60333d82-0198-1000-5947-0b5ca1b60642","instanceIdentifier":"c27e399e-9b7e-3ffd-4b4c-37544087f59c","name":"PrepareAuxProperties","comments":"","position":{"x":-1968.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/Procedure1_PerformedDate":"format(toDate(/\"1st Treatment Performed Date\", \"M/d/yyyy\"), \"yyyy-MM-dd\")","/ImagingProcedure_PerformedDate":"format(toDate(/\"Date of Examination\", \"M/d/yyyy\"), \"yyyy-MM-dd\")","/imagingProcedureIsPostTreatment":"/\"Imaging category\"[contains(., 'Post-Treatment')]","/Procedure1_IsSurgery":"/\"1st Treatment Code\"[contains(., 'Surgery')]","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","/imagingProcedureIsFollowUp":"/\"Imaging category\"[contains(., 'Follow up')]","/ImagingProcedure_PerformedDateForId":"format(toDate(/\"Date of Examination\", \"M/d/yyyy\"), \"yyyy_MM_dd\")","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","/Procedure1_IsRadiotherapy":"/\"1st Treatment Code\"[contains(., 'Radiotherapy')]","Replacement Value Strategy":"record-path-value","/imagingProcedureIsPreTreatment":"/\"Imaging category\"[contains(., 'Pre-Treatment')]"},"propertyDescriptors":{"/Procedure1_PerformedDate":{"name":"/Procedure1_PerformedDate","displayName":"/Procedure1_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure_PerformedDate":{"name":"/ImagingProcedure_PerformedDate","displayName":"/ImagingProcedure_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/imagingProcedureIsPostTreatment":{"name":"/imagingProcedureIsPostTreatment","displayName":"/imagingProcedureIsPostTreatment","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Procedure1_IsSurgery":{"name":"/Procedure1_IsSurgery","displayName":"/Procedure1_IsSurgery","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/imagingProcedureIsFollowUp":{"name":"/imagingProcedureIsFollowUp","displayName":"/imagingProcedureIsFollowUp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure_PerformedDateForId":{"name":"/ImagingProcedure_PerformedDateForId","displayName":"/ImagingProcedure_PerformedDateForId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/Procedure1_IsRadiotherapy":{"name":"/Procedure1_IsRadiotherapy","displayName":"/Procedure1_IsRadiotherapy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/imagingProcedureIsPreTreatment":{"name":"/imagingProcedureIsPreTreatment","displayName":"/imagingProcedureIsPreTreatment","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"41e47d7b-0198-1000-3cfc-640aa1d1fabf","instanceIdentifier":"2f6256c2-1973-3ccd-4f37-04c4a5411125","name":"StoreImagingProcedureDataIfNotExist","comments":"","position":{"x":-552.0,"y":808.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"imagingprocedure","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"41e4f520-0198-1000-90af-91796d5ca5a2","instanceIdentifier":"e77da527-0887-393f-eb4f-f1950dd3073a","name":"StoreRadiotherapyProcedureDataIfNotExist","comments":"","position":{"x":-552.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"radiotherapycoursesummary","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"8285bec1-ae50-300a-abf7-9993140af27e","instanceIdentifier":"47dbc17e-85c0-3195-742f-6469b513a563","name":"ConvertBasicDatatypes","comments":"","position":{"x":-1968.0,"y":512.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_AgeUnitConcept":"toLowerCase(/PrimaryCancerCondition_AgeUnitConcept)","/Patient_BirthSex":"toUpperCase(/Patient_BirthSex)","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex":{"name":"/Patient_BirthSex","displayName":"/Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"5020a1a8-0198-1000-7339-afa32cc85a33","instanceIdentifier":"f15a2974-b622-343b-14c1-dc838329eb37","name":"LookupRecordForHistologyMorphology","comments":"","position":{"x":-2600.0,"y":48.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"66be6d9c-0a6b-3cda-b1d3-040646c57af2","record-update-strategy":"use-property","key":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"63fd6d47-0197-1000-67db-62bac795e552","instanceIdentifier":"7253ce65-e2bf-3f4c-e8eb-62d614efeb05","name":"LogAttribute","comments":"","position":{"x":-1968.0,"y":1224.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","instanceIdentifier":"ed3e5d8d-7e1f-3b71-fa10-19356e492a87","name":"LookupRecordForCodeableConcepts","comments":"","position":{"x":-1968.0,"y":992.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","lookup_batch":"/lookup_batch","result-record-path":"/results","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","lookup-service":"f8c690be-411f-3e7a-aff3-e97d73571b97","record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup_batch":{"name":"lookup_batch","displayName":"lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"f3ed0c25-0197-1000-3947-143fe1d6a59a","instanceIdentifier":"cd188ca3-09be-3e2a-4b18-4b2fa4934944","name":"StoreCodeableConceptsMappingResults","comments":"","position":{"x":-584.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"mappedcodeableconceptsresults","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"51099c0c-0198-1000-da83-0479168ce771","instanceIdentifier":"ae6608ad-28f3-3f39-1601-67a03d36eb7f","name":"LookupRecordForProcedure","comments":"","position":{"x":-2600.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Procedure1_ProcedureCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"16da3869-c026-3d86-9ac4-3f196b2269f0","record-update-strategy":"use-property","key":"/Procedure1_ProcedureCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"899739a6-30be-3d9c-b8a7-a62344fe3a80","instanceIdentifier":"14787021-ff06-388e-57f9-4b2659eba168","name":"AddConstantValues","comments":"","position":{"x":-1968.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/Treatment1_Episode_Type":"Treatment","/PrimaryCancerCondition_AgeUnitConcept":"Year","/Dataset_Identifier":"UoA brain","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/Treatment1_Episode_Type":{"name":"/Treatment1_Episode_Type","displayName":"/Treatment1_Episode_Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Identifier":{"name":"/Dataset_Identifier","displayName":"/Dataset_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"09979af4-a283-3e9f-8715-64d01c0ab007","instanceIdentifier":"b7a1ea8f-ce4f-3526-d762-f976fb065697","name":"CleanUtilityProperties","comments":"","position":{"x":-1400.0,"y":240.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","/lookup_batch":"","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/lookup_batch":{"name":"/lookup_batch","displayName":"/lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"ebd95f4d-0197-1000-6314-88f71c8b604b","instanceIdentifier":"e1d6eaa5-db54-3b7b-1321-3c42e9e6b62d","name":"StoreEpisodeDataIfNotExist","comments":"","position":{"x":-560.0,"y":424.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"episode","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"5030dcc0-0198-1000-7d7a-07a38cb29900","instanceIdentifier":"a8f7a70c-2478-3069-c576-876cc874a288","name":"LookupRecordForImagingProcedure","comments":"","position":{"x":-2600.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/ImagingProcedure1_ProcedureCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"bdc089d8-ce89-33a9-bc17-6d0b3dfc5414","record-update-strategy":"use-property","key":"/ImagingProcedure1_ProcedureCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"51095f00-0198-1000-cd76-db6e68e2ef07","instanceIdentifier":"84ccd475-2904-3718-341f-d40f6fb3e0c8","name":"LookupRecordForRadiotherapy","comments":"","position":{"x":-2600.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Radiotherapy1_RadiotherapyCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"44b977c8-abb1-3327-86d9-b8701b7375b4","record-update-strategy":"use-property","key":"/Radiotherapy1_RadiotherapyCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"63fd6d45-0197-1000-1548-54496f528752","instanceIdentifier":"3d03623f-82c7-35d7-305b-5a8a11efc517","name":"RenameProperties","comments":"","position":{"x":-1968.0,"y":248.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/ProcedureRadiotherapy1_PerformedDate":"/Procedure1_PerformedDate","/ProcedureSurgery1_ProcedureIdentifier":"concat(/patient_id, '_procedure_treatment1')","/Episode_Type":"/\"Imaging category\"","/PrimaryCancerCondition_HistologyMorphologyBehaviourCode":"/\"Histological subtype\"","/Patient_Identifier":"/patient_id","/ProcedureRadiotherapy1_ProcedureIdentifier":"concat(/patient_id, '_procedure_treatment1')","/ImagingProcedure_ProcedureCode\t":"/\"Imaging procedure (MRI. CT MRI+CT)\"","/Treatment1_Episode_StartDate":"/Procedure1_PerformedDate","/Patient_DiagnosticCategory":"/Population","/PrimaryCancerCondition_Code":"/\"Pathology / Histological Type\"","/PrimaryCancerCondition_Identifier":"concat(/patient_id, '_cancerCondition_1')","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","Replacement Value Strategy":"record-path-value","/Episode_StartDate":"/ImagingProcedure_PerformedDate","/Episode_PatientIdentifier":"/patient_id","/Patient_BirthSex":"/\"Gender / Sex\"","/ImagingProcedure_ProcedureIdentifier":"concat(concat(/patient_id, '_imaging_procedure_'), /ImagingProcedure_PerformedDateForId)","/ProcedureSurgery1_PerformedDate":"/Procedure1_PerformedDate","/PrimaryCancerCondition_BodySiteCode":"/\"Topography : Organ\"","/PrimaryCancerCondition_AgeAtDiagnosis":"/\"Age at diagnosis\"","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","/PrimaryCancerCondition_PatientIdentifier":"/patient_id","/Treatment1_Episode_PatientIdentifier":"/patient_id"},"propertyDescriptors":{"/ProcedureRadiotherapy1_PerformedDate":{"name":"/ProcedureRadiotherapy1_PerformedDate","displayName":"/ProcedureRadiotherapy1_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ProcedureSurgery1_ProcedureIdentifier":{"name":"/ProcedureSurgery1_ProcedureIdentifier","displayName":"/ProcedureSurgery1_ProcedureIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Episode_Type":{"name":"/Episode_Type","displayName":"/Episode_Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode":{"name":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode","displayName":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_Identifier":{"name":"/Patient_Identifier","displayName":"/Patient_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ProcedureRadiotherapy1_ProcedureIdentifier":{"name":"/ProcedureRadiotherapy1_ProcedureIdentifier","displayName":"/ProcedureRadiotherapy1_ProcedureIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure_ProcedureCode\t":{"name":"/ImagingProcedure_ProcedureCode\t","displayName":"/ImagingProcedure_ProcedureCode\t","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Treatment1_Episode_StartDate":{"name":"/Treatment1_Episode_StartDate","displayName":"/Treatment1_Episode_StartDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_DiagnosticCategory":{"name":"/Patient_DiagnosticCategory","displayName":"/Patient_DiagnosticCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_Code":{"name":"/PrimaryCancerCondition_Code","displayName":"/PrimaryCancerCondition_Code","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_Identifier":{"name":"/PrimaryCancerCondition_Identifier","displayName":"/PrimaryCancerCondition_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/Episode_StartDate":{"name":"/Episode_StartDate","displayName":"/Episode_StartDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Episode_PatientIdentifier":{"name":"/Episode_PatientIdentifier","displayName":"/Episode_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex":{"name":"/Patient_BirthSex","displayName":"/Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure_ProcedureIdentifier":{"name":"/ImagingProcedure_ProcedureIdentifier","displayName":"/ImagingProcedure_ProcedureIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ProcedureSurgery1_PerformedDate":{"name":"/ProcedureSurgery1_PerformedDate","displayName":"/ProcedureSurgery1_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_BodySiteCode":{"name":"/PrimaryCancerCondition_BodySiteCode","displayName":"/PrimaryCancerCondition_BodySiteCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_AgeAtDiagnosis":{"name":"/PrimaryCancerCondition_AgeAtDiagnosis","displayName":"/PrimaryCancerCondition_AgeAtDiagnosis","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/PrimaryCancerCondition_PatientIdentifier":{"name":"/PrimaryCancerCondition_PatientIdentifier","displayName":"/PrimaryCancerCondition_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Treatment1_Episode_PatientIdentifier":{"name":"/Treatment1_Episode_PatientIdentifier","displayName":"/Treatment1_Episode_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"63fd6d48-0197-1000-0139-e659146a3f59","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6","name":"SpecificMappings","comments":"","position":{"x":-1400.0,"y":16.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"dbf-default-precision":"10","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","mapping Patient_BirthSex":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Gender / Sex' AS propertyNameOriginal,\n\t\t\"Gender / Sex\" AS originalValue,\n\t\t'Patient_BirthSex' AS propertyNameEUCAIM,\n        \"Patient_BirthSex\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Patient":"SELECT \t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Patient_Identifier\" AS Identifier,\n\t\t\"Population\" AS\tDiagnosticCategoryOriginal,\n\t\t\"Gender / Sex\" AS BirthSexOriginal,\n        \"Patient_BirthSex\" AS BirthSexEucaim\nFROM FLOWFILE","include-zero-record-flowfiles":"true","Radiotherapy":"SELECT \t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Patient_Identifier\" AS Identifier,\n\t\t\"ProcedureRadiotherapy1_ProcedureIdentifier\" AS\tProcedureIdentifier,\n\t\t\"ProcedureRadiotherapy1_PerformedDate\" AS PerformedDate\nFROM FLOWFILE\nWHERE \"Procedure1_IsRadiotherapy\" IS NOT NULL","dbf-default-scale":"0","Episode":"SELECT \t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"Episode_Type\" AS\tTypeOriginal,\n\t\t\"Episode_StartDate\" AS StartDate\nFROM FLOWFILE","Treatment1 Episode":"SELECT \t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Treatment1_Episode_PatientIdentifier\" AS PatientIdentifier,\n\t\t\"Treatment1_Episode_Type\" AS\tTypeOriginal,\n\t\t\"Treatment1_Episode_StartDate\" AS StartDate\nFROM FLOWFILE","Surgery":"SELECT \t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Patient_Identifier\" AS Identifier,\n\t\t\"ProcedureSurgery1_ProcedureIdentifier\" AS\tProcedureIdentifier,\n        \"ProcedureSurgery1_PerformedDate\" AS PerformedDate\nFROM FLOWFILE\nWHERE \"Procedure1_IsSurgery\" IS NOT NULL","mapping ImagingProcedure_ProcedureCode":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Imaging procedure (MRI. CT MRI+CT)' AS propertyNameOriginal,\n\t\t\"Imaging procedure (MRI. CT MRI+CT)\" AS originalValue,\n\t\t'ImagingProcedure_ProcedureCode' AS propertyNameEUCAIM,\n        \"ImagingProcedure_ProcedureCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Primary Cancer Condition":"SELECT \t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"PrimaryCancerCondition_Identifier\" AS Identifier,\n\t\tCAST(REPLACE(\"PrimaryCancerCondition_AgeAtDiagnosis\", ',', '.') AS DOUBLE) AS AgeOfDiagnosis,\n\t\t'Year' AS AgeUnitOriginal,\n\t\t\"PrimaryCancerCondition_AgeUnitConcept\" AS AgeUnitEUCAIM,\n\t\t\"Topography : Organ\" AS BodySiteOriginal,\n\t\t\"PrimaryCancerCondition_BodySiteCode\" AS BodySiteEUCAIM,\n\t\t\"ImagingProcedure_ProcedureIdentifier\" AS ConfirmedByProcedure,\n\t\t\"Pathology / Histological Type\" AS HistologyMorphologyBehaviourOriginal,\n\t\t\"PrimaryCancerCondition_HistologyMorphologyBehaviourCode\" AS HistologyMorphologyBehaviourEUCAIM\nFROM FLOWFILE","mapping Tumor_BodySite":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Topography : Organ' AS propertyNameOriginal,\n\t\t\"Topography : Organ\" AS originalValue,\n\t\t'PrimaryCancerCondition_BodySiteCode' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_BodySiteCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Histological subtype' AS propertyNameOriginal,\n\t\t\"Histological subtype\" AS originalValue,\n\t\t'PrimaryCancerCondition_HistologyMorphologyBehaviourCode' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_HistologyMorphologyBehaviourCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","ImagingProcedure1":"SELECT \t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Patient_Identifier\" AS Identifier,\n\t\t\"ImagingProcedure_ProcedureIdentifier\" AS\tProcedureIdentifier,\n        \"ImagingProcedure_PerformedDate\" AS PerformedDate,\n\t\t\"Imaging procedure (MRI. CT MRI+CT)\" AS ImagingProcedureOriginal,\n\t\t\"ImagingProcedure_ProcedureCode\" AS ImagingProcedureEUCAIM\nFROM FLOWFILE"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mapping Patient_BirthSex":{"name":"mapping Patient_BirthSex","displayName":"mapping Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Patient":{"name":"Patient","displayName":"Patient","identifiesControllerService":false,"sensitive":false,"dynamic":true},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Radiotherapy":{"name":"Radiotherapy","displayName":"Radiotherapy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Episode":{"name":"Episode","displayName":"Episode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Treatment1 Episode":{"name":"Treatment1 Episode","displayName":"Treatment1 Episode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Surgery":{"name":"Surgery","displayName":"Surgery","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping ImagingProcedure_ProcedureCode":{"name":"mapping ImagingProcedure_ProcedureCode","displayName":"mapping ImagingProcedure_ProcedureCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Primary Cancer Condition":{"name":"Primary Cancer Condition","displayName":"Primary Cancer Condition","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping Tumor_BodySite":{"name":"mapping Tumor_BodySite","displayName":"mapping Tumor_BodySite","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode":{"name":"mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode","displayName":"mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ImagingProcedure1":{"name":"ImagingProcedure1","displayName":"ImagingProcedure1","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#9ea53b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"cbe23709-0197-1000-53e6-50cf8c162805","instanceIdentifier":"5d8f1925-b5d4-3111-a762-7eac129ba918","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","position":{"x":-568.0,"y":208.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"primarycancercondition","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","instanceIdentifier":"87b71549-a7d4-3230-fd85-9b28533e364f","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","position":{"x":-1968.0,"y":736.0},"type":"org.apache.nifi.processors.jolt.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"jolt-record-record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Jolt Transform":"jolt-transform-chain","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n\t  \"*\": \"&\",\n      \"Patient_BirthSex\": \"lookup_batch.Patient_BirthSex\",\n\t  \"PrimaryCancerCondition_AgeUnitConcept\": \"lookup_batch.PrimaryCancerCondition_AgeUnitConcept\",\n      \"PrimaryCancerCondition_HistologyMorphologyBehaviourCode\": \"lookup_batch.PrimaryCancerCondition_HistologyMorphologyBehaviourCode\",\n      \"PrimaryCancerCondition_BodySiteCode\": \"lookup_batch.PrimaryCancerCondition_BodySiteCode\",\n      \"ImagingProcedure_ProcedureCode\": \"lookup_batch.ImagingProcedure_ProcedureCode\"\n    }\n  }\n]","jolt-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"ebe5cca4-0197-1000-97b3-0b695b23ee69","instanceIdentifier":"cc07954d-75b8-3d0d-a52a-e33087d954c2","name":"StoreCancerProcedureDataIfNotExist","comments":"","position":{"x":-552.0,"y":624.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"cancerrelatedprocedure","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"08e20eed-0198-1000-a81f-e4eb4264971c","instanceIdentifier":"404c5284-6047-3bca-a5d4-0daa72b665d5","name":"LookupRecordForTumorGleasonGrade","comments":"","position":{"x":-2600.0,"y":736.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HistologicGrade_Code_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"e786ce37-3bdc-38d9-b217-3a3127134811","record-update-strategy":"use-property","key":"/HistologicGrade_Code"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a78e70a0-d6f0-3b08-b934-3dfd0f8a11d5","instanceIdentifier":"118dfe76-11a7-357d-4c52-dea2bed68802","name":"","source":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"ac88b543-10e2-3de3-c9f1-196e0043e732"},"destination":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"404c5284-6047-3bca-a5d4-0daa72b665d5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"0ee1a475-b738-3153-a951-fec3dc284da6","instanceIdentifier":"9223eae4-530e-369a-f2e2-2bc334a98da6","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"41e4f520-0198-1000-90af-91796d5ca5a2","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StoreRadiotherapyProcedureDataIfNotExist","comments":"","instanceIdentifier":"e77da527-0887-393f-eb4f-f1950dd3073a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Radiotherapy"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"73fcd977-db89-3e93-b0aa-62c47ad57bb0","instanceIdentifier":"b4513775-8458-3c8d-bf31-f1f1cd384cee","name":"","source":{"id":"51099c0c-0198-1000-da83-0479168ce771","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForProcedure","comments":"","instanceIdentifier":"ae6608ad-28f3-3f39-1601-67a03d36eb7f"},"destination":{"id":"51095f00-0198-1000-cd76-db6e68e2ef07","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForRadiotherapy","comments":"","instanceIdentifier":"84ccd475-2904-3718-341f-d40f6fb3e0c8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"c21ea818-8eef-3929-966e-53971361e518","instanceIdentifier":"6ff5041f-9e8f-3b0e-6474-f90da32ee394","name":"","source":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"61c29e7c-85bd-34b8-8e08-96e19c3398c5"},"destination":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"87b71549-a7d4-3230-fd85-9b28533e364f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"196b1f14-c3a8-3776-a04c-c79a62f023e5","instanceIdentifier":"f3e53de4-d188-3e2d-7c1b-a40631e5496b","name":"","source":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"404c5284-6047-3bca-a5d4-0daa72b665d5"},"destination":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"61c29e7c-85bd-34b8-8e08-96e19c3398c5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"8a923eb6-ed87-3521-8646-034178a8484b","instanceIdentifier":"53dffeec-70b4-36bb-dabb-ef07ba072094","name":"","source":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"RenameProperties","comments":"","instanceIdentifier":"3d03623f-82c7-35d7-305b-5a8a11efc517"},"destination":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"47dbc17e-85c0-3195-742f-6469b513a563"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"338e0085-4235-332e-8d1e-12bb2ef2f3c9","instanceIdentifier":"3cae031c-75a2-33a4-87f1-2e75d29c9e94","name":"","source":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SplitJson","comments":"","instanceIdentifier":"8a6804cb-8e2b-3cc0-cbac-cf668e724f67"},"destination":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"JoltTransformJSON","comments":"","instanceIdentifier":"4d968f95-e2bf-32cc-558a-85e1763b6f9f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"25fedb0b-c45e-3fc7-9dd6-087cb4c8e459","instanceIdentifier":"142b3d67-95b7-3e43-d21f-ed901aa3045d","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"ebd95f4d-0197-1000-6314-88f71c8b604b","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StoreEpisodeDataIfNotExist","comments":"","instanceIdentifier":"e1d6eaa5-db54-3b7b-1321-3c42e9e6b62d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Treatment1 Episode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-804.0,"y":209.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"cf6004c6-d072-30b9-b0ea-0d7f7b8dac9a","instanceIdentifier":"8d260055-725d-3d4d-e6a2-0f7fababd229","name":"","source":{"id":"60333d82-0198-1000-5947-0b5ca1b60642","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"PrepareAuxProperties","comments":"","instanceIdentifier":"c27e399e-9b7e-3ffd-4b4c-37544087f59c"},"destination":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"RenameProperties","comments":"","instanceIdentifier":"3d03623f-82c7-35d7-305b-5a8a11efc517"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"a0893d62-a526-3a47-a467-666d68fa16d2","instanceIdentifier":"2cc914f0-c5fd-3357-2fe7-feba70d37b65","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"f3ed0c25-0197-1000-3947-143fe1d6a59a","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"cd188ca3-09be-3e2a-4b18-4b2fa4934944"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping ImagingProcedure_ProcedureCode","mapping Patient_BirthSex","mapping Tumor_BodySite","mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"245f2545-6624-33ce-97ea-13c9ead3aa60","instanceIdentifier":"64f32923-c822-386f-3170-753140f69108","name":"","source":{"id":"5020a1a8-0198-1000-7339-afa32cc85a33","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForHistologyMorphology","comments":"","instanceIdentifier":"f15a2974-b622-343b-14c1-dc838329eb37"},"destination":{"id":"18fa34f8-0198-1000-86c9-44c94e2eafac","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForTumorOrgan","comments":"","instanceIdentifier":"7af4a530-a2ba-326a-4383-4db3c3993af1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"3f3c45d9-e171-357b-998a-1b6e90b02e58","instanceIdentifier":"160e62f3-75b9-3dd4-3dff-536eca8168d0","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"ebe5cca4-0197-1000-97b3-0b695b23ee69","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StoreCancerProcedureDataIfNotExist","comments":"","instanceIdentifier":"cc07954d-75b8-3d0d-a52a-e33087d954c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Surgery"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"625c1545-4f53-32d5-8d98-2faa92877260","instanceIdentifier":"c1aa2fa5-7464-3eef-fb30-ab1959d49438","name":"","source":{"id":"51095f00-0198-1000-cd76-db6e68e2ef07","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForRadiotherapy","comments":"","instanceIdentifier":"84ccd475-2904-3718-341f-d40f6fb3e0c8"},"destination":{"id":"5030dcc0-0198-1000-7d7a-07a38cb29900","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForImagingProcedure","comments":"","instanceIdentifier":"a8f7a70c-2478-3069-c576-876cc874a288"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"63fd6d55-0197-1000-9624-d47cc89ff30c","instanceIdentifier":"2b2c918f-bec2-3a0e-cdb1-6ea911d425b7","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"63fd6d43-0197-1000-845b-aeaecedf1d2a","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StorePatientDataIfNotExist","comments":"","instanceIdentifier":"1003b4f3-b136-3bd1-5f05-e9eeae107c3d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Patient"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"f477810d-1a2c-395c-a02e-832629b6ac3e","instanceIdentifier":"1b05ec0b-72a9-3398-2908-5ec726ede4f4","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"41e47d7b-0198-1000-3cfc-640aa1d1fabf","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StoreImagingProcedureDataIfNotExist","comments":"","instanceIdentifier":"2f6256c2-1973-3ccd-4f37-04c4a5411125"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ImagingProcedure1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"4e9eb08e-0ed8-3979-9455-5e8cc0e6994d","instanceIdentifier":"d65e9805-4e55-394d-29fd-e054ba74050d","name":"","source":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"47dbc17e-85c0-3195-742f-6469b513a563"},"destination":{"id":"51099c0c-0198-1000-da83-0479168ce771","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForProcedure","comments":"","instanceIdentifier":"ae6608ad-28f3-3f39-1601-67a03d36eb7f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"fffd78de-9dd5-310f-b628-f47d01a762fd","instanceIdentifier":"89049933-8d33-3e36-1a1d-72d44358841b","name":"","source":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"AddConstantValues","comments":"","instanceIdentifier":"14787021-ff06-388e-57f9-4b2659eba168"},"destination":{"id":"60333d82-0198-1000-5947-0b5ca1b60642","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"PrepareAuxProperties","comments":"","instanceIdentifier":"c27e399e-9b7e-3ffd-4b4c-37544087f59c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"018ad2d5-dfc8-352c-965c-8ab6b561d56f","instanceIdentifier":"ef3657b5-5cae-3346-098d-ef102c6bdb0d","name":"","source":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"87b71549-a7d4-3230-fd85-9b28533e364f"},"destination":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"ed3e5d8d-7e1f-3b71-fa10-19356e492a87"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"4ae32e01-435f-3813-9f80-85e2101bda86","instanceIdentifier":"dc8fef62-a1fd-3fae-fa56-cccedf2d49f1","name":"","source":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"b7a1ea8f-ce4f-3526-d762-f976fb065697"},"destination":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"505ed881-5d38-3bf5-a833-e450e07fbe22","instanceIdentifier":"82c8d417-2519-309f-5133-8065facbd703","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"ed3e5d8d-7e1f-3b71-fa10-19356e492a87"},"destination":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SplitJson","comments":"","instanceIdentifier":"8a6804cb-8e2b-3cc0-cbac-cf668e724f67"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"a643985c-034f-3e2a-a817-c95c2b6a4f83","instanceIdentifier":"a6535662-5f7d-3085-a821-e1af03570fca","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"ed3e5d8d-7e1f-3b71-fa10-19356e492a87"},"destination":{"id":"63fd6d47-0197-1000-67db-62bac795e552","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LogAttribute","comments":"","instanceIdentifier":"7253ce65-e2bf-3f4c-e8eb-62d614efeb05"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"b9a3e1ef-0f58-3324-adfe-ce52ba35253b","instanceIdentifier":"95db12e6-e6d6-3428-ca26-d291bb9fe54e","name":"","source":{"id":"18fa34f8-0198-1000-86c9-44c94e2eafac","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForTumorOrgan","comments":"","instanceIdentifier":"7af4a530-a2ba-326a-4383-4db3c3993af1"},"destination":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"ac88b543-10e2-3de3-c9f1-196e0043e732"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"065339e0-e489-3961-ba78-24fa021b6635","instanceIdentifier":"c4a9520e-05d8-35fb-cfca-e7c12854d228","name":"","source":{"id":"5030dcc0-0198-1000-7d7a-07a38cb29900","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForImagingProcedure","comments":"","instanceIdentifier":"a8f7a70c-2478-3069-c576-876cc874a288"},"destination":{"id":"5020a1a8-0198-1000-7339-afa32cc85a33","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LookupRecordForHistologyMorphology","comments":"","instanceIdentifier":"f15a2974-b622-343b-14c1-dc838329eb37"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"cccc0f2e-4ed1-346d-8540-560a096bad02","instanceIdentifier":"3bb3c59c-ccd5-357d-30ca-7b4c0e82aa74","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"cbe23709-0197-1000-53e6-50cf8c162805","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","instanceIdentifier":"5d8f1925-b5d4-3111-a762-7eac129ba918"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Primary Cancer Condition"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"e893460d-df2b-36ab-8e95-510897b9506f","instanceIdentifier":"b591c726-39bc-39df-a2a5-e9827a187c5e","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"SpecificMappings","comments":"","instanceIdentifier":"cb4719b2-4776-39bd-733f-5d88d5bdf3d6"},"destination":{"id":"ebd95f4d-0197-1000-6314-88f71c8b604b","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"StoreEpisodeDataIfNotExist","comments":"","instanceIdentifier":"e1d6eaa5-db54-3b7b-1321-3c42e9e6b62d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Episode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"857dfc9c-28d0-3bb8-a96b-3590cfcb0f25","instanceIdentifier":"efcd3fcd-5f24-3e98-d7d5-35e54726ae6c","name":"","source":{"id":"63fd6d4a-0197-1000-3482-7420cd2eb231","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"LoadClinicalDataCSVfromStaging3","comments":"","instanceIdentifier":"1751559d-0371-3052-b1b4-5e5cd86b41ed"},"destination":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"AddConstantValues","comments":"","instanceIdentifier":"14787021-ff06-388e-57f9-4b2659eba168"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"bb4b55a4-af57-30bf-8c2c-43abc8f31984","instanceIdentifier":"dbdd0473-ee83-3366-a67d-16dd9d6f7110","name":"","source":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"JoltTransformJSON","comments":"","instanceIdentifier":"4d968f95-e2bf-32cc-558a-85e1763b6f9f"},"destination":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"fae403e5-ee49-3145-b3d6-91d681c13065","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"b7a1ea8f-ce4f-3526-d762-f976fb065697"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"}],"labels":[{"identifier":"63fd6d4f-0197-1000-90d7-0eee2e20dc36","instanceIdentifier":"fe60c1df-bcbb-37e6-9816-d7432cc62845","position":{"x":-2216.0,"y":-776.0},"label":"Loop 3 for clinical data:\n* Clinical data tabular inputs are mapped and converted to a relational model.\n* Mappings are specified during the Data Holder's analysis phase.","zIndex":0,"width":792.0,"height":112.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"}],"funnels":[],"controllerServices":[{"identifier":"e786ce37-3bdc-38d9-b217-3a3127134811","instanceIdentifier":"6bcea525-23b9-349f-963b-496ad924c525","name":"LookupTumorGradeCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorGradeCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"43ef4c56-e547-343c-b726-01cbb34ff16e","instanceIdentifier":"92a48288-0e72-3bd1-7880-6f1f253d8126","name":"LookupTumorLocationCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorLocationCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","instanceIdentifier":"0d44e68e-8deb-34ff-9878-74ce6046a3f2","name":"CSVRecordSetWriterClinicalData","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"66be6d9c-0a6b-3cda-b1d3-040646c57af2","instanceIdentifier":"ddced22e-f1ef-3350-d1eb-c34ee02419df","name":"LookupHistologyMorphologyCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupHistologyMorphologyCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"9c609a6f-495b-3ea5-9381-a06b75643a88","instanceIdentifier":"19cc6e6e-209f-3ed1-924e-f51e45f99f7f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"63fd6d42-0197-1000-a008-a8ffd8e69227","instanceIdentifier":"021201fe-c9c3-3efb-4f87-4399137dc903","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"16da3869-c026-3d86-9ac4-3f196b2269f0","instanceIdentifier":"505b1639-4eda-3f70-4393-9f014c66ad06","name":"LookupProcedureCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupProcedureCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"f0d6b77f-ae96-33f4-9931-c520c9d3424e","instanceIdentifier":"8d8f876c-567c-3b15-7969-08b8b5cac071","name":"LookupHealthStatusValueCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupHealthStatusValueCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"bdc089d8-ce89-33a9-bc17-6d0b3dfc5414","instanceIdentifier":"2e66168a-4c49-3025-7c54-ee6d6ac8f669","name":"LookupImagingProcedureCodeService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbf-default-precision":"10","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"parsedValue","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"eucaim_etl_aux.LookupImagingProcedureCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"f8c690be-411f-3e7a-aff3-e97d73571b97","instanceIdentifier":"5ac47fcc-0174-3b25-2a5d-2e92c3261d37","name":"CodeableConceptsLookupService","comments":"","type":"org.apache.nifi.lookup.script.ScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":"/scripts/CodeableConceptLookupService.groovy","dbcpService":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","Script Engine":"Groovy","Script Body":"","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"dbcpService":{"name":"dbcpService","displayName":"dbcpService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","instanceIdentifier":"c0cf80e8-6845-34d9-35cf-a1c1f41230aa","name":"StagingDBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres:5432/eucaim-nifi-test2","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"c378b6c0-5c9d-322f-bf60-9894d57f42aa","instanceIdentifier":"5c0ccada-d45f-3175-9c02-dc347ddaf2dc","name":"LookupTumorOrganCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorOrganCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"44b977c8-abb1-3327-86d9-b8701b7375b4","instanceIdentifier":"afc31708-ec4c-3bf7-8c6c-cfff9d801732","name":"LookupRadiotherapyCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupRadiotherapyCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","instanceIdentifier":"c1737c4c-6ba3-3593-b303-93e6d4cafbe9","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"},{"identifier":"92a4a0ba-9ed7-31b5-9448-444980c3d608","instanceIdentifier":"fa1e715a-4a99-3037-5a80-dd68b2479720","name":"CSVReaderClinicalData","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fae403e5-ee49-3145-b3d6-91d681c13065"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://TDC:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}