flows/Clinical_data_loop01_convertToCSV.json
{"flowContents":{"identifier":"38872032-b8a7-3004-9f88-db86d419570f","instanceIdentifier":"c2ae2ed9-0199-1000-35dd-c9de3b625a8b","name":"Clinical_data_loop01_convertToCSV","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"d2b53711-7011-3b47-9161-aed9d85b591c","instanceIdentifier":"f74f03c2-e096-39cf-c5a7-17fa29daee75","name":"MQTT","comments":"","position":{"x":-1776.0,"y":-256.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ee11492a-0197-1000-94f7-250b81ca68fb","instanceIdentifier":"7ebf9bd4-b78c-3809-cfa6-07ac6338219b","name":"PublishMQTT","comments":"","position":{"x":207.0,"y":23.199996948242188},"type":"org.apache.nifi.processors.mqtt.PublishMQTT","bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"2.3.0"},"properties":{"Client ID":null,"Last Will QoS Level":"0","Connection Timeout (seconds)":"30","record-writer":null,"Broker URI":"tcp://mqtt:1883","SSL Context Service":null,"Username":null,"Session state":"true","Session Expiry Interval":"24 hrs","Quality of Service(QoS)":"0","Last Will Message":null,"Last Will Topic":null,"record-reader":null,"message-demarcator":null,"Topic":"updates","MQTT Specification Version":"0","Keep Alive Interval (seconds)":"60","Retain Message":"false","Last Will Retain":"false"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout (seconds)":{"name":"Connection Timeout (seconds)","displayName":"Connection Timeout (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session state":{"name":"Session state","displayName":"Session state","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Expiry Interval":{"name":"Session Expiry Interval","displayName":"Session Expiry Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quality of Service(QoS)":{"name":"Quality of Service(QoS)","displayName":"Quality of Service (QoS)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic":{"name":"Topic","displayName":"Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Alive Interval (seconds)":{"name":"Keep Alive Interval (seconds)","displayName":"Keep Alive Interval (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Retain Message":{"name":"Retain Message","displayName":"Retain Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d2b53711-7011-3b47-9161-aed9d85b591c"},{"identifier":"ee11492b-0197-1000-afe2-a2fdee9f8186","instanceIdentifier":"4f4bc605-6a42-3f29-0d66-b3352ee6f97b","name":"AttributesToJSON","comments":"","position":{"x":-24.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"reportStep,reportError,reportFileId,reportData,reportCreate","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d2b53711-7011-3b47-9161-aed9d85b591c"}],"inputPorts":[{"identifier":"ee11492c-0197-1000-7a6a-e1717224cccc","instanceIdentifier":"4fb9918e-e782-3085-2ec3-104f814e0bac","name":"Value","position":{"x":-298.0,"y":-48.80000305175781},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"d2b53711-7011-3b47-9161-aed9d85b591c"}],"outputPorts":[],"connections":[{"identifier":"ee11492d-0197-1000-b45e-799be379588d","instanceIdentifier":"550a95ee-fcab-31e6-e636-9b769fb701ad","name":"","source":{"id":"ee11492c-0197-1000-7a6a-e1717224cccc","type":"INPUT_PORT","groupId":"d2b53711-7011-3b47-9161-aed9d85b591c","name":"Value","instanceIdentifier":"4fb9918e-e782-3085-2ec3-104f814e0bac"},"destination":{"id":"ee11492b-0197-1000-afe2-a2fdee9f8186","type":"PROCESSOR","groupId":"d2b53711-7011-3b47-9161-aed9d85b591c","name":"AttributesToJSON","comments":"","instanceIdentifier":"4f4bc605-6a42-3f29-0d66-b3352ee6f97b"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d2b53711-7011-3b47-9161-aed9d85b591c"},{"identifier":"ee11492e-0197-1000-e9b9-60ed0a80bc9c","instanceIdentifier":"9b90ddcb-7798-3821-d94e-979c424a71b4","name":"","source":{"id":"ee11492b-0197-1000-afe2-a2fdee9f8186","type":"PROCESSOR","groupId":"d2b53711-7011-3b47-9161-aed9d85b591c","name":"AttributesToJSON","comments":"","instanceIdentifier":"4f4bc605-6a42-3f29-0d66-b3352ee6f97b"},"destination":{"id":"ee11492a-0197-1000-94f7-250b81ca68fb","type":"PROCESSOR","groupId":"d2b53711-7011-3b47-9161-aed9d85b591c","name":"PublishMQTT","comments":"","instanceIdentifier":"7ebf9bd4-b78c-3809-cfa6-07ac6338219b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d2b53711-7011-3b47-9161-aed9d85b591c"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"59af1e73-f44b-3142-a518-e76e78c2fabf","instanceIdentifier":"f3d7e43b-145d-3306-7181-57b68a2c7c87","name":"CreateDocumentInManager","comments":"","position":{"x":-3088.0,"y":1072.0},"processGroups":[{"identifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7","instanceIdentifier":"5b5b80fe-67c4-354d-58a5-3e86384956ae","name":"MQTT","comments":"","position":{"x":736.0,"y":-144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e9b5b14a-0197-1000-a5ff-da51a3e54a65","instanceIdentifier":"f8e33f21-508f-3683-fa0e-02d5113daf7a","name":"AttributesToJSON","comments":"","position":{"x":-24.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"reportStep,reportError,reportFileId,reportData,reportCreate,reportFilename","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"},{"identifier":"e9b5b149-0197-1000-6f84-d86e8ea5f991","instanceIdentifier":"30b64d79-edb1-3aed-c2b4-c2f44e6eec3d","name":"PublishMQTT","comments":"","position":{"x":207.0,"y":23.199996948242188},"type":"org.apache.nifi.processors.mqtt.PublishMQTT","bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"2.3.0"},"properties":{"Client ID":null,"Last Will QoS Level":"0","Connection Timeout (seconds)":"30","record-writer":null,"Broker URI":"tcp://mqtt:1883","SSL Context Service":null,"Username":null,"Session state":"true","Session Expiry Interval":"24 hrs","Quality of Service(QoS)":"0","Last Will Message":null,"Last Will Topic":null,"record-reader":null,"message-demarcator":null,"Topic":"updates","MQTT Specification Version":"0","Keep Alive Interval (seconds)":"60","Retain Message":"false","Last Will Retain":"false"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout (seconds)":{"name":"Connection Timeout (seconds)","displayName":"Connection Timeout (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session state":{"name":"Session state","displayName":"Session state","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Expiry Interval":{"name":"Session Expiry Interval","displayName":"Session Expiry Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quality of Service(QoS)":{"name":"Quality of Service(QoS)","displayName":"Quality of Service (QoS)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic":{"name":"Topic","displayName":"Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Alive Interval (seconds)":{"name":"Keep Alive Interval (seconds)","displayName":"Keep Alive Interval (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Retain Message":{"name":"Retain Message","displayName":"Retain Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"}],"inputPorts":[{"identifier":"e9b5b14b-0197-1000-5d56-c5ab0be8f98d","instanceIdentifier":"698a8921-ffd3-3205-f22f-3bb56cb1e4d2","name":"Value","position":{"x":-298.0,"y":-48.80000305175781},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"}],"outputPorts":[],"connections":[{"identifier":"e9b5b14d-0197-1000-9e84-6dc67f52647c","instanceIdentifier":"a37fd16b-2097-3c26-bf82-3eb84c8df7a9","name":"","source":{"id":"e9b5b14a-0197-1000-a5ff-da51a3e54a65","type":"PROCESSOR","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"AttributesToJSON","comments":"","instanceIdentifier":"f8e33f21-508f-3683-fa0e-02d5113daf7a"},"destination":{"id":"e9b5b149-0197-1000-6f84-d86e8ea5f991","type":"PROCESSOR","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"PublishMQTT","comments":"","instanceIdentifier":"30b64d79-edb1-3aed-c2b4-c2f44e6eec3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"},{"identifier":"e9b5b14c-0197-1000-6909-ecb783caafef","instanceIdentifier":"6ed6fd9c-cf8e-3b4b-637f-78538cf76d10","name":"","source":{"id":"e9b5b14b-0197-1000-5d56-c5ab0be8f98d","type":"INPUT_PORT","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"Value","instanceIdentifier":"698a8921-ffd3-3205-f22f-3bb56cb1e4d2"},"destination":{"id":"e9b5b14a-0197-1000-a5ff-da51a3e54a65","type":"PROCESSOR","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"AttributesToJSON","comments":"","instanceIdentifier":"f8e33f21-508f-3683-fa0e-02d5113daf7a"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"59af1e73-f44b-3142-a518-e76e78c2fabf"}],"remoteProcessGroups":[],"processors":[{"identifier":"85fae478-b154-3c02-9b9c-8407551d64af","instanceIdentifier":"5d607d02-9efa-3e6a-40ca-1ddd167d7ccf","name":"UpdateAttribute","comments":"","position":{"x":65.00005027169209,"y":-124.79998887417469},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","reportFilename":"${filename}","reportCreate":"${UUID()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reportFilename":{"name":"reportFilename","displayName":"reportFilename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"reportCreate":{"name":"reportCreate","displayName":"reportCreate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"59af1e73-f44b-3142-a518-e76e78c2fabf"}],"inputPorts":[{"identifier":"3ddea463-419c-3093-92d0-234a4794a7b2","instanceIdentifier":"d9af8acb-6615-35f5-4f0b-745cb66b6aac","name":"CreatedDocument","position":{"x":-331.9999497283079,"y":-40.79998887417469},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"59af1e73-f44b-3142-a518-e76e78c2fabf"}],"outputPorts":[{"identifier":"301c43d9-59e0-3585-9898-7331b702d331","instanceIdentifier":"b10c4b28-14ce-3e73-3b3b-59efdccebe67","name":"UUID","position":{"x":608.0,"y":128.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"59af1e73-f44b-3142-a518-e76e78c2fabf"}],"connections":[{"identifier":"7d269bce-2522-3ad9-afc1-1c1138e898c3","instanceIdentifier":"cabdc9c6-b4dd-397a-1a8c-3bb2dc5ca3c0","name":"","source":{"id":"85fae478-b154-3c02-9b9c-8407551d64af","type":"PROCESSOR","groupId":"59af1e73-f44b-3142-a518-e76e78c2fabf","name":"UpdateAttribute","comments":"","instanceIdentifier":"5d607d02-9efa-3e6a-40ca-1ddd167d7ccf"},"destination":{"id":"e9b5b14b-0197-1000-5d56-c5ab0be8f98d","type":"INPUT_PORT","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"Value","instanceIdentifier":"698a8921-ffd3-3205-f22f-3bb56cb1e4d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59af1e73-f44b-3142-a518-e76e78c2fabf"},{"identifier":"a4e6b44d-bed9-37c3-ad1b-87789e44486d","instanceIdentifier":"53e2c276-a75a-3252-008c-1a3dcc40ce7d","name":"","source":{"id":"3ddea463-419c-3093-92d0-234a4794a7b2","type":"INPUT_PORT","groupId":"59af1e73-f44b-3142-a518-e76e78c2fabf","name":"CreatedDocument","instanceIdentifier":"d9af8acb-6615-35f5-4f0b-745cb66b6aac"},"destination":{"id":"85fae478-b154-3c02-9b9c-8407551d64af","type":"PROCESSOR","groupId":"59af1e73-f44b-3142-a518-e76e78c2fabf","name":"UpdateAttribute","comments":"","instanceIdentifier":"5d607d02-9efa-3e6a-40ca-1ddd167d7ccf"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59af1e73-f44b-3142-a518-e76e78c2fabf"},{"identifier":"8be94d33-b464-3389-9158-f68a5416c5ff","instanceIdentifier":"b74c15d0-b956-3c94-35f0-d48e55913b7a","name":"","source":{"id":"85fae478-b154-3c02-9b9c-8407551d64af","type":"PROCESSOR","groupId":"59af1e73-f44b-3142-a518-e76e78c2fabf","name":"UpdateAttribute","comments":"","instanceIdentifier":"5d607d02-9efa-3e6a-40ca-1ddd167d7ccf"},"destination":{"id":"301c43d9-59e0-3585-9898-7331b702d331","type":"OUTPUT_PORT","groupId":"59af1e73-f44b-3142-a518-e76e78c2fabf","name":"UUID","instanceIdentifier":"b10c4b28-14ce-3e73-3b3b-59efdccebe67"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59af1e73-f44b-3142-a518-e76e78c2fabf"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","instanceIdentifier":"465a1d17-832c-3773-9295-a8f13bba2145","name":"CreateDocumentInManager","comments":"","position":{"x":-3664.0,"y":248.0},"processGroups":[{"identifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7","instanceIdentifier":"96a6d4d2-5514-3d48-995e-f2a804c258ad","name":"MQTT","comments":"","position":{"x":736.0,"y":-144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e9b5b14a-0197-1000-a5ff-da51a3e54a65","instanceIdentifier":"4103a558-25d3-3f29-ada3-e1d9d51427fd","name":"AttributesToJSON","comments":"","position":{"x":-24.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"reportStep,reportError,reportFileId,reportData,reportCreate,reportFilename","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"},{"identifier":"e9b5b149-0197-1000-6f84-d86e8ea5f991","instanceIdentifier":"63508c2e-051e-3216-410a-5a079f16fc1d","name":"PublishMQTT","comments":"","position":{"x":207.0,"y":23.199996948242188},"type":"org.apache.nifi.processors.mqtt.PublishMQTT","bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"2.3.0"},"properties":{"Client ID":null,"Last Will QoS Level":"0","Connection Timeout (seconds)":"30","record-writer":null,"Broker URI":"tcp://mqtt:1883","SSL Context Service":null,"Username":null,"Session state":"true","Session Expiry Interval":"24 hrs","Quality of Service(QoS)":"0","Last Will Message":null,"Last Will Topic":null,"record-reader":null,"message-demarcator":null,"Topic":"updates","MQTT Specification Version":"0","Keep Alive Interval (seconds)":"60","Retain Message":"false","Last Will Retain":"false"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout (seconds)":{"name":"Connection Timeout (seconds)","displayName":"Connection Timeout (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session state":{"name":"Session state","displayName":"Session state","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Expiry Interval":{"name":"Session Expiry Interval","displayName":"Session Expiry Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quality of Service(QoS)":{"name":"Quality of Service(QoS)","displayName":"Quality of Service (QoS)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic":{"name":"Topic","displayName":"Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Alive Interval (seconds)":{"name":"Keep Alive Interval (seconds)","displayName":"Keep Alive Interval (seconds)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Retain Message":{"name":"Retain Message","displayName":"Retain Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"}],"inputPorts":[{"identifier":"e9b5b14b-0197-1000-5d56-c5ab0be8f98d","instanceIdentifier":"3e53bdd5-2637-3f90-894b-1793cb7a73c2","name":"Value","position":{"x":-298.0,"y":-48.80000305175781},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"}],"outputPorts":[],"connections":[{"identifier":"e9b5b14d-0197-1000-9e84-6dc67f52647c","instanceIdentifier":"293f53c0-a57f-3949-e6a5-2165b60269f3","name":"","source":{"id":"e9b5b14a-0197-1000-a5ff-da51a3e54a65","type":"PROCESSOR","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"AttributesToJSON","comments":"","instanceIdentifier":"4103a558-25d3-3f29-ada3-e1d9d51427fd"},"destination":{"id":"e9b5b149-0197-1000-6f84-d86e8ea5f991","type":"PROCESSOR","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"PublishMQTT","comments":"","instanceIdentifier":"63508c2e-051e-3216-410a-5a079f16fc1d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"},{"identifier":"e9b5b14c-0197-1000-6909-ecb783caafef","instanceIdentifier":"f820dc9e-4ca7-3191-6d17-bbe254f5140b","name":"","source":{"id":"e9b5b14b-0197-1000-5d56-c5ab0be8f98d","type":"INPUT_PORT","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"Value","instanceIdentifier":"3e53bdd5-2637-3f90-894b-1793cb7a73c2"},"destination":{"id":"e9b5b14a-0197-1000-a5ff-da51a3e54a65","type":"PROCESSOR","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"AttributesToJSON","comments":"","instanceIdentifier":"4103a558-25d3-3f29-ada3-e1d9d51427fd"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e9b5b148-0197-1000-6e5e-245085aa4bd7"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e"}],"remoteProcessGroups":[],"processors":[{"identifier":"85fae478-b154-3c02-9b9c-8407551d64af","instanceIdentifier":"6c1aca3f-3223-3e25-4e5b-0aee5a335db6","name":"UpdateAttribute","comments":"","position":{"x":65.00005027169209,"y":-124.79998887417469},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","reportFilename":"${filename}","reportCreate":"${UUID()}","datasetId":"${filename:substringBefore(\"_\"):toLower()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reportFilename":{"name":"reportFilename","displayName":"reportFilename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"reportCreate":{"name":"reportCreate","displayName":"reportCreate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"datasetId":{"name":"datasetId","displayName":"datasetId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e"}],"inputPorts":[{"identifier":"3ddea463-419c-3093-92d0-234a4794a7b2","instanceIdentifier":"f148b35e-157d-3c66-4782-f363c846f9cf","name":"CreatedDocument","position":{"x":-504.0,"y":-88.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e"}],"outputPorts":[{"identifier":"301c43d9-59e0-3585-9898-7331b702d331","instanceIdentifier":"608ce9a8-a618-34c4-b1a0-d2045077e9c2","name":"UUID","position":{"x":608.0,"y":128.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e"}],"connections":[{"identifier":"7d269bce-2522-3ad9-afc1-1c1138e898c3","instanceIdentifier":"cddc52a0-c7b6-3b45-4036-f4fe3b07a7db","name":"","source":{"id":"85fae478-b154-3c02-9b9c-8407551d64af","type":"PROCESSOR","groupId":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","name":"UpdateAttribute","comments":"","instanceIdentifier":"6c1aca3f-3223-3e25-4e5b-0aee5a335db6"},"destination":{"id":"e9b5b14b-0197-1000-5d56-c5ab0be8f98d","type":"INPUT_PORT","groupId":"e9b5b148-0197-1000-6e5e-245085aa4bd7","name":"Value","instanceIdentifier":"3e53bdd5-2637-3f90-894b-1793cb7a73c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e"},{"identifier":"a4e6b44d-bed9-37c3-ad1b-87789e44486d","instanceIdentifier":"c004a595-049f-31d8-4873-99640ddb4666","name":"","source":{"id":"3ddea463-419c-3093-92d0-234a4794a7b2","type":"INPUT_PORT","groupId":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","name":"CreatedDocument","instanceIdentifier":"f148b35e-157d-3c66-4782-f363c846f9cf"},"destination":{"id":"85fae478-b154-3c02-9b9c-8407551d64af","type":"PROCESSOR","groupId":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","name":"UpdateAttribute","comments":"","instanceIdentifier":"6c1aca3f-3223-3e25-4e5b-0aee5a335db6"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e"},{"identifier":"8be94d33-b464-3389-9158-f68a5416c5ff","instanceIdentifier":"3cd60c6c-36f1-37fc-e782-d2e481239c55","name":"","source":{"id":"85fae478-b154-3c02-9b9c-8407551d64af","type":"PROCESSOR","groupId":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","name":"UpdateAttribute","comments":"","instanceIdentifier":"6c1aca3f-3223-3e25-4e5b-0aee5a335db6"},"destination":{"id":"301c43d9-59e0-3585-9898-7331b702d331","type":"OUTPUT_PORT","groupId":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","name":"UUID","instanceIdentifier":"608ce9a8-a618-34c4-b1a0-d2045077e9c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"}],"remoteProcessGroups":[],"processors":[{"identifier":"e89c29a4-f2ee-397e-879d-184980ab04ee","instanceIdentifier":"c3141284-7d78-36ba-91fc-6a4560c14187","name":"ConvertJSONtoCSV","comments":"","position":{"x":-2926.335205078125,"y":784.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"c79c0623-47aa-367f-a31e-1f9922833f7a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"7c102210-b0bb-372f-91c7-ee624dc372ea","instanceIdentifier":"28fa7a4c-511c-3fda-4506-175fad9e7db7","name":"WriteClinicalDataCSVToStaging","comments":"","position":{"x":-2520.0,"y":48.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{staging_base_path}/input_as_csv/clinical_data","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"259aa5da-d35a-3924-882b-eaa88cf964b4","instanceIdentifier":"22a8b3ac-c129-34bd-5734-6a113f18a502","name":"ExecuteScript","comments":"","position":{"x":-2520.0,"y":288.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.InputStreamCallback\nimport org.apache.nifi.processor.io.OutputStreamCallback\nimport java.nio.charset.StandardCharsets\nimport java.util.regex.Pattern\n\ndef flowFile = session.get()\nif(!flowFile) return\n\ntry {\n    def rowsNumber = flowFile.getAttribute('rowsNumber')\n    if (!rowsNumber) {\n        log.warn(\"Atributo 'rowsNumber' no encontrado, se omite el FlowFile.\")\n        session.transfer(flowFile, REL_FAILURE)\n        return\n    }\n    if (rowsNumber == 'null'){\n        log.warn(\"Atributo 'rowsNumber' es null, NO se modifica el FlowFile.\")\n        session.transfer(flowFile, REL_SUCCESS)\n        return\n    }\n\tdef patternStr = /^(.*\\n)(?:[^\\r\\n]*(?:\\r?\\n|$)){${rowsNumber}}/\n\n    // Leer contenido\n    def textRef = new StringBuilder()\n    session.read(flowFile, new InputStreamCallback() {\n        @Override\n        void process(InputStream inputStream) throws IOException {\n            textRef.append(new String(inputStream.bytes, StandardCharsets.UTF_8))\n        }\n    })\n    def content = textRef.toString()\n\n    // Compilar patrón (sin DOTALL, solo MULTILINE)\n    def pattern = Pattern.compile(patternStr, Pattern.MULTILINE)\n    def matcher = pattern.matcher(content)\n\n    def result\n    if (matcher.find()) {\n        // En lugar de replaceFirst(), reconstruimos manualmente:\n        def prefix = matcher.group(1)  // la primera línea\n        def suffix = content.substring(matcher.end()) // el resto tras el bloque eliminado\n        result = prefix + suffix\n        log.info(\"✅ Match encontrado. Eliminadas líneas intermedias.\")\n    } else {\n        log.warn(\"⚠️ No hubo match con el patrón en este contenido.\")\n        result = content\n    }\n\n    // Escribir nuevo contenido\n    flowFile = session.write(flowFile, new OutputStreamCallback() {\n        @Override\n        void process(OutputStream outputStream) throws IOException {\n            outputStream.write(result.getBytes(StandardCharsets.UTF_8))\n        }\n    })\n\n    session.transfer(flowFile, REL_SUCCESS)\n\n} catch (Exception e) {\n    log.error(\"Error procesando el FlowFile: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"33697546-d652-392c-88f2-07b7b3a8fdbd","instanceIdentifier":"ed4a3e2d-5e10-3388-653c-3d066113daf1","name":"ConvertExceltoCSV","comments":"","position":{"x":-2630.335205078125,"y":1008.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"ea220cb5-ef37-3ad3-89d3-eefbff77334c"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"180bd3d6-c8ce-397b-a0a0-1fadcb9dc1bd","instanceIdentifier":"81106f3d-0596-35aa-4dbe-bfec04a63a91","name":"LoadClinicalDataJSONfromInput","comments":"","position":{"x":-3772.34716796875,"y":792.0000610351562},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{input_base_path}/clinical_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"[^\\.].*.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"3f7d6d55-9396-36e5-9359-14e8d0186668","instanceIdentifier":"ec7faf94-c3b0-30b9-b109-d7052feac957","name":"LoadClinicalDataCSVfromInput","comments":"","position":{"x":-4072.0,"y":576.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{input_base_path}/clinical_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"[^\\.].*.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"3cba22da-92b6-30ff-b6ea-e4621183b78a","instanceIdentifier":"8a68c72c-18a9-3ab7-4ca5-68721c37be37","name":"LoadClinicalDataXLSfromInput","comments":"","position":{"x":-3780.670654296875,"y":1017.664794921875},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{input_base_path}/clinical_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"[^\\.].*.xls","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"09f921ce-7487-375c-b74f-40b5d203e5d1","instanceIdentifier":"09a51e08-2621-38f1-ea92-5bcafa05feda","name":"UpdateAttribute","comments":"","position":{"x":-1760.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"reportFileId":"${reportCreate}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"reportStep":"2\t\t"},"propertyDescriptors":{"reportFileId":{"name":"reportFileId","displayName":"reportFileId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reportStep":{"name":"reportStep","displayName":"reportStep","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"b9b08fd5-0199-1000-50a1-c988bf43ddee","instanceIdentifier":"5f67f28b-155e-328d-1065-1e85624e453f","name":"LogAttribute","comments":"","position":{"x":-1888.0,"y":280.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"ef675b1f-d0f8-36b5-b01d-5f78514d66ec","instanceIdentifier":"567dcc09-840e-3ee1-2e41-8607f9a4ad81","name":"ConvertCSVtoCSV","comments":"","position":{"x":-3464.0,"y":576.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"1127426a-e93c-3015-ae1c-7d702ace7cb9","instanceIdentifier":"420d150d-20ed-3971-7bf6-08b7acd7a6b3","name":"RenameOutputFileToCSV","comments":"","position":{"x":-2630.335205078125,"y":568.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace('.json', ''):replace('.csv', ''):append('_'):append(${reportCreate}):append('.csv')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"549df1dc-1dc2-333d-8ac1-5dacdae20af2","instanceIdentifier":"9520cc2b-42a8-3888-efa7-8ce86c6c0189","name":"LookupAttribute","comments":"","position":{"x":-3160.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LookupAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"rowsNumber":"${datasetId}","lookup-service":"7ad4af3e-d48b-31c6-be0c-fe07a5d888c9","include-empty-values":"true"},"propertyDescriptors":{"rowsNumber":{"name":"rowsNumber","displayName":"rowsNumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-empty-values":{"name":"include-empty-values","displayName":"Include Empty Values","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"30ec26cf-6284-30da-a9d9-4aeb7bafd5f0","instanceIdentifier":"d66e6c67-b63f-3e75-312c-90c342e43ede","name":"","source":{"id":"ef675b1f-d0f8-36b5-b01d-5f78514d66ec","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ConvertCSVtoCSV","comments":"","instanceIdentifier":"567dcc09-840e-3ee1-2e41-8607f9a4ad81"},"destination":{"id":"1127426a-e93c-3015-ae1c-7d702ace7cb9","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"RenameOutputFileToCSV","comments":"","instanceIdentifier":"420d150d-20ed-3971-7bf6-08b7acd7a6b3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"721934ab-9055-34db-bff8-79987afe77c0","instanceIdentifier":"fc2a05db-3e79-3f44-6a1e-a5a352c8a220","name":"","source":{"id":"7c102210-b0bb-372f-91c7-ee624dc372ea","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"WriteClinicalDataCSVToStaging","comments":"","instanceIdentifier":"28fa7a4c-511c-3fda-4506-175fad9e7db7"},"destination":{"id":"09f921ce-7487-375c-b74f-40b5d203e5d1","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"UpdateAttribute","comments":"","instanceIdentifier":"09a51e08-2621-38f1-ea92-5bcafa05feda"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"c29b6836-1230-3255-88f3-c1ed5e57cf93","instanceIdentifier":"e12d422b-6320-3bf1-448f-dbfdd6c2fca2","name":"","source":{"id":"259aa5da-d35a-3924-882b-eaa88cf964b4","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ExecuteScript","comments":"","instanceIdentifier":"22a8b3ac-c129-34bd-5734-6a113f18a502"},"destination":{"id":"b9b08fd5-0199-1000-50a1-c988bf43ddee","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"LogAttribute","comments":"","instanceIdentifier":"5f67f28b-155e-328d-1065-1e85624e453f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"c2c35d71-39e1-3c47-a6a5-2adb4fadd3c3","instanceIdentifier":"a91a5adb-8179-38f3-f14f-f0d9eada9faf","name":"","source":{"id":"259aa5da-d35a-3924-882b-eaa88cf964b4","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ExecuteScript","comments":"","instanceIdentifier":"22a8b3ac-c129-34bd-5734-6a113f18a502"},"destination":{"id":"7c102210-b0bb-372f-91c7-ee624dc372ea","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"WriteClinicalDataCSVToStaging","comments":"","instanceIdentifier":"28fa7a4c-511c-3fda-4506-175fad9e7db7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"501347bd-ed38-3dc6-82e3-4cc25fe9d290","instanceIdentifier":"4f515448-0ca3-30aa-1566-8a4f078ac4b4","name":"","source":{"id":"33697546-d652-392c-88f2-07b7b3a8fdbd","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ConvertExceltoCSV","comments":"","instanceIdentifier":"ed4a3e2d-5e10-3388-653c-3d066113daf1"},"destination":{"id":"1127426a-e93c-3015-ae1c-7d702ace7cb9","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"RenameOutputFileToCSV","comments":"","instanceIdentifier":"420d150d-20ed-3971-7bf6-08b7acd7a6b3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"08559705-336a-346b-a948-78170a14f549","instanceIdentifier":"3c84af3a-0b63-384b-b280-5799e937aa9a","name":"","source":{"id":"3f7d6d55-9396-36e5-9359-14e8d0186668","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"LoadClinicalDataCSVfromInput","comments":"","instanceIdentifier":"ec7faf94-c3b0-30b9-b109-d7052feac957"},"destination":{"id":"3ddea463-419c-3093-92d0-234a4794a7b2","type":"INPUT_PORT","groupId":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","name":"CreatedDocument","instanceIdentifier":"f148b35e-157d-3c66-4782-f363c846f9cf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"4c08c4c2-af4f-396b-8b0a-68585b096504","instanceIdentifier":"c7955731-1d90-376c-5288-267aa7500709","name":"","source":{"id":"180bd3d6-c8ce-397b-a0a0-1fadcb9dc1bd","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"LoadClinicalDataJSONfromInput","comments":"","instanceIdentifier":"81106f3d-0596-35aa-4dbe-bfec04a63a91"},"destination":{"id":"e89c29a4-f2ee-397e-879d-184980ab04ee","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ConvertJSONtoCSV","comments":"","instanceIdentifier":"c3141284-7d78-36ba-91fc-6a4560c14187"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"a17ecac2-2ef5-3ce5-b88c-0cd89136d530","instanceIdentifier":"4f4d943b-7649-3f42-fc9e-a8e4ce298a74","name":"","source":{"id":"301c43d9-59e0-3585-9898-7331b702d331","type":"OUTPUT_PORT","groupId":"88dbaf96-9a50-3d7c-ac5f-2c1379e9a71e","name":"UUID","instanceIdentifier":"608ce9a8-a618-34c4-b1a0-d2045077e9c2"},"destination":{"id":"ef675b1f-d0f8-36b5-b01d-5f78514d66ec","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ConvertCSVtoCSV","comments":"","instanceIdentifier":"567dcc09-840e-3ee1-2e41-8607f9a4ad81"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"7694eeac-ab76-37d9-b957-d5c1be10ea16","instanceIdentifier":"17f43821-6ad1-3e9e-da02-172c7ae88eb0","name":"","source":{"id":"e89c29a4-f2ee-397e-879d-184980ab04ee","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ConvertJSONtoCSV","comments":"","instanceIdentifier":"c3141284-7d78-36ba-91fc-6a4560c14187"},"destination":{"id":"1127426a-e93c-3015-ae1c-7d702ace7cb9","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"RenameOutputFileToCSV","comments":"","instanceIdentifier":"420d150d-20ed-3971-7bf6-08b7acd7a6b3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"98f89951-073e-3ba4-885e-b1d052cea094","instanceIdentifier":"db15d9f1-0a1a-35e9-b822-3ead6570a284","name":"","source":{"id":"3cba22da-92b6-30ff-b6ea-e4621183b78a","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"LoadClinicalDataXLSfromInput","comments":"","instanceIdentifier":"8a68c72c-18a9-3ab7-4ca5-68721c37be37"},"destination":{"id":"3ddea463-419c-3093-92d0-234a4794a7b2","type":"INPUT_PORT","groupId":"59af1e73-f44b-3142-a518-e76e78c2fabf","name":"CreatedDocument","instanceIdentifier":"d9af8acb-6615-35f5-4f0b-745cb66b6aac"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"db926535-8773-377b-80ee-fe9fb50be300","instanceIdentifier":"4851496d-9d81-35d0-efb9-7a960eef8255","name":"","source":{"id":"549df1dc-1dc2-333d-8ac1-5dacdae20af2","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"LookupAttribute","comments":"","instanceIdentifier":"9520cc2b-42a8-3888-efa7-8ce86c6c0189"},"destination":{"id":"259aa5da-d35a-3924-882b-eaa88cf964b4","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ExecuteScript","comments":"","instanceIdentifier":"22a8b3ac-c129-34bd-5734-6a113f18a502"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"0bc6851c-5a7f-3148-b17b-9ca6ccfc6d37","instanceIdentifier":"ab13fa3f-7eba-3959-2660-4b42d51d5547","name":"","source":{"id":"301c43d9-59e0-3585-9898-7331b702d331","type":"OUTPUT_PORT","groupId":"59af1e73-f44b-3142-a518-e76e78c2fabf","name":"UUID","instanceIdentifier":"b10c4b28-14ce-3e73-3b3b-59efdccebe67"},"destination":{"id":"33697546-d652-392c-88f2-07b7b3a8fdbd","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"ConvertExceltoCSV","comments":"","instanceIdentifier":"ed4a3e2d-5e10-3388-653c-3d066113daf1"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"80dff5c1-4372-3505-b672-39a497af33fc","instanceIdentifier":"da9a7ec8-3359-3f8c-fc24-e3ef7393b3ed","name":"","source":{"id":"09f921ce-7487-375c-b74f-40b5d203e5d1","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"UpdateAttribute","comments":"","instanceIdentifier":"09a51e08-2621-38f1-ea92-5bcafa05feda"},"destination":{"id":"ee11492c-0197-1000-7a6a-e1717224cccc","type":"INPUT_PORT","groupId":"d2b53711-7011-3b47-9161-aed9d85b591c","name":"Value","instanceIdentifier":"4fb9918e-e782-3085-2ec3-104f814e0bac"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"8ccadde0-2ea4-39a5-aca7-9da6159caaa4","instanceIdentifier":"0615b0b8-d696-3095-8d42-969fbe98c86e","name":"","source":{"id":"1127426a-e93c-3015-ae1c-7d702ace7cb9","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"RenameOutputFileToCSV","comments":"","instanceIdentifier":"420d150d-20ed-3971-7bf6-08b7acd7a6b3"},"destination":{"id":"549df1dc-1dc2-333d-8ac1-5dacdae20af2","type":"PROCESSOR","groupId":"38872032-b8a7-3004-9f88-db86d419570f","name":"LookupAttribute","comments":"","instanceIdentifier":"9520cc2b-42a8-3888-efa7-8ce86c6c0189"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"}],"labels":[{"identifier":"d843b1c7-6dd5-3975-85cc-ceafac102a68","instanceIdentifier":"5dc7a69a-0511-3aa7-d50c-f3c2620851e0","position":{"x":-3488.0,"y":152.0},"label":"Loop 1 for clinical data: convert to homogeneus tabular CSV files","zIndex":0,"width":664.0,"height":64.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"}],"funnels":[],"controllerServices":[{"identifier":"c79c0623-47aa-367f-a31e-1f9922833f7a","instanceIdentifier":"02c98879-d09e-34b8-39a9-f70dac9d185d","name":"JsonTreeReaderClinicalData","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","instanceIdentifier":"be6652a2-56b5-342e-e808-c98443e33fbb","name":"CSVRecordSetWriterClinicalData","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"ea220cb5-ef37-3ad3-89d3-eefbff77334c","instanceIdentifier":"64436628-7992-3c8b-f42a-091843aac5df","name":"ExcelReaderClinicalData","comments":"","type":"org.apache.nifi.excel.ExcelReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Required Sheets":null,"Timestamp Format":null,"Date Format":null,"schema-name":"${schema.name}","schema-registry":null,"Starting Row":"1","Protection Type":"UNPROTECTED","Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Required Sheets":{"name":"Required Sheets","displayName":"Required Sheets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Row":{"name":"Starting Row","displayName":"Starting Row","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Protection Type":{"name":"Protection Type","displayName":"Protection Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"16db941e-8936-3447-b964-1bb424b94ffb","instanceIdentifier":"50e1ee56-d426-3027-de2f-4ecb4f64e7d1","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres:5432/eucaim-nifi-test2","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"7ad4af3e-d48b-31c6-be0c-fe07a5d888c9","instanceIdentifier":"66ea34fb-b024-3019-a6a8-1f37e3b6b0d7","name":"LookupCleanHeaderNumberRowsService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"16db941e-8936-3447-b964-1bb424b94ffb","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"LookupHeaderRowsToRemove"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"},{"identifier":"92a4a0ba-9ed7-31b5-9448-444980c3d608","instanceIdentifier":"b321c51d-7a13-33ed-8883-cd3594a32124","name":"CSVReaderClinicalData","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"38872032-b8a7-3004-9f88-db86d419570f"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://TDC:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}