flows/Clinical_data_loop02_TDCexecution.json
{
    "flowContents": {
        "identifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
        "instanceIdentifier": "f9aeadaf-0197-1000-54f7-8df24ea38b59",
        "name": "Clinical_data_loop02_TDCexecution",
        "comments": "",
        "position": {
            "x": 450,
            "y": 0
        },
        "processGroups": [
            {
                "identifier": "eebed167-0197-1000-c735-6288809c3bce",
                "instanceIdentifier": "a3dda0db-a782-354c-8b00-5d99a5f7d318",
                "name": "MQTT",
                "comments": "",
                "position": {
                    "x": 696,
                    "y": 96
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "ee11492a-0197-1000-94f7-250b81ca68fb",
                        "instanceIdentifier": "6950c57f-6f7c-3229-20f9-0820425c55ae",
                        "name": "PublishMQTT",
                        "comments": "",
                        "position": {
                            "x": 207,
                            "y": 23.199996948242188
                        },
                        "type": "org.apache.nifi.processors.mqtt.PublishMQTT",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-mqtt-nar",
                            "version": "2.3.0"
                        },
                        "properties": {
                            "Client ID": null,
                            "Last Will QoS Level": "0",
                            "Connection Timeout (seconds)": "30",
                            "record-writer": null,
                            "Broker URI": "tcp://mqtt:1883",
                            "SSL Context Service": null,
                            "Username": null,
                            "Session state": "true",
                            "Session Expiry Interval": "24 hrs",
                            "Quality of Service(QoS)": "0",
                            "Last Will Message": null,
                            "Last Will Topic": null,
                            "record-reader": null,
                            "message-demarcator": null,
                            "Topic": "updates",
                            "MQTT Specification Version": "0",
                            "Keep Alive Interval (seconds)": "60",
                            "Retain Message": "false",
                            "Last Will Retain": "false"
                        },
                        "propertyDescriptors": {
                            "Client ID": {
                                "name": "Client ID",
                                "displayName": "Client ID",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will QoS Level": {
                                "name": "Last Will QoS Level",
                                "displayName": "Last Will QoS Level",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Connection Timeout (seconds)": {
                                "name": "Connection Timeout (seconds)",
                                "displayName": "Connection Timeout (seconds)",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "record-writer": {
                                "name": "record-writer",
                                "displayName": "Record Writer",
                                "identifiesControllerService": true,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Broker URI": {
                                "name": "Broker URI",
                                "displayName": "Broker URI",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "SSL Context Service": {
                                "name": "SSL Context Service",
                                "displayName": "SSL Context Service",
                                "identifiesControllerService": true,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Username": {
                                "name": "Username",
                                "displayName": "Username",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Session state": {
                                "name": "Session state",
                                "displayName": "Session state",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Session Expiry Interval": {
                                "name": "Session Expiry Interval",
                                "displayName": "Session Expiry Interval",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Quality of Service(QoS)": {
                                "name": "Quality of Service(QoS)",
                                "displayName": "Quality of Service (QoS)",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will Message": {
                                "name": "Last Will Message",
                                "displayName": "Last Will Message",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will Topic": {
                                "name": "Last Will Topic",
                                "displayName": "Last Will Topic",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "record-reader": {
                                "name": "record-reader",
                                "displayName": "Record Reader",
                                "identifiesControllerService": true,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "message-demarcator": {
                                "name": "message-demarcator",
                                "displayName": "Message Demarcator",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Topic": {
                                "name": "Topic",
                                "displayName": "Topic",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "MQTT Specification Version": {
                                "name": "MQTT Specification Version",
                                "displayName": "MQTT Specification Version",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Keep Alive Interval (seconds)": {
                                "name": "Keep Alive Interval (seconds)",
                                "displayName": "Keep Alive Interval (seconds)",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Password": {
                                "name": "Password",
                                "displayName": "Password",
                                "identifiesControllerService": false,
                                "sensitive": true,
                                "dynamic": false
                            },
                            "Retain Message": {
                                "name": "Retain Message",
                                "displayName": "Retain Message",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will Retain": {
                                "name": "Last Will Retain",
                                "displayName": "Last Will Retain",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "success",
                            "failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "eebed167-0197-1000-c735-6288809c3bce"
                    },
                    {
                        "identifier": "ee11492b-0197-1000-afe2-a2fdee9f8186",
                        "instanceIdentifier": "4a8b21b0-698e-39e7-2a89-fda3367307f9",
                        "name": "AttributesToJSON",
                        "comments": "",
                        "position": {
                            "x": -24,
                            "y": -168
                        },
                        "type": "org.apache.nifi.processors.standard.AttributesToJSON",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "2.3.0"
                        },
                        "properties": {
                            "attributes-to-json-regex": null,
                            "Destination": "flowfile-content",
                            "Null Value": "false",
                            "Attributes List": "reportStep,reportError,reportFileId,reportData,reportCreate",
                            "Pretty Print": "false",
                            "Include Core Attributes": "true",
                            "JSON Handling Strategy": "ESCAPED"
                        },
                        "propertyDescriptors": {
                            "attributes-to-json-regex": {
                                "name": "attributes-to-json-regex",
                                "displayName": "Attributes Regular Expression",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Destination": {
                                "name": "Destination",
                                "displayName": "Destination",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Null Value": {
                                "name": "Null Value",
                                "displayName": "Null Value",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Attributes List": {
                                "name": "Attributes List",
                                "displayName": "Attributes List",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Pretty Print": {
                                "name": "Pretty Print",
                                "displayName": "Pretty Print",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Include Core Attributes": {
                                "name": "Include Core Attributes",
                                "displayName": "Include Core Attributes",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "JSON Handling Strategy": {
                                "name": "JSON Handling Strategy",
                                "displayName": "JSON Handling Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "eebed167-0197-1000-c735-6288809c3bce"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "ee11492c-0197-1000-7a6a-e1717224cccc",
                        "instanceIdentifier": "e3d47f8c-6250-3e5c-feaa-1aef049495fb",
                        "name": "Value",
                        "position": {
                            "x": -298,
                            "y": -48.80000305175781
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "portFunction": "STANDARD",
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "eebed167-0197-1000-c735-6288809c3bce"
                    }
                ],
                "outputPorts": [],
                "connections": [
                    {
                        "identifier": "ee11492d-0197-1000-b45e-799be379588d",
                        "instanceIdentifier": "f641ea8f-9366-3128-81fc-8c97fe5ff361",
                        "name": "",
                        "source": {
                            "id": "ee11492c-0197-1000-7a6a-e1717224cccc",
                            "type": "INPUT_PORT",
                            "groupId": "eebed167-0197-1000-c735-6288809c3bce",
                            "name": "Value",
                            "instanceIdentifier": "e3d47f8c-6250-3e5c-feaa-1aef049495fb"
                        },
                        "destination": {
                            "id": "ee11492b-0197-1000-afe2-a2fdee9f8186",
                            "type": "PROCESSOR",
                            "groupId": "eebed167-0197-1000-c735-6288809c3bce",
                            "name": "AttributesToJSON",
                            "comments": "",
                            "instanceIdentifier": "4a8b21b0-698e-39e7-2a89-fda3367307f9"
                        },
                        "labelIndex": 0,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "eebed167-0197-1000-c735-6288809c3bce"
                    },
                    {
                        "identifier": "ee11492e-0197-1000-e9b9-60ed0a80bc9c",
                        "instanceIdentifier": "71e70703-bdc8-3da7-4838-ba74003aee63",
                        "name": "",
                        "source": {
                            "id": "ee11492b-0197-1000-afe2-a2fdee9f8186",
                            "type": "PROCESSOR",
                            "groupId": "eebed167-0197-1000-c735-6288809c3bce",
                            "name": "AttributesToJSON",
                            "comments": "",
                            "instanceIdentifier": "4a8b21b0-698e-39e7-2a89-fda3367307f9"
                        },
                        "destination": {
                            "id": "ee11492a-0197-1000-94f7-250b81ca68fb",
                            "type": "PROCESSOR",
                            "groupId": "eebed167-0197-1000-c735-6288809c3bce",
                            "name": "PublishMQTT",
                            "comments": "",
                            "instanceIdentifier": "6950c57f-6f7c-3229-20f9-0820425c55ae"
                        },
                        "labelIndex": 0,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "eebed167-0197-1000-c735-6288809c3bce"
                    }
                ],
                "labels": [],
                "funnels": [],
                "controllerServices": [],
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "scheduledState": "ENABLED",
                "executionEngine": "INHERITED",
                "maxConcurrentTasks": 1,
                "statelessFlowTimeout": "1 min",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "componentType": "PROCESS_GROUP",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "126b7673-a753-33a2-8595-e16ec7d87afa",
                "instanceIdentifier": "132454db-7cae-35bc-466d-d8335db3fb84",
                "name": "MQTT",
                "comments": "",
                "position": {
                    "x": -552,
                    "y": -944
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "ee11492a-0197-1000-94f7-250b81ca68fb",
                        "instanceIdentifier": "a70d7195-2c81-3726-1325-e9ef1c0a7d98",
                        "name": "PublishMQTT",
                        "comments": "",
                        "position": {
                            "x": 207,
                            "y": 23.199996948242188
                        },
                        "type": "org.apache.nifi.processors.mqtt.PublishMQTT",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-mqtt-nar",
                            "version": "2.3.0"
                        },
                        "properties": {
                            "Client ID": null,
                            "Last Will QoS Level": "0",
                            "Connection Timeout (seconds)": "30",
                            "record-writer": null,
                            "Broker URI": "tcp://mqtt:1883",
                            "SSL Context Service": null,
                            "Username": null,
                            "Session state": "true",
                            "Session Expiry Interval": "24 hrs",
                            "Quality of Service(QoS)": "0",
                            "Last Will Message": null,
                            "Last Will Topic": null,
                            "record-reader": null,
                            "message-demarcator": null,
                            "Topic": "updates",
                            "MQTT Specification Version": "0",
                            "Keep Alive Interval (seconds)": "60",
                            "Retain Message": "false",
                            "Last Will Retain": "false"
                        },
                        "propertyDescriptors": {
                            "Client ID": {
                                "name": "Client ID",
                                "displayName": "Client ID",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will QoS Level": {
                                "name": "Last Will QoS Level",
                                "displayName": "Last Will QoS Level",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Connection Timeout (seconds)": {
                                "name": "Connection Timeout (seconds)",
                                "displayName": "Connection Timeout (seconds)",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "record-writer": {
                                "name": "record-writer",
                                "displayName": "Record Writer",
                                "identifiesControllerService": true,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Broker URI": {
                                "name": "Broker URI",
                                "displayName": "Broker URI",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "SSL Context Service": {
                                "name": "SSL Context Service",
                                "displayName": "SSL Context Service",
                                "identifiesControllerService": true,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Username": {
                                "name": "Username",
                                "displayName": "Username",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Session state": {
                                "name": "Session state",
                                "displayName": "Session state",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Session Expiry Interval": {
                                "name": "Session Expiry Interval",
                                "displayName": "Session Expiry Interval",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Quality of Service(QoS)": {
                                "name": "Quality of Service(QoS)",
                                "displayName": "Quality of Service (QoS)",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will Message": {
                                "name": "Last Will Message",
                                "displayName": "Last Will Message",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will Topic": {
                                "name": "Last Will Topic",
                                "displayName": "Last Will Topic",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "record-reader": {
                                "name": "record-reader",
                                "displayName": "Record Reader",
                                "identifiesControllerService": true,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "message-demarcator": {
                                "name": "message-demarcator",
                                "displayName": "Message Demarcator",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Topic": {
                                "name": "Topic",
                                "displayName": "Topic",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "MQTT Specification Version": {
                                "name": "MQTT Specification Version",
                                "displayName": "MQTT Specification Version",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Keep Alive Interval (seconds)": {
                                "name": "Keep Alive Interval (seconds)",
                                "displayName": "Keep Alive Interval (seconds)",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Password": {
                                "name": "Password",
                                "displayName": "Password",
                                "identifiesControllerService": false,
                                "sensitive": true,
                                "dynamic": false
                            },
                            "Retain Message": {
                                "name": "Retain Message",
                                "displayName": "Retain Message",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Last Will Retain": {
                                "name": "Last Will Retain",
                                "displayName": "Last Will Retain",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "success",
                            "failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "126b7673-a753-33a2-8595-e16ec7d87afa"
                    },
                    {
                        "identifier": "ee11492b-0197-1000-afe2-a2fdee9f8186",
                        "instanceIdentifier": "237087fc-241e-3b88-6928-02e9bec6ba98",
                        "name": "AttributesToJSON",
                        "comments": "",
                        "position": {
                            "x": -24,
                            "y": -168
                        },
                        "type": "org.apache.nifi.processors.standard.AttributesToJSON",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "2.3.0"
                        },
                        "properties": {
                            "attributes-to-json-regex": null,
                            "Destination": "flowfile-content",
                            "Null Value": "false",
                            "Attributes List": "reportStep,reportError,reportFileId,reportData,reportCreate",
                            "Pretty Print": "false",
                            "Include Core Attributes": "true",
                            "JSON Handling Strategy": "ESCAPED"
                        },
                        "propertyDescriptors": {
                            "attributes-to-json-regex": {
                                "name": "attributes-to-json-regex",
                                "displayName": "Attributes Regular Expression",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Destination": {
                                "name": "Destination",
                                "displayName": "Destination",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Null Value": {
                                "name": "Null Value",
                                "displayName": "Null Value",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Attributes List": {
                                "name": "Attributes List",
                                "displayName": "Attributes List",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Pretty Print": {
                                "name": "Pretty Print",
                                "displayName": "Pretty Print",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "Include Core Attributes": {
                                "name": "Include Core Attributes",
                                "displayName": "Include Core Attributes",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            },
                            "JSON Handling Strategy": {
                                "name": "JSON Handling Strategy",
                                "displayName": "JSON Handling Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "dynamic": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "126b7673-a753-33a2-8595-e16ec7d87afa"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "ee11492c-0197-1000-7a6a-e1717224cccc",
                        "instanceIdentifier": "1317e6e1-ba97-3847-55c7-e2a3780ea611",
                        "name": "Value",
                        "position": {
                            "x": -298,
                            "y": -48.80000305175781
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "portFunction": "STANDARD",
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "126b7673-a753-33a2-8595-e16ec7d87afa"
                    }
                ],
                "outputPorts": [],
                "connections": [
                    {
                        "identifier": "ee11492d-0197-1000-b45e-799be379588d",
                        "instanceIdentifier": "432be939-a832-3314-2af3-c5a3b7668999",
                        "name": "",
                        "source": {
                            "id": "ee11492c-0197-1000-7a6a-e1717224cccc",
                            "type": "INPUT_PORT",
                            "groupId": "126b7673-a753-33a2-8595-e16ec7d87afa",
                            "name": "Value",
                            "instanceIdentifier": "1317e6e1-ba97-3847-55c7-e2a3780ea611"
                        },
                        "destination": {
                            "id": "ee11492b-0197-1000-afe2-a2fdee9f8186",
                            "type": "PROCESSOR",
                            "groupId": "126b7673-a753-33a2-8595-e16ec7d87afa",
                            "name": "AttributesToJSON",
                            "comments": "",
                            "instanceIdentifier": "237087fc-241e-3b88-6928-02e9bec6ba98"
                        },
                        "labelIndex": 0,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "126b7673-a753-33a2-8595-e16ec7d87afa"
                    },
                    {
                        "identifier": "ee11492e-0197-1000-e9b9-60ed0a80bc9c",
                        "instanceIdentifier": "daf37e6a-ccda-342e-541a-2bf44ff8243d",
                        "name": "",
                        "source": {
                            "id": "ee11492b-0197-1000-afe2-a2fdee9f8186",
                            "type": "PROCESSOR",
                            "groupId": "126b7673-a753-33a2-8595-e16ec7d87afa",
                            "name": "AttributesToJSON",
                            "comments": "",
                            "instanceIdentifier": "237087fc-241e-3b88-6928-02e9bec6ba98"
                        },
                        "destination": {
                            "id": "ee11492a-0197-1000-94f7-250b81ca68fb",
                            "type": "PROCESSOR",
                            "groupId": "126b7673-a753-33a2-8595-e16ec7d87afa",
                            "name": "PublishMQTT",
                            "comments": "",
                            "instanceIdentifier": "a70d7195-2c81-3726-1325-e9ef1c0a7d98"
                        },
                        "labelIndex": 0,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "126b7673-a753-33a2-8595-e16ec7d87afa"
                    }
                ],
                "labels": [],
                "funnels": [],
                "controllerServices": [],
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "scheduledState": "ENABLED",
                "executionEngine": "INHERITED",
                "maxConcurrentTasks": 1,
                "statelessFlowTimeout": "1 min",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "componentType": "PROCESS_GROUP",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            }
        ],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "dde71598-7b4e-3e61-9e89-070ccb03680a",
                "instanceIdentifier": "277e2ef4-2244-354c-bcc7-0a95beceb098",
                "name": "LoadCuratedClinicalDataXLS",
                "comments": "",
                "position": {
                    "x": -40,
                    "y": -632
                },
                "type": "org.apache.nifi.processors.standard.GetFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Keep Source File": "false",
                    "Minimum File Age": "0 sec",
                    "Polling Interval": "0 sec",
                    "Input Directory": "#{TDC results path}",
                    "Maximum File Age": null,
                    "Batch Size": "10",
                    "Maximum File Size": null,
                    "Minimum File Size": "0 B",
                    "Ignore Hidden Files": "true",
                    "Recurse Subdirectories": "false",
                    "File Filter": ".*_curated_dataset\\.xlsx$",
                    "Path Filter": null
                },
                "propertyDescriptors": {
                    "Keep Source File": {
                        "name": "Keep Source File",
                        "displayName": "Keep Source File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Polling Interval": {
                        "name": "Polling Interval",
                        "displayName": "Polling Interval",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Input Directory": {
                        "name": "Input Directory",
                        "displayName": "Input Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Size": {
                        "name": "Maximum File Size",
                        "displayName": "Maximum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Size": {
                        "name": "Minimum File Size",
                        "displayName": "Minimum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore Hidden Files": {
                        "name": "Ignore Hidden Files",
                        "displayName": "Ignore Hidden Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Filter": {
                        "name": "File Filter",
                        "displayName": "File Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Path Filter": {
                        "name": "Path Filter",
                        "displayName": "Path Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#bf88dd"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "7a0629d7-1d99-39fc-a4a7-e92688c24e13",
                "instanceIdentifier": "d575f514-13a4-3f13-74a7-36dd13091387",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -48,
                    "y": -952
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "reportFileId": "${filename:replaceFirst('^([0-9a-fA-F\\\\-]+)_.*$', '$1')}",
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null,
                    "reportStep": "4"
                },
                "propertyDescriptors": {
                    "reportFileId": {
                        "name": "reportFileId",
                        "displayName": "reportFileId",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "reportStep": {
                        "name": "reportStep",
                        "displayName": "reportStep",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "0e32b906-70ba-3b15-b101-8f26c16885fe",
                "instanceIdentifier": "784060ff-b9af-3776-6ce5-f325bfc98064",
                "name": "InvokeHTTP",
                "comments": "",
                "position": {
                    "x": 160,
                    "y": -136
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Request Content-Encoding": "DISABLED",
                    "proxy-configuration-service": null,
                    "Request Multipart Form-Data Filename Enabled": "true",
                    "Request Chunked Transfer-Encoding Enabled": "false",
                    "Response Header Request Attributes Prefix": null,
                    "HTTP/2 Disabled": "False",
                    "Connection Timeout": "5 secs",
                    "Response Cookie Strategy": "DISABLED",
                    "Socket Read Timeout": "15 secs",
                    "Socket Idle Connections": "5",
                    "Request Body Enabled": "true",
                    "HTTP URL": "#{TabularDataCurator_URL}",
                    "Request OAuth2 Access Token Provider": null,
                    "Socket Idle Timeout": "5 mins",
                    "Response Redirects Enabled": "True",
                    "Socket Write Timeout": "15 secs",
                    "Request Header Attributes Pattern": null,
                    "Response FlowFile Naming Strategy": "RANDOM",
                    "Response Cache Enabled": "false",
                    "Request Date Header Enabled": "True",
                    "Request Failure Penalization Enabled": "false",
                    "Response Body Attribute Size": "15000",
                    "SSL Context Service": null,
                    "Response Generation Required": "false",
                    "Request User-Agent": null,
                    "Response Header Request Attributes Enabled": "false",
                    "HTTP Method": "POST",
                    "Request Username": null,
                    "Request Content-Type": "multipart/form-data; boundary=boundary",
                    "Response Body Attribute Name": "response_body",
                    "Request Digest Authentication Enabled": "false",
                    "Request Multipart Form-Data Name": null,
                    "Response Cache Size": "10MB",
                    "Response Body Ignored": "false"
                },
                "propertyDescriptors": {
                    "Request Content-Encoding": {
                        "name": "Request Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Filename Enabled": {
                        "name": "Request Multipart Form-Data Filename Enabled",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Chunked Transfer-Encoding Enabled": {
                        "name": "Request Chunked Transfer-Encoding Enabled",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Prefix": {
                        "name": "Response Header Request Attributes Prefix",
                        "displayName": "Response Header Request Attributes Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP/2 Disabled": {
                        "name": "HTTP/2 Disabled",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cookie Strategy": {
                        "name": "Response Cookie Strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Password": {
                        "name": "Request Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Socket Read Timeout": {
                        "name": "Socket Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Connections": {
                        "name": "Socket Idle Connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Body Enabled": {
                        "name": "Request Body Enabled",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP URL": {
                        "name": "HTTP URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request OAuth2 Access Token Provider": {
                        "name": "Request OAuth2 Access Token Provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Timeout": {
                        "name": "Socket Idle Timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Redirects Enabled": {
                        "name": "Response Redirects Enabled",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Write Timeout": {
                        "name": "Socket Write Timeout",
                        "displayName": "Socket Write Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Header Attributes Pattern": {
                        "name": "Request Header Attributes Pattern",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response FlowFile Naming Strategy": {
                        "name": "Response FlowFile Naming Strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Enabled": {
                        "name": "Response Cache Enabled",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Date Header Enabled": {
                        "name": "Request Date Header Enabled",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Failure Penalization Enabled": {
                        "name": "Request Failure Penalization Enabled",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Size": {
                        "name": "Response Body Attribute Size",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Generation Required": {
                        "name": "Response Generation Required",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request User-Agent": {
                        "name": "Request User-Agent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Enabled": {
                        "name": "Response Header Request Attributes Enabled",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Username": {
                        "name": "Request Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Content-Type": {
                        "name": "Request Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Name": {
                        "name": "Response Body Attribute Name",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Digest Authentication Enabled": {
                        "name": "Request Digest Authentication Enabled",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Name": {
                        "name": "Request Multipart Form-Data Name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Size": {
                        "name": "Response Cache Size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Ignored": {
                        "name": "Response Body Ignored",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#bf5f72"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "DEBUG",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "No Retry",
                    "Retry"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "c3a20f1a-809e-3539-8480-3ff42290d650",
                "instanceIdentifier": "5523e006-2a86-3fb0-4a44-0fa0c636ba43",
                "name": "ReplaceText",
                "comments": "",
                "position": {
                    "x": -128,
                    "y": -352
                },
                "type": "org.apache.nifi.processors.standard.ReplaceText",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Regular Expression": "(?s)^(.*)$",
                    "Replacement Value": "--boundary\nContent-Disposition: form-data; name=\"file\"; filename=\"${filename}\"\nContent-Type: application/octet-stream\n\n$1\n--boundary\nContent-Disposition: form-data; name=\"imputation_method_id\"\n\n4\n--boundary\nContent-Disposition: form-data; name=\"outlier_detection_method_id\"\n\n2\n--boundary\nContent-Disposition: form-data; name=\"sim_method_id\"\n\n1\n--boundary--",
                    "Evaluation Mode": "Entire text",
                    "Text to Prepend": null,
                    "Line-by-Line Evaluation Mode": "All",
                    "Character Set": "UTF-8",
                    "Maximum Buffer Size": "1 MB",
                    "Replacement Strategy": "Regex Replace",
                    "Text to Append": null
                },
                "propertyDescriptors": {
                    "Regular Expression": {
                        "name": "Regular Expression",
                        "displayName": "Search Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Replacement Value": {
                        "name": "Replacement Value",
                        "displayName": "Replacement Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Evaluation Mode": {
                        "name": "Evaluation Mode",
                        "displayName": "Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Text to Prepend": {
                        "name": "Text to Prepend",
                        "displayName": "Text to Prepend",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Line-by-Line Evaluation Mode": {
                        "name": "Line-by-Line Evaluation Mode",
                        "displayName": "Line-by-Line Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Buffer Size": {
                        "name": "Maximum Buffer Size",
                        "displayName": "Maximum Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Replacement Strategy": {
                        "name": "Replacement Strategy",
                        "displayName": "Replacement Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Text to Append": {
                        "name": "Text to Append",
                        "displayName": "Text to Append",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#268c3b"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "DEBUG",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "7db13f8e-6202-36b1-8bcd-379797953c24",
                "instanceIdentifier": "affc7796-0614-3c4e-117e-aaad936cbfc0",
                "name": "LoadClinicalDataCSVfromStaging2",
                "comments": "",
                "position": {
                    "x": -456,
                    "y": -128
                },
                "type": "org.apache.nifi.processors.standard.GetFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Keep Source File": "false",
                    "Minimum File Age": "0 sec",
                    "Polling Interval": "0 sec",
                    "Input Directory": "#{staging_base_path}/input_as_csv/clinical_data",
                    "Maximum File Age": null,
                    "Batch Size": "10",
                    "Maximum File Size": null,
                    "Minimum File Size": "0 B",
                    "Ignore Hidden Files": "true",
                    "Recurse Subdirectories": "false",
                    "File Filter": "[^\\.].*.csv",
                    "Path Filter": null
                },
                "propertyDescriptors": {
                    "Keep Source File": {
                        "name": "Keep Source File",
                        "displayName": "Keep Source File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Polling Interval": {
                        "name": "Polling Interval",
                        "displayName": "Polling Interval",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Input Directory": {
                        "name": "Input Directory",
                        "displayName": "Input Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Size": {
                        "name": "Maximum File Size",
                        "displayName": "Maximum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Size": {
                        "name": "Minimum File Size",
                        "displayName": "Minimum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore Hidden Files": {
                        "name": "Ignore Hidden Files",
                        "displayName": "Ignore Hidden Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Filter": {
                        "name": "File Filter",
                        "displayName": "File Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Path Filter": {
                        "name": "Path Filter",
                        "displayName": "Path Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#bf88dd"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "12a223f1-fd86-3785-a3d9-4554c5d294d3",
                "instanceIdentifier": "1df96ffe-e433-31b3-0c00-cc994c0b8218",
                "name": "RenameOutputFileToCSV",
                "comments": "",
                "position": {
                    "x": 720,
                    "y": -632
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "filename": "${filename:replace('.xlsx', '.csv')}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "filename": {
                        "name": "filename",
                        "displayName": "filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#268c3b"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "8607731a-b337-33c6-9170-d48a09288004",
                "instanceIdentifier": "b1f1120d-6434-378d-9fae-71c95628fdb0",
                "name": "PrepareBackupFile",
                "comments": "",
                "position": {
                    "x": 424,
                    "y": -840
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "filename": "${filename:substringBeforeLast('.')}_backup.${filename:substringAfterLast('.')}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "filename": {
                        "name": "filename",
                        "displayName": "filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#268c3b"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "eebdc622-0197-1000-e312-03fe0aec46b1",
                "instanceIdentifier": "fdca4c84-ab0e-3e7c-6648-5b90ed46b788",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": 152,
                    "y": 176
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "reportFileId": "${filename:replaceFirst('^([0-9a-fA-F\\\\-]+)_.*$', '$1')}",
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null,
                    "reportStep": "3"
                },
                "propertyDescriptors": {
                    "reportFileId": {
                        "name": "reportFileId",
                        "displayName": "reportFileId",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "reportStep": {
                        "name": "reportStep",
                        "displayName": "reportStep",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "15ffa4aa-2b17-3bbe-b5e4-eb4f8b038d1e",
                "instanceIdentifier": "dc172d02-c1b8-372c-54d4-0b8b444b9d63",
                "name": "ConvertExceltoCSV",
                "comments": "",
                "position": {
                    "x": 360,
                    "y": -440
                },
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Include Zero Record FlowFiles": "false",
                    "Record Writer": "93f46a0e-ee57-3232-854e-9b52016a6784",
                    "Record Reader": "ea220cb5-ef37-3ad3-89d3-eefbff77334c"
                },
                "propertyDescriptors": {
                    "Include Zero Record FlowFiles": {
                        "name": "Include Zero Record FlowFiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#268c3b"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "9f26de2d-33f4-3a38-a20f-3df2ec81870b",
                "instanceIdentifier": "f9849be3-9ba2-30c1-6a8b-cff94842ad53",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": 840,
                    "y": -128
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Log prefix": null,
                    "character-set": "UTF-8",
                    "Log FlowFile Properties": "true",
                    "Log Level": "info",
                    "attributes-to-ignore-regex": null,
                    "Attributes to Ignore": null,
                    "Attributes to Log": null,
                    "attributes-to-log-regex": ".*",
                    "Output Format": "Line per Attribute",
                    "Log Payload": "false"
                },
                "propertyDescriptors": {
                    "Log prefix": {
                        "name": "Log prefix",
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "character-set": {
                        "name": "character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "attributes-to-ignore-regex": {
                        "name": "attributes-to-ignore-regex",
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "attributes-to-log-regex": {
                        "name": "attributes-to-log-regex",
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#cc652e"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "1b2b577b-39c3-3d01-a0d0-ee9c366d9274",
                "instanceIdentifier": "623fa345-7387-374d-befc-f192127b3e27",
                "name": "WriteClinicalDataCuratedCSVtoStaging",
                "comments": "",
                "position": {
                    "x": 1024,
                    "y": -424
                },
                "type": "org.apache.nifi.processors.standard.PutFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Group": null,
                    "Owner": null,
                    "Create Missing Directories": "true",
                    "Permissions": null,
                    "Maximum File Count": null,
                    "Last Modified Time": null,
                    "Directory": "#{staging_base_path}/curated_as_csv/clinical_data",
                    "Conflict Resolution Strategy": "replace"
                },
                "propertyDescriptors": {
                    "Group": {
                        "name": "Group",
                        "displayName": "Group",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Owner": {
                        "name": "Owner",
                        "displayName": "Owner",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Create Missing Directories": {
                        "name": "Create Missing Directories",
                        "displayName": "Create Missing Directories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Permissions": {
                        "name": "Permissions",
                        "displayName": "Permissions",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Count": {
                        "name": "Maximum File Count",
                        "displayName": "Maximum File Count",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Last Modified Time": {
                        "name": "Last Modified Time",
                        "displayName": "Last Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Directory": {
                        "name": "Directory",
                        "displayName": "Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Conflict Resolution Strategy": {
                        "name": "Conflict Resolution Strategy",
                        "displayName": "Conflict Resolution Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#bf5f72"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "8698a0d0-0523-355e-ab5b-b7ce0d11ad63",
                "instanceIdentifier": "ddfbf2ad-f0dc-3af4-08b6-4200484bf719",
                "name": "WriteClinicalDataCuratedBackupFile",
                "comments": "",
                "position": {
                    "x": 1024,
                    "y": -840
                },
                "type": "org.apache.nifi.processors.standard.PutFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Group": null,
                    "Owner": null,
                    "Create Missing Directories": "true",
                    "Permissions": null,
                    "Maximum File Count": null,
                    "Last Modified Time": null,
                    "Directory": "#{TDC results path}",
                    "Conflict Resolution Strategy": "fail"
                },
                "propertyDescriptors": {
                    "Group": {
                        "name": "Group",
                        "displayName": "Group",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Owner": {
                        "name": "Owner",
                        "displayName": "Owner",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Create Missing Directories": {
                        "name": "Create Missing Directories",
                        "displayName": "Create Missing Directories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Permissions": {
                        "name": "Permissions",
                        "displayName": "Permissions",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Count": {
                        "name": "Maximum File Count",
                        "displayName": "Maximum File Count",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Last Modified Time": {
                        "name": "Last Modified Time",
                        "displayName": "Last Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Directory": {
                        "name": "Directory",
                        "displayName": "Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Conflict Resolution Strategy": {
                        "name": "Conflict Resolution Strategy",
                        "displayName": "Conflict Resolution Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#bf5f72"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "684972f3-eef5-31a0-8f0e-17f4490cc4ba",
                "instanceIdentifier": "42e76bac-24d8-366f-bde9-b995819c61b2",
                "name": "",
                "source": {
                    "id": "0e32b906-70ba-3b15-b101-8f26c16885fe",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "784060ff-b9af-3776-6ce5-f325bfc98064"
                },
                "destination": {
                    "id": "9f26de2d-33f4-3a38-a20f-3df2ec81870b",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "f9849be3-9ba2-30c1-6a8b-cff94842ad53"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "Failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [
                    {
                        "x": 680,
                        "y": -139
                    }
                ],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "46d68e91-c927-3934-b8df-42a649e08eb5",
                "instanceIdentifier": "6f7d797d-c031-330e-6013-6dfb339bb99f",
                "name": "",
                "source": {
                    "id": "eebdc622-0197-1000-e312-03fe0aec46b1",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "fdca4c84-ab0e-3e7c-6648-5b90ed46b788"
                },
                "destination": {
                    "id": "ee11492c-0197-1000-7a6a-e1717224cccc",
                    "type": "INPUT_PORT",
                    "groupId": "eebed167-0197-1000-c735-6288809c3bce",
                    "name": "Value",
                    "instanceIdentifier": "e3d47f8c-6250-3e5c-feaa-1aef049495fb"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "0d4c3492-e412-32a5-8398-1107359a30aa",
                "instanceIdentifier": "c1d80a53-8048-31b8-7439-383cd63841b1",
                "name": "",
                "source": {
                    "id": "7a0629d7-1d99-39fc-a4a7-e92688c24e13",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "d575f514-13a4-3f13-74a7-36dd13091387"
                },
                "destination": {
                    "id": "ee11492c-0197-1000-7a6a-e1717224cccc",
                    "type": "INPUT_PORT",
                    "groupId": "126b7673-a753-33a2-8595-e16ec7d87afa",
                    "name": "Value",
                    "instanceIdentifier": "1317e6e1-ba97-3847-55c7-e2a3780ea611"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "e7906201-9aad-3b32-b38a-df28a41e9992",
                "instanceIdentifier": "5bd4ed5e-eab2-3f73-8464-e093fbf48c70",
                "name": "",
                "source": {
                    "id": "0e32b906-70ba-3b15-b101-8f26c16885fe",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "784060ff-b9af-3776-6ce5-f325bfc98064"
                },
                "destination": {
                    "id": "9f26de2d-33f4-3a38-a20f-3df2ec81870b",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "f9849be3-9ba2-30c1-6a8b-cff94842ad53"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "Response"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "eef9c7ae-ea29-3010-a970-696d0e8cc20a",
                "instanceIdentifier": "9545bea7-d70c-3be0-dd54-891d9947ba79",
                "name": "",
                "source": {
                    "id": "dde71598-7b4e-3e61-9e89-070ccb03680a",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "LoadCuratedClinicalDataXLS",
                    "comments": "",
                    "instanceIdentifier": "277e2ef4-2244-354c-bcc7-0a95beceb098"
                },
                "destination": {
                    "id": "8607731a-b337-33c6-9170-d48a09288004",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "PrepareBackupFile",
                    "comments": "",
                    "instanceIdentifier": "b1f1120d-6434-378d-9fae-71c95628fdb0"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "80d76f4f-559f-3c8d-a6f9-b230c17389c0",
                "instanceIdentifier": "7210bade-8c97-37f3-16f5-004c0d43d23c",
                "name": "",
                "source": {
                    "id": "0e32b906-70ba-3b15-b101-8f26c16885fe",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "784060ff-b9af-3776-6ce5-f325bfc98064"
                },
                "destination": {
                    "id": "9f26de2d-33f4-3a38-a20f-3df2ec81870b",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "f9849be3-9ba2-30c1-6a8b-cff94842ad53"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "Original"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [
                    {
                        "x": 680,
                        "y": 8
                    }
                ],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "16e85f53-73f6-31cf-aa75-28935bfb2a49",
                "instanceIdentifier": "64aaa0d0-3581-3cba-bcf3-8fdfdc34a2c2",
                "name": "",
                "source": {
                    "id": "15ffa4aa-2b17-3bbe-b5e4-eb4f8b038d1e",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "ConvertExceltoCSV",
                    "comments": "",
                    "instanceIdentifier": "dc172d02-c1b8-372c-54d4-0b8b444b9d63"
                },
                "destination": {
                    "id": "12a223f1-fd86-3785-a3d9-4554c5d294d3",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "RenameOutputFileToCSV",
                    "comments": "",
                    "instanceIdentifier": "1df96ffe-e433-31b3-0c00-cc994c0b8218"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "4448b343-2964-3f22-a0f7-1f677292409b",
                "instanceIdentifier": "439e73ad-9dc4-325c-3780-b958e2bb86a0",
                "name": "",
                "source": {
                    "id": "dde71598-7b4e-3e61-9e89-070ccb03680a",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "LoadCuratedClinicalDataXLS",
                    "comments": "",
                    "instanceIdentifier": "277e2ef4-2244-354c-bcc7-0a95beceb098"
                },
                "destination": {
                    "id": "7a0629d7-1d99-39fc-a4a7-e92688c24e13",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "d575f514-13a4-3f13-74a7-36dd13091387"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "51bc0b9a-6b85-3759-b5d7-408cf1b6581e",
                "instanceIdentifier": "c1592164-a25b-3c67-6353-80988be8ae2d",
                "name": "",
                "source": {
                    "id": "dde71598-7b4e-3e61-9e89-070ccb03680a",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "LoadCuratedClinicalDataXLS",
                    "comments": "",
                    "instanceIdentifier": "277e2ef4-2244-354c-bcc7-0a95beceb098"
                },
                "destination": {
                    "id": "15ffa4aa-2b17-3bbe-b5e4-eb4f8b038d1e",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "ConvertExceltoCSV",
                    "comments": "",
                    "instanceIdentifier": "dc172d02-c1b8-372c-54d4-0b8b444b9d63"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "9dd628a1-b20b-3896-92f6-1d86b7249474",
                "instanceIdentifier": "97e902d6-83de-3e25-43fc-beaee1546688",
                "name": "",
                "source": {
                    "id": "8607731a-b337-33c6-9170-d48a09288004",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "PrepareBackupFile",
                    "comments": "",
                    "instanceIdentifier": "b1f1120d-6434-378d-9fae-71c95628fdb0"
                },
                "destination": {
                    "id": "8698a0d0-0523-355e-ab5b-b7ce0d11ad63",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "WriteClinicalDataCuratedBackupFile",
                    "comments": "",
                    "instanceIdentifier": "ddfbf2ad-f0dc-3af4-08b6-4200484bf719"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "4f8226ed-de2e-33c6-b1da-da0d77d2da55",
                "instanceIdentifier": "fcf5f1b5-9a3d-3b17-0000-9fb131fcf0ec",
                "name": "",
                "source": {
                    "id": "7db13f8e-6202-36b1-8bcd-379797953c24",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "LoadClinicalDataCSVfromStaging2",
                    "comments": "",
                    "instanceIdentifier": "affc7796-0614-3c4e-117e-aaad936cbfc0"
                },
                "destination": {
                    "id": "c3a20f1a-809e-3539-8480-3ff42290d650",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "ReplaceText",
                    "comments": "",
                    "instanceIdentifier": "5523e006-2a86-3fb0-4a44-0fa0c636ba43"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "f166dea4-a36a-301a-88b4-9ace61127362",
                "instanceIdentifier": "157fa8c7-a07c-376c-69cb-bbd5e1cea400",
                "name": "",
                "source": {
                    "id": "0e32b906-70ba-3b15-b101-8f26c16885fe",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "784060ff-b9af-3776-6ce5-f325bfc98064"
                },
                "destination": {
                    "id": "eebdc622-0197-1000-e312-03fe0aec46b1",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "fdca4c84-ab0e-3e7c-6648-5b90ed46b788"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "Response",
                    "Original"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "6262ef18-f072-38ad-8a23-ba6a159f3c5a",
                "instanceIdentifier": "08b532b3-a587-3395-a9d9-9abb38253168",
                "name": "",
                "source": {
                    "id": "12a223f1-fd86-3785-a3d9-4554c5d294d3",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "RenameOutputFileToCSV",
                    "comments": "",
                    "instanceIdentifier": "1df96ffe-e433-31b3-0c00-cc994c0b8218"
                },
                "destination": {
                    "id": "1b2b577b-39c3-3d01-a0d0-ee9c366d9274",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "WriteClinicalDataCuratedCSVtoStaging",
                    "comments": "",
                    "instanceIdentifier": "623fa345-7387-374d-befc-f192127b3e27"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "4011d692-5cef-341a-bd2c-7fb364c035ac",
                "instanceIdentifier": "19d030b5-0fbb-3897-88e2-0f15fb5fa274",
                "name": "",
                "source": {
                    "id": "c3a20f1a-809e-3539-8480-3ff42290d650",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "ReplaceText",
                    "comments": "",
                    "instanceIdentifier": "5523e006-2a86-3fb0-4a44-0fa0c636ba43"
                },
                "destination": {
                    "id": "0e32b906-70ba-3b15-b101-8f26c16885fe",
                    "type": "PROCESSOR",
                    "groupId": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "784060ff-b9af-3776-6ce5-f325bfc98064"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "ea220cb5-ef37-3ad3-89d3-eefbff77334c",
                "instanceIdentifier": "29352691-7481-375e-1004-29283b6378d0",
                "name": "ExcelReaderClinicalData",
                "comments": "",
                "type": "org.apache.nifi.excel.ExcelReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-poi-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "Required Sheets": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Starting Row": "1",
                    "Protection Type": "UNPROTECTED",
                    "Time Format": null,
                    "schema-access-strategy": "infer-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Required Sheets": {
                        "name": "Required Sheets",
                        "displayName": "Required Sheets",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Starting Row": {
                        "name": "Starting Row",
                        "displayName": "Starting Row",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Protection Type": {
                        "name": "Protection Type",
                        "displayName": "Protection Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.3.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            },
            {
                "identifier": "93f46a0e-ee57-3232-854e-9b52016a6784",
                "instanceIdentifier": "e2d15c83-60e1-37fd-39ce-8aa4e5bf6b96",
                "name": "CSVRecordSetWriterClinicalDataNoHeader",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "CSV Format": "custom",
                    "Include Header Line": "false",
                    "schema-cache": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": null,
                    "Trim Fields": "true",
                    "schema-registry": null,
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}",
                    "csv-writer": "commons-csv",
                    "Quote Character": "\"",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Schema Write Strategy": "no-schema",
                    "schema-name": "${schema.name}",
                    "Quote Mode": "MINIMAL",
                    "Schema Reference Writer": null,
                    "Include Trailing Delimiter": "false"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Include Header Line": {
                        "name": "Include Header Line",
                        "displayName": "Include Header Line",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-writer": {
                        "name": "csv-writer",
                        "displayName": "CSV Writer",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Mode": {
                        "name": "Quote Mode",
                        "displayName": "Quote Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Include Trailing Delimiter": {
                        "name": "Include Trailing Delimiter",
                        "displayName": "Include Trailing Delimiter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.3.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "bc4d81cf-bb0a-310c-9694-d33ed095aeb6"
            }
        ],
        "parameterContextName": "ETL_v03_parameters",
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {
        "ETL_v03_parameters": {
            "name": "ETL_v03_parameters",
            "parameters": [
                {
                    "name": "db_driver_filepath",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/postgresql-42.7.4.jar"
                },
                {
                    "name": "output_base_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/output_data"
                },
                {
                    "name": "TabularDataCurator_URL",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "http://nifi-tdc:5000/main"
                },
                {
                    "name": "input_base_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/input_data"
                },
                {
                    "name": "TDC results path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/TDC_Output"
                },
                {
                    "name": "staging_base_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/staging_data"
                }
            ],
            "inheritedParameterContexts": [],
            "componentType": "PARAMETER_CONTEXT"
        }
    },
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}