flows/Clinical_data_loop03_transformToDB_AUTH_Breast.json
{"flowContents":{"identifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","instanceIdentifier":"0dcde3ae-019c-1000-b9eb-2dccd8cfa3d7","name":"Clinical_data_loop03_transformToDB_AUTH_Breast","comments":"","position":{"x":900.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","instanceIdentifier":"2c2e532b-4a2c-3462-6fe5-ca1032a8602c","name":"SplitJson","comments":"","position":{"x":-1400.0,"y":736.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"18fa34f8-0198-1000-86c9-44c94e2eafac","instanceIdentifier":"b552cc86-d503-3899-5237-786abaaa5a57","name":"LookupRecordForTumorOrgan","comments":"","position":{"x":-2600.0,"y":296.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/PrimaryCancerCondition_BodySiteCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"c378b6c0-5c9d-322f-bf60-9894d57f42aa","record-update-strategy":"use-property","key":"/PrimaryCancerCondition_BodySiteCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"63fd6d43-0197-1000-845b-aeaecedf1d2a","instanceIdentifier":"11206130-a6e0-3e49-ee78-c27c1501e854","name":"StorePatientDataIfNotExist","comments":"","position":{"x":-568.0,"y":8.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"cancerpatient","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"08faab81-0198-1000-0afa-62d21647ff3e","instanceIdentifier":"d5e9cea8-3cfc-3385-f51f-afad28bc8563","name":"LookupRecordForHealthStatusValueAsCode","comments":"","position":{"x":-2600.0,"y":944.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HealthStatus1_TestValueAsConcept_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"f0d6b77f-ae96-33f4-9931-c520c9d3424e","record-update-strategy":"use-property","key":"/HealthStatus1_TestValueAsConcept"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"63fd6d4a-0197-1000-3482-7420cd2eb231","instanceIdentifier":"13ee24ef-f00f-33ab-83ea-20ae5aa94e22","name":"LoadClinicalDataCSVfromStaging3","comments":"","position":{"x":-1968.0,"y":-640.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{staging_base_path}/curated_as_csv/clinical_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"(?i)^.*4fcdd34b95f8eed2a3d07291e4c2173e.*\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"e9cb1b63-a5ba-301e-b268-a03f1df07155","instanceIdentifier":"f7b31e6b-47cb-3600-3dc0-ac47a896ba68","name":"LookupRecordForBirthSexOnlyAUTH","comments":"","position":{"x":-1968.0,"y":160.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Patient_BirthSex_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"d17942d2-b95c-330b-947f-acb0bbe00f14","record-update-strategy":"use-property","key":"/Patient_BirthSex"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"a300ed5c-019b-1000-0e60-8c5f19a24ff8","instanceIdentifier":"ef1a5cc4-b6b3-34c2-4329-83c69f201272","name":"StoreTumorDataIfNotExist","comments":"","position":{"x":-560.0,"y":848.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"tumor","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","instanceIdentifier":"e7117869-171c-3c54-86bc-3528d6de8dad","name":"LookupRecordForTumorLocation","comments":"","position":{"x":-2600.0,"y":512.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Tumor_BodySiteLocation_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"43ef4c56-e547-343c-b726-01cbb34ff16e","record-update-strategy":"use-property","key":"/Tumor_BodySiteLocation"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"234aa4b4-1888-3d59-b332-2983c5cf750d","instanceIdentifier":"4389ffd5-b989-36c0-bcb7-cdeae5df12a8","name":"JoltTransformJSON","comments":"","position":{"x":-1400.0,"y":512.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"results\": {\n        \"*\": \"&\"    // Mueve cada campo dentro de \"results\" al nivel raíz\n      },\n      \"*\": \"&\"      // Copia todo lo demás sin cambios\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": \"=lastElement(@(1,&))\"  // si hay arrays, toma el último elemento\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"ffb46a02-019b-1000-7d4e-5ce256ae41da","instanceIdentifier":"a14863ce-0909-3c99-baa6-fd279448bbb4","name":"StoreCodeableConceptsMappingResults","comments":"","position":{"x":-600.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"mappedcodeableconceptsresults","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"5020a1a8-0198-1000-7339-afa32cc85a33","instanceIdentifier":"37438696-a40c-3ee1-db9d-580b888d502b","name":"LookupRecordForHistologyMorphology","comments":"","position":{"x":-2600.0,"y":48.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"66be6d9c-0a6b-3cda-b1d3-040646c57af2","record-update-strategy":"use-property","key":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"8285bec1-ae50-300a-abf7-9993140af27e","instanceIdentifier":"3c2aa3db-8874-3831-f03b-41ee54003a31","name":"ConvertBasicDatatypes","comments":"","position":{"x":-1968.0,"y":512.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_AgeUnitConcept":"toLowerCase(/PrimaryCancerCondition_AgeUnitConcept)","/Patient_BirthSex_parsed":"toUpperCase(/Patient_BirthSex_parsed)","/PrimaryCancerCondition_BodySiteCode":"toLowerCase(/PrimaryCancerCondition_BodySiteCode)","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex_parsed":{"name":"/Patient_BirthSex_parsed","displayName":"/Patient_BirthSex_parsed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_BodySiteCode":{"name":"/PrimaryCancerCondition_BodySiteCode","displayName":"/PrimaryCancerCondition_BodySiteCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"63fd6d47-0197-1000-67db-62bac795e552","instanceIdentifier":"c008fc68-f9d2-38a3-baed-713c6ea82df8","name":"LogAttribute","comments":"","position":{"x":-1968.0,"y":1224.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"81e02de5-019a-1000-121d-1246780a670a","instanceIdentifier":"a674498c-31b4-331c-92f1-6cdd25276742","name":"StoreDatasetDataIfNotExist","comments":"","position":{"x":-568.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"dataset","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","instanceIdentifier":"8f55b64b-b989-3dda-ddd7-b2a4ae17e7d8","name":"LookupRecordForCodeableConcepts","comments":"","position":{"x":-1968.0,"y":992.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","lookup_batch":"/lookup_batch","result-record-path":"/results","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","lookup-service":"f8c690be-411f-3e7a-aff3-e97d73571b97","record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup_batch":{"name":"lookup_batch","displayName":"lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"51099c0c-0198-1000-da83-0479168ce771","instanceIdentifier":"ceb3c6ab-7a8e-354b-5dd8-8459fbf5381e","name":"LookupRecordForProcedure","comments":"","position":{"x":-2600.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Procedure1_ProcedureCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"16da3869-c026-3d86-9ac4-3f196b2269f0","record-update-strategy":"use-property","key":"/Procedure1_ProcedureCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"899739a6-30be-3d9c-b8a7-a62344fe3a80","instanceIdentifier":"66398a0c-8ae3-332a-e7ee-b136df0e04e2","name":"AddConstantValues","comments":"","position":{"x":-1968.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_AgeUnitConcept":"Year","/Dataset_Identifier":"4fcdd34b95f8eed2a3d07291e4c2173e","/Episode1_Type":"diagnosis","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","/Episode1_Number":"1","/Dataset_Title":"AUTH Breast","/Dataset_Description":"This Breast Cancer Dataset contains a collection of patients with MMGs who have confirmed benign or malignant breast lessions or no findings","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Identifier":{"name":"/Dataset_Identifier","displayName":"/Dataset_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Episode1_Type":{"name":"/Episode1_Type","displayName":"/Episode1_Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/Episode1_Number":{"name":"/Episode1_Number","displayName":"/Episode1_Number","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Title":{"name":"/Dataset_Title","displayName":"/Dataset_Title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Description":{"name":"/Dataset_Description","displayName":"/Dataset_Description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"09979af4-a283-3e9f-8715-64d01c0ab007","instanceIdentifier":"d064a754-58f9-33cb-c135-be3357e1e4b6","name":"CleanUtilityProperties","comments":"","position":{"x":-1400.0,"y":240.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","/lookup_batch":"","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/lookup_batch":{"name":"/lookup_batch","displayName":"/lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"03d2b567-019b-1000-2284-74991b6e7179","instanceIdentifier":"258aca5b-5b74-3f7b-22e0-e4fedf5fa735","name":"StoreImagingProcedureDataIfNotExist","comments":"","position":{"x":-560.0,"y":632.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"imagingprocedure","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"ebd95f4d-0197-1000-6314-88f71c8b604b","instanceIdentifier":"2d55d196-4f76-35e3-5423-9b57ae04f451","name":"StoreEpisodeDataIfNotExist","comments":"","position":{"x":-560.0,"y":424.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"episode","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"5030dcc0-0198-1000-7d7a-07a38cb29900","instanceIdentifier":"86caefb6-cada-3732-725c-482fa753daec","name":"LookupRecordForImagingProcedure","comments":"","position":{"x":-2600.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/ImagingProcedure1_ProcedureCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"53dfc2dd-322f-3f85-ae00-745fb12368d9","record-update-strategy":"use-property","key":"/ImagingProcedure1_ProcedureCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"51095f00-0198-1000-cd76-db6e68e2ef07","instanceIdentifier":"50411a6c-67b0-3756-cb61-e61a159a534e","name":"LookupRecordForRadiotherapy","comments":"","position":{"x":-2600.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Radiotherapy1_RadiotherapyCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"44b977c8-abb1-3327-86d9-b8701b7375b4","record-update-strategy":"use-property","key":"/Radiotherapy1_RadiotherapyCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"63fd6d45-0197-1000-1548-54496f528752","instanceIdentifier":"76eebf54-c9b0-3d1f-af78-d3ab2d3b4934","name":"RenameProperties","comments":"","position":{"x":-1968.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode":"/Pathology","/Patient_Identifier":"/\"Patient Number\"","/Patient_DiagnosticCategory":"/Population","/PrimaryCancerCondition_Identifier":"concat(concat(\"/Dataset_Identifier\", /\"Patient Number\"), '_cancerCondition_1')","/Tumor_CancerConditionIdentifier":"concat(concat(\"/Dataset_Identifier\", /\"Patient Number\"), '_cancerCondition_1')","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","/ImagingProcedure1_ProcedureCode ":"/\"Imaging procedure\"","Replacement Value Strategy":"record-path-value","/Tumor_Identifier":"concat(concat(concat(\"/Dataset_Identifier\", /\"Patient Number\"), '_cancerCondition_1'), 'tumor_1')","/Tumor_BodySiteCode":"/\"Topography : Organ\"","/ImagingProcedure1_ProcedureIdentifier":"concat(concat(concat(\"/Dataset_Identifier\", /\"Patient Number\"), '_cancerCondition_1'), 'imaging_1')","/Episode1_Identifier ":"concat(concat(concat(\"/Dataset_Identifier\", /\"Patient Number\"), '_cancerCondition_1'), 'episode_1')","/ImagingProcedure1_CancerConditionIdentifier":"concat(concat(\"/Dataset_Identifier\", /\"Patient Number\"), '_cancerCondition_1')","/Patient_BirthSex":"/Gender","/PrimaryCancerCondition_BodySiteCode":"/\"Topography : Organ\"","/PrimaryCancerCondition_AgeAtDiagnosis":"/\"Age at diagnosis\"","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","/PrimaryCancerCondition_PatientIdentifier":"/\"Patient Number\""},"propertyDescriptors":{"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode":{"name":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode","displayName":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_Identifier":{"name":"/Patient_Identifier","displayName":"/Patient_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_DiagnosticCategory":{"name":"/Patient_DiagnosticCategory","displayName":"/Patient_DiagnosticCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_Identifier":{"name":"/PrimaryCancerCondition_Identifier","displayName":"/PrimaryCancerCondition_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Tumor_CancerConditionIdentifier":{"name":"/Tumor_CancerConditionIdentifier","displayName":"/Tumor_CancerConditionIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/ImagingProcedure1_ProcedureCode ":{"name":"/ImagingProcedure1_ProcedureCode ","displayName":"/ImagingProcedure1_ProcedureCode ","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/Tumor_Identifier":{"name":"/Tumor_Identifier","displayName":"/Tumor_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Tumor_BodySiteCode":{"name":"/Tumor_BodySiteCode","displayName":"/Tumor_BodySiteCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure1_ProcedureIdentifier":{"name":"/ImagingProcedure1_ProcedureIdentifier","displayName":"/ImagingProcedure1_ProcedureIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Episode1_Identifier ":{"name":"/Episode1_Identifier ","displayName":"/Episode1_Identifier ","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure1_CancerConditionIdentifier":{"name":"/ImagingProcedure1_CancerConditionIdentifier","displayName":"/ImagingProcedure1_CancerConditionIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex":{"name":"/Patient_BirthSex","displayName":"/Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_BodySiteCode":{"name":"/PrimaryCancerCondition_BodySiteCode","displayName":"/PrimaryCancerCondition_BodySiteCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_AgeAtDiagnosis":{"name":"/PrimaryCancerCondition_AgeAtDiagnosis","displayName":"/PrimaryCancerCondition_AgeAtDiagnosis","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/PrimaryCancerCondition_PatientIdentifier":{"name":"/PrimaryCancerCondition_PatientIdentifier","displayName":"/PrimaryCancerCondition_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"63fd6d48-0197-1000-0139-e659146a3f59","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260","name":"SpecificMappings","comments":"","position":{"x":-1408.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"dbf-default-precision":"10","entity:Episode":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Episode1_Identifier\" AS Identifier,\n\t\t\"Episode1_Type\" AS\tTypeOriginal,\n\t\t\"Episode1_Number\" AS EpisodeNumber,\n\t\t'0' as Processed\nFROM FLOWFILE","entity:Tumor":"SELECT \t\"Tumor_Identifier\" AS Identifier,\n\t\t\"PrimaryCancerCondition_Identifier\" AS PrimaryCancerConditionIdentifier,\n\t\t\"Topography : Organ\" AS BodySiteOriginal,\n\t\t\"Tumor_BodySiteCode\" AS BodySiteEUCAIM,\n\t\t1 AS Episode,\n\t\t'0' as Processed\nFROM FLOWFILE","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","entity:Patient":"SELECT \t\"Patient_Identifier\" AS Identifier,\n\t\t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Population\" AS\tDiagnosticCategoryOriginal,\n\t\t\"Gender\" AS BirthSexOriginal,\n        \"Patient_BirthSex\" AS BirthSexEucaim,\n\t\t'0' as Processed\nFROM FLOWFILE","entity:ImagingProcedure":"SELECT \t\"PrimaryCancerCondition_Identifier\" AS PrimaryCancerConditionIdentifier,\n\t\t\"ImagingProcedure1_ProcedureIdentifier\" As ProcedureIdentifier,\n\t\t\"Patient_Identifier\" As Patientidentifier,\n\t\t 1 as ImagingTimepoint,\n\t\t\"ImagingProcedure1_ProcedureCode\" AS ImagingProcedureEUCAIM,\n\t\t\"Imaging procedure\" AS ImagingProcedureOriginal,\n\t\t1 as Episode,\n\t\t'0' as Processed\nFROM FLOWFILE","include-zero-record-flowfiles":"true","mapping:patient_birth_sex":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Gender' AS propertyNameOriginal,\n\t\t\"Gender\" AS originalValue,\n\t\t'patient_birth_sex' AS propertyNameEUCAIM,\n        \"Patient_BirthSex\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","dbf-default-scale":"0","entity:PrimaryCancerCondition":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"PrimaryCancerCondition_Identifier\" AS Identifier,\n\t\tCASE\n        \tWHEN \"PrimaryCancerCondition_AgeAtDiagnosis\" NOT IN ('?', '', 'NA', 'null')\n        \tTHEN CAST(REPLACE(\"PrimaryCancerCondition_AgeAtDiagnosis\", ',', '.') AS DOUBLE)\n        \tELSE NULL\n    \tEND AS AgeOfDiagnosis,\n\t\t1 as EpisodeNumber,\n\t\t'Year' AS AgeUnitOriginal,\n\t\t\"PrimaryCancerCondition_AgeUnitConcept\" AS AgeUnitEUCAIM,\n\t\t\"Pathology\" AS HistologyMorphologyBehaviourOriginal,\n\t\t\"PrimaryCancerCondition_HistologyMorphologyBehaviourCode\" AS HistologyMorphologyBehaviourEUCAIM,\n\t\t'0' as Processed\nFROM FLOWFILE","mapping:cancer_condition_histology_morphology":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Pathology' AS propertyNameOriginal,\n\t\t\"Pathology\" AS originalValue,\n\t\t'cancer_condition_histology_morphology' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_HistologyMorphologyBehaviourCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","entity:Dataset":"SELECT \t\"Dataset_Identifier\" AS Identifier,\n\t\t\"Dataset_Title\" AS Title,\n\t\t\"Dataset_Description\" AS Description,\n\t\t'0' as Processed\nFROM FLOWFILE","mapping:body_site_location":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Topography' AS propertyNameOriginal,\n\t\t\"Topography : Organ\" AS originalValue,\n\t\t'body_site_location' AS propertyNameEUCAIM,\n        \"Tumor_BodySiteCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","mapping:procedure_code":"SELECT \t\"Dataset_Identifier\" AS datasetId,\n\t\t'Imaging procedure' AS propertyNameOriginal,\n\t\t\"Imaging procedure\" AS originalValue,\n\t\t'procedure_code' AS propertyNameEUCAIM,\n        \"ImagingProcedure1_ProcedureCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"entity:Episode":{"name":"entity:Episode","displayName":"entity:Episode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"entity:Tumor":{"name":"entity:Tumor","displayName":"entity:Tumor","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"entity:Patient":{"name":"entity:Patient","displayName":"entity:Patient","identifiesControllerService":false,"sensitive":false,"dynamic":true},"entity:ImagingProcedure":{"name":"entity:ImagingProcedure","displayName":"entity:ImagingProcedure","identifiesControllerService":false,"sensitive":false,"dynamic":true},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mapping:patient_birth_sex":{"name":"mapping:patient_birth_sex","displayName":"mapping:patient_birth_sex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"entity:PrimaryCancerCondition":{"name":"entity:PrimaryCancerCondition","displayName":"entity:PrimaryCancerCondition","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping:cancer_condition_histology_morphology":{"name":"mapping:cancer_condition_histology_morphology","displayName":"mapping:cancer_condition_histology_morphology","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"entity:Dataset":{"name":"entity:Dataset","displayName":"entity:Dataset","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping:body_site_location":{"name":"mapping:body_site_location","displayName":"mapping:body_site_location","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping:procedure_code":{"name":"mapping:procedure_code","displayName":"mapping:procedure_code","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#9ea53b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"cbe23709-0197-1000-53e6-50cf8c162805","instanceIdentifier":"7359e09e-1feb-38c7-f48f-deabba9a8b98","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","position":{"x":-568.0,"y":208.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"primarycancercondition","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","instanceIdentifier":"9073a99d-1ea2-3396-5f7c-f723fab900a8","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","position":{"x":-1968.0,"y":736.0},"type":"org.apache.nifi.processors.jolt.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"jolt-record-record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Jolt Transform":"jolt-transform-chain","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n\t  \"*\": \"&\",\n      \"Patient_BirthSex_parsed\": \"lookup_batch.Patient_BirthSex\",\n\t    \"PrimaryCancerCondition_BodySiteCode_parsed\": \"lookup_batch.PrimaryCancerCondition_BodySiteCode\",\t  \n\t    \"PrimaryCancerCondition_AgeUnitConcept\": \"lookup_batch.PrimaryCancerCondition_AgeUnitConcept\",\n\t\t\"ImagingProcedure1_ProcedureCode_parsed\": \"lookup_batch.ImagingProcedure1_ProcedureCode\",\n      \"PrimaryCancerCondition_HistologyMorphologyBehaviourCode_parsed\" :  \"lookup_batch.PrimaryCancerCondition_HistologyMorphologyBehaviourCode\"\n    }\n  }\n]","jolt-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"08e20eed-0198-1000-a81f-e4eb4264971c","instanceIdentifier":"dc6eb1cc-e075-3f79-8bee-ecd6c49e2ef3","name":"LookupRecordForTumorGleasonGrade","comments":"","position":{"x":-2600.0,"y":736.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HistologicGrade_Code_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"e786ce37-3bdc-38d9-b217-3a3127134811","record-update-strategy":"use-property","key":"/HistologicGrade_Code"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"aa1d3b79-9242-3757-90ec-f6a4fa93e990","instanceIdentifier":"4c32a3a1-d8a5-3d7e-8c08-420c8820d69f","name":"","source":{"id":"51095f00-0198-1000-cd76-db6e68e2ef07","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForRadiotherapy","comments":"","instanceIdentifier":"50411a6c-67b0-3756-cb61-e61a159a534e"},"destination":{"id":"5030dcc0-0198-1000-7d7a-07a38cb29900","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForImagingProcedure","comments":"","instanceIdentifier":"86caefb6-cada-3732-725c-482fa753daec"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"a78e70a0-d6f0-3b08-b934-3dfd0f8a11d5","instanceIdentifier":"6b944caa-f9f7-37ba-362b-1fccb35e5666","name":"","source":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"e7117869-171c-3c54-86bc-3528d6de8dad"},"destination":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"dc6eb1cc-e075-3f79-8bee-ecd6c49e2ef3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"73fcd977-db89-3e93-b0aa-62c47ad57bb0","instanceIdentifier":"bce9c4fb-ced9-3a70-71f6-e16165811f6e","name":"","source":{"id":"51099c0c-0198-1000-da83-0479168ce771","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForProcedure","comments":"","instanceIdentifier":"ceb3c6ab-7a8e-354b-5dd8-8459fbf5381e"},"destination":{"id":"51095f00-0198-1000-cd76-db6e68e2ef07","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForRadiotherapy","comments":"","instanceIdentifier":"50411a6c-67b0-3756-cb61-e61a159a534e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"c21ea818-8eef-3929-966e-53971361e518","instanceIdentifier":"8a0db8ef-a084-3ed8-677c-cb9a9ccbf4d8","name":"","source":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"d5e9cea8-3cfc-3385-f51f-afad28bc8563"},"destination":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"9073a99d-1ea2-3396-5f7c-f723fab900a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"196b1f14-c3a8-3776-a04c-c79a62f023e5","instanceIdentifier":"854918b9-16e2-3c3a-e59c-04426254175d","name":"","source":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"dc6eb1cc-e075-3f79-8bee-ecd6c49e2ef3"},"destination":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"d5e9cea8-3cfc-3385-f51f-afad28bc8563"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"5e057803-4922-3d20-b4d7-c9443fb303d9","instanceIdentifier":"5cf33510-e069-3305-15be-9d7b0be4bc92","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"cbe23709-0197-1000-53e6-50cf8c162805","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","instanceIdentifier":"7359e09e-1feb-38c7-f48f-deabba9a8b98"},"labelIndex":0,"zIndex":0,"selectedRelationships":["entity:PrimaryCancerCondition"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"70a859ef-ccf7-3b82-b908-9861f08b5ee0","instanceIdentifier":"70859904-e16f-3b4f-6dd6-5a264dc5071e","name":"","source":{"id":"63fd6d4a-0197-1000-3482-7420cd2eb231","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LoadClinicalDataCSVfromStaging3","comments":"","instanceIdentifier":"13ee24ef-f00f-33ab-83ea-20ae5aa94e22"},"destination":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"AddConstantValues","comments":"","instanceIdentifier":"66398a0c-8ae3-332a-e7ee-b136df0e04e2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"819000bf-bcbc-358b-b9f9-03f384f2a710","instanceIdentifier":"605bdeb9-8861-3682-d199-932971cfa82e","name":"","source":{"id":"5030dcc0-0198-1000-7d7a-07a38cb29900","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForImagingProcedure","comments":"","instanceIdentifier":"86caefb6-cada-3732-725c-482fa753daec"},"destination":{"id":"5020a1a8-0198-1000-7339-afa32cc85a33","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForHistologyMorphology","comments":"","instanceIdentifier":"37438696-a40c-3ee1-db9d-580b888d502b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"338e0085-4235-332e-8d1e-12bb2ef2f3c9","instanceIdentifier":"615c3432-9690-322b-a07a-24ea3f14f2f6","name":"","source":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SplitJson","comments":"","instanceIdentifier":"2c2e532b-4a2c-3462-6fe5-ca1032a8602c"},"destination":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"JoltTransformJSON","comments":"","instanceIdentifier":"4389ffd5-b989-36c0-bcb7-cdeae5df12a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"3b6842cb-1767-3194-877a-f9e352fa9bad","instanceIdentifier":"9a8fb37f-c274-3e39-6567-2a957f8e1b15","name":"","source":{"id":"e9cb1b63-a5ba-301e-b268-a03f1df07155","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForBirthSexOnlyAUTH","comments":"","instanceIdentifier":"f7b31e6b-47cb-3600-3dc0-ac47a896ba68"},"destination":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"3c2aa3db-8874-3831-f03b-41ee54003a31"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"05348743-4a1d-364d-815f-d03bd61ae3bd","instanceIdentifier":"005437ba-b9ff-3277-99e1-5babf765e49d","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"ffb46a02-019b-1000-7d4e-5ce256ae41da","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"a14863ce-0909-3c99-baa6-fd279448bbb4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping:body_site_location"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-828.0,"y":-149.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"f196133d-14ee-38ab-951e-c7785716ba87","instanceIdentifier":"e6af9b38-55f3-3e4e-dd44-6ae44847eb54","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"a300ed5c-019b-1000-0e60-8c5f19a24ff8","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreTumorDataIfNotExist","comments":"","instanceIdentifier":"ef1a5cc4-b6b3-34c2-4329-83c69f201272"},"labelIndex":0,"zIndex":0,"selectedRelationships":["entity:Tumor"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"ec951928-fba6-3317-bc9d-0ff6acf411e3","instanceIdentifier":"168735a3-69bd-3130-a9e4-0919aad8bf46","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"ebd95f4d-0197-1000-6314-88f71c8b604b","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreEpisodeDataIfNotExist","comments":"","instanceIdentifier":"2d55d196-4f76-35e3-5423-9b57ae04f451"},"labelIndex":0,"zIndex":0,"selectedRelationships":["entity:Episode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"4e84d29b-9ed8-315a-bff7-ad0665ac9074","instanceIdentifier":"79b09cca-ffd4-3f98-b12e-3249b04b5169","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"63fd6d43-0197-1000-845b-aeaecedf1d2a","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StorePatientDataIfNotExist","comments":"","instanceIdentifier":"11206130-a6e0-3e49-ee78-c27c1501e854"},"labelIndex":0,"zIndex":0,"selectedRelationships":["entity:Patient"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"245f2545-6624-33ce-97ea-13c9ead3aa60","instanceIdentifier":"1b3aa5cd-8428-37e3-5e52-589cf9e47515","name":"","source":{"id":"5020a1a8-0198-1000-7339-afa32cc85a33","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForHistologyMorphology","comments":"","instanceIdentifier":"37438696-a40c-3ee1-db9d-580b888d502b"},"destination":{"id":"18fa34f8-0198-1000-86c9-44c94e2eafac","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForTumorOrgan","comments":"","instanceIdentifier":"b552cc86-d503-3899-5237-786abaaa5a57"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"4e9eb08e-0ed8-3979-9455-5e8cc0e6994d","instanceIdentifier":"c99cd48a-5d64-388b-3a54-de64c502bac4","name":"","source":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"3c2aa3db-8874-3831-f03b-41ee54003a31"},"destination":{"id":"51099c0c-0198-1000-da83-0479168ce771","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForProcedure","comments":"","instanceIdentifier":"ceb3c6ab-7a8e-354b-5dd8-8459fbf5381e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"b9250592-d774-30a1-996e-2ad4e7eb9e21","instanceIdentifier":"280f687a-9e9a-331b-d289-fcb1ba619df0","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"81e02de5-019a-1000-121d-1246780a670a","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreDatasetDataIfNotExist","comments":"","instanceIdentifier":"a674498c-31b4-331c-92f1-6cdd25276742"},"labelIndex":0,"zIndex":0,"selectedRelationships":["entity:Dataset"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"ea7da132-e67a-3933-a048-e2e9f3614279","instanceIdentifier":"c4807a39-78a8-31cd-8dc4-dcef9b0396a3","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"ffb46a02-019b-1000-7d4e-5ce256ae41da","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"a14863ce-0909-3c99-baa6-fd279448bbb4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping:cancer_condition_histology_morphology"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-828.0,"y":-299.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"dba8525a-3ecd-3336-a5dc-e9551c876ce7","instanceIdentifier":"c4f1be68-cee8-36e6-665a-e78a3a1b2683","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"ffb46a02-019b-1000-7d4e-5ce256ae41da","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"a14863ce-0909-3c99-baa6-fd279448bbb4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping:patient_birth_sex"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"e9cdc678-3043-3e01-867f-26bdf726c9d5","instanceIdentifier":"b405f870-bcfb-3f64-251b-935c00f47f42","name":"","source":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"AddConstantValues","comments":"","instanceIdentifier":"66398a0c-8ae3-332a-e7ee-b136df0e04e2"},"destination":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"RenameProperties","comments":"","instanceIdentifier":"76eebf54-c9b0-3d1f-af78-d3ab2d3b4934"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"bf0441e8-73e8-385f-98de-de0d836b1663","instanceIdentifier":"4fe17113-5c08-3dd2-f35b-33b9fc56f3ad","name":"","source":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"RenameProperties","comments":"","instanceIdentifier":"76eebf54-c9b0-3d1f-af78-d3ab2d3b4934"},"destination":{"id":"e9cb1b63-a5ba-301e-b268-a03f1df07155","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForBirthSexOnlyAUTH","comments":"","instanceIdentifier":"f7b31e6b-47cb-3600-3dc0-ac47a896ba68"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"018ad2d5-dfc8-352c-965c-8ab6b561d56f","instanceIdentifier":"10190b7b-078e-30ac-371f-3c1c16b241dd","name":"","source":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"9073a99d-1ea2-3396-5f7c-f723fab900a8"},"destination":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"8f55b64b-b989-3dda-ddd7-b2a4ae17e7d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"4ae32e01-435f-3813-9f80-85e2101bda86","instanceIdentifier":"ee8268c6-8b73-30e6-7949-5070d51759e1","name":"","source":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"d064a754-58f9-33cb-c135-be3357e1e4b6"},"destination":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"505ed881-5d38-3bf5-a833-e450e07fbe22","instanceIdentifier":"e16cf4ed-0977-363b-4562-ee13b8930ab7","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"8f55b64b-b989-3dda-ddd7-b2a4ae17e7d8"},"destination":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SplitJson","comments":"","instanceIdentifier":"2c2e532b-4a2c-3462-6fe5-ca1032a8602c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"a643985c-034f-3e2a-a817-c95c2b6a4f83","instanceIdentifier":"01fb8391-61e6-3c44-6021-7179ed524bcb","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"8f55b64b-b989-3dda-ddd7-b2a4ae17e7d8"},"destination":{"id":"63fd6d47-0197-1000-67db-62bac795e552","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LogAttribute","comments":"","instanceIdentifier":"c008fc68-f9d2-38a3-baed-713c6ea82df8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"b9a3e1ef-0f58-3324-adfe-ce52ba35253b","instanceIdentifier":"78354898-f3ff-33ac-241a-c6ba12767dc8","name":"","source":{"id":"18fa34f8-0198-1000-86c9-44c94e2eafac","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForTumorOrgan","comments":"","instanceIdentifier":"b552cc86-d503-3899-5237-786abaaa5a57"},"destination":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"e7117869-171c-3c54-86bc-3528d6de8dad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"105e5342-b317-3ef0-a063-58cb7d40f081","instanceIdentifier":"ed5b596d-7a9e-3c0b-0bcf-93cf566acaf1","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"03d2b567-019b-1000-2284-74991b6e7179","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreImagingProcedureDataIfNotExist","comments":"","instanceIdentifier":"258aca5b-5b74-3f7b-22e0-e4fedf5fa735"},"labelIndex":0,"zIndex":0,"selectedRelationships":["entity:ImagingProcedure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"bb4b55a4-af57-30bf-8c2c-43abc8f31984","instanceIdentifier":"ef1db7b9-8516-3f26-b704-9734949dfba3","name":"","source":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"JoltTransformJSON","comments":"","instanceIdentifier":"4389ffd5-b989-36c0-bcb7-cdeae5df12a8"},"destination":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"d064a754-58f9-33cb-c135-be3357e1e4b6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"945b54d2-6917-3996-931f-5d59926c92da","instanceIdentifier":"17f1486f-9db1-3966-bf97-3b5008c9ad71","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"SpecificMappings","comments":"","instanceIdentifier":"bc1e1ea7-87ee-36cd-09d9-48d226c49260"},"destination":{"id":"ffb46a02-019b-1000-7d4e-5ce256ae41da","type":"PROCESSOR","groupId":"ac89d8f0-b52f-3e0a-85c0-fa6105724216","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"a14863ce-0909-3c99-baa6-fd279448bbb4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping:procedure_code"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-828.0,"y":-374.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"}],"labels":[{"identifier":"63fd6d4f-0197-1000-90d7-0eee2e20dc36","instanceIdentifier":"1d6e84df-2517-3a1d-85e1-7a197edaecea","position":{"x":-2224.0,"y":-1008.0},"label":"Loop 3 for clinical data:\n* Clinical data tabular inputs are mapped and converted to a relational model.\n* Mappings are specified during the Data Holder's analysis phase.","zIndex":0,"width":792.0,"height":112.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"}],"funnels":[],"controllerServices":[{"identifier":"e786ce37-3bdc-38d9-b217-3a3127134811","instanceIdentifier":"7d7f6d87-6665-368d-dc5b-27896d3b8881","name":"LookupTumorGradeCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorGradeCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"43ef4c56-e547-343c-b726-01cbb34ff16e","instanceIdentifier":"be75a0dc-0af0-31d5-c3d6-e56d9e3425e3","name":"LookupTumorLocationCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorLocationCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","instanceIdentifier":"fd966c1b-a9d3-3833-5a5c-92687e172911","name":"CSVRecordSetWriterClinicalData","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"66be6d9c-0a6b-3cda-b1d3-040646c57af2","instanceIdentifier":"a458f83d-6815-3bc4-d1e2-af376798aeba","name":"LookupHistologyMorphologyCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupHistologyMorphologyCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"9c609a6f-495b-3ea5-9381-a06b75643a88","instanceIdentifier":"3d2aff3e-3f81-3f43-0df9-7fa4284942e4","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"16da3869-c026-3d86-9ac4-3f196b2269f0","instanceIdentifier":"f7bd432b-f793-3ce3-d578-f9461d062259","name":"LookupProcedureCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupProcedureCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"53dfc2dd-322f-3f85-ae00-745fb12368d9","instanceIdentifier":"e8ff96d2-e2c2-3b1f-872c-0f3e4030c25b","name":"LookupImagingProcedureCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupImagingProcedureCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"f0d6b77f-ae96-33f4-9931-c520c9d3424e","instanceIdentifier":"535b982e-7f83-3492-f608-ecd58a77bbe3","name":"LookupHealthStatusValueCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupHealthStatusValueCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"f8c690be-411f-3e7a-aff3-e97d73571b97","instanceIdentifier":"8798302c-c131-376f-bace-5d6c7dd058ed","name":"ScriptedLookupService","comments":"","type":"org.apache.nifi.lookup.script.ScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":"#{scripts_base_path}/CodeableConceptLookupService.groovy","dbcpService":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","Script Engine":"Groovy","Script Body":null,"Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"dbcpService":{"name":"dbcpService","displayName":"dbcpService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","instanceIdentifier":"4940ed09-ac86-3b28-9bf8-9bf88cf0cdd5","name":"DBConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://nifi-postgres:5432/eucaim-etl-db","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"d17942d2-b95c-330b-947f-acb0bbe00f14","instanceIdentifier":"a63f8455-1939-381d-f346-7ef1a4f34fbc","name":"LookupBirthSexAUTHService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"0":"male","1":"female"},"propertyDescriptors":{"0":{"name":"0","displayName":"0","identifiesControllerService":false,"sensitive":false,"dynamic":true},"1":{"name":"1","displayName":"1","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"c378b6c0-5c9d-322f-bf60-9894d57f42aa","instanceIdentifier":"35a99592-67d9-3dc9-bf5f-f1c6d8cf9330","name":"LookupTumorOrganCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorOrganCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"44b977c8-abb1-3327-86d9-b8701b7375b4","instanceIdentifier":"1a1a8591-f5ed-33a1-b60c-e8aa90d55d6b","name":"LookupRadiotherapyCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupRadiotherapyCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","instanceIdentifier":"d8c4b3c2-260d-380c-98a8-c7c02119f86a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"},{"identifier":"92a4a0ba-9ed7-31b5-9448-444980c3d608","instanceIdentifier":"2d6a8276-0599-3522-f5ea-801879cab19e","name":"CSVReaderClinicalData","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac89d8f0-b52f-3e0a-85c0-fa6105724216"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://nifi-tdc:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}