flows/Clinical_data_loop03_transformToDB_AUTH_Thyroid.json
{"flowContents":{"identifier":"bd94819e-ffa4-3270-8089-2f59590bf08c","instanceIdentifier":"a091ccb3-019a-1000-ed2c-4a07f885ec2f","name":"Clinical_data_loop03_transformToDB_AUTH_Thyroid","comments":"","position":{"x":1350.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","instanceIdentifier":"75149603-c611-3e94-b5e8-a0fb10b2b429","name":"SplitJson","comments":"","position":{"x":-1400.0,"y":736.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"18fa34f8-0198-1000-86c9-44c94e2eafac","instanceIdentifier":"52515692-9546-3a5b-777c-b4ce32617473","name":"LookupRecordForTumorOrgan","comments":"","position":{"x":-2600.0,"y":296.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/PrimaryCancerCondition_BodySiteCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"c378b6c0-5c9d-322f-bf60-9894d57f42aa","record-update-strategy":"use-property","key":"/PrimaryCancerCondition_BodySiteCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"04a1b868-0199-1000-d594-d570c840ee7b","instanceIdentifier":"26f88ea1-0560-3050-074c-b0c615b40ba4","name":"LookupRecordForPopulationCategoryOnlyAUTH","comments":"","position":{"x":-1880.0,"y":336.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Patient_DiagnosticCategory_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"8b0ae05a-337c-3a21-808d-9bddd4553b64","record-update-strategy":"use-property","key":"/Patient_DiagnosticCategory"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"7fb384db-0198-1000-6281-2b3e9e1979f9","instanceIdentifier":"ee1aba01-8f41-3370-0adc-12b86242b385","name":"StoreSurgeryDataIfNotExist","comments":"","position":{"x":-560.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"surgicalprocedure","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"63fd6d43-0197-1000-845b-aeaecedf1d2a","instanceIdentifier":"13b66415-dfe5-3631-2707-ce3d89b6f1b1","name":"StorePatientDataIfNotExist","comments":"","position":{"x":-568.0,"y":8.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"cancerpatient","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"08faab81-0198-1000-0afa-62d21647ff3e","instanceIdentifier":"1676b52a-aa31-360e-36e9-feb25e970ef7","name":"LookupRecordForHealthStatusValueAsCode","comments":"","position":{"x":-2600.0,"y":944.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HealthStatus1_TestValueAsConcept_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"f0d6b77f-ae96-33f4-9931-c520c9d3424e","record-update-strategy":"use-property","key":"/HealthStatus1_TestValueAsConcept"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"63fd6d4a-0197-1000-3482-7420cd2eb231","instanceIdentifier":"b1aec379-d2b9-3111-9bc7-9626ff1064d5","name":"LoadClinicalDataCSVfromStaging3","comments":"","position":{"x":-1968.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{staging_base_path}/curated_as_csv/clinical_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"(?i)^.*thyroid.*\\.csv$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"e9cb1b63-a5ba-301e-b268-a03f1df07155","instanceIdentifier":"58b6e8e7-ffd9-3a29-1908-503544248086","name":"LookupRecordForBirthSexOnlyAUTH","comments":"","position":{"x":-2032.0,"y":128.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Patient_BirthSex_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"d17942d2-b95c-330b-947f-acb0bbe00f14","record-update-strategy":"use-property","key":"/Patient_BirthSex"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","instanceIdentifier":"fdf87389-e79d-3bcc-dfaa-814058439bd0","name":"LookupRecordForTumorLocation","comments":"","position":{"x":-2600.0,"y":512.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Tumor_BodySiteLocation_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"43ef4c56-e547-343c-b726-01cbb34ff16e","record-update-strategy":"use-property","key":"/Tumor_BodySiteLocation"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"234aa4b4-1888-3d59-b332-2983c5cf750d","instanceIdentifier":"cc830a50-145d-30e4-7832-0ae5d8913da2","name":"JoltTransformJSON","comments":"","position":{"x":-1400.0,"y":512.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"results\": {\n        \"*\": \"&\"    // Mueve cada campo dentro de \"results\" al nivel raíz\n      },\n      \"*\": \"&\"      // Copia todo lo demás sin cambios\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": \"=lastElement(@(1,&))\"  // si hay arrays, toma el último elemento\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"60333d82-0198-1000-5947-0b5ca1b60642","instanceIdentifier":"0a32c055-165e-3f40-d532-7f15a363f3b4","name":"PrepareAuxProperties","comments":"","position":{"x":-1968.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/Procedure1_IsBiopsy":"/\"Pathology confirmation\"[contains(., '1')]","/Procedure1_IsImaging":"/\"Pathology confirmation\"[contains(., '2')]","/Procedure1_IsSurgery":"/\"Pathology confirmation\"[contains(., '0')]","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/Procedure1_IsBiopsy":{"name":"/Procedure1_IsBiopsy","displayName":"/Procedure1_IsBiopsy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Procedure1_IsImaging":{"name":"/Procedure1_IsImaging","displayName":"/Procedure1_IsImaging","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Procedure1_IsSurgery":{"name":"/Procedure1_IsSurgery","displayName":"/Procedure1_IsSurgery","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"41e47d7b-0198-1000-3cfc-640aa1d1fabf","instanceIdentifier":"41791ede-b8fc-3436-6ad3-7c51e97ebffa","name":"StoreImagingProcedureDataIfNotExist","comments":"","position":{"x":-552.0,"y":808.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"imagingprocedure","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"5020a1a8-0198-1000-7339-afa32cc85a33","instanceIdentifier":"421e93c8-5e44-31f5-0419-364b48d4ce88","name":"LookupRecordForHistologyMorphology","comments":"","position":{"x":-2600.0,"y":48.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"66be6d9c-0a6b-3cda-b1d3-040646c57af2","record-update-strategy":"use-property","key":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"8285bec1-ae50-300a-abf7-9993140af27e","instanceIdentifier":"efc21398-f89c-3475-dc99-8ac690d9fd22","name":"ConvertBasicDatatypes","comments":"","position":{"x":-2600.0,"y":-856.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_AgeUnitConcept":"toLowerCase(/PrimaryCancerCondition_AgeUnitConcept)","/SurgeryTreatment1_OffsetUnit":"toLowerCase(/SurgeryTreatment1_OffsetUnit)","/Patient_BirthSex_parsed":"toUpperCase(/Patient_BirthSex_parsed)","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/SurgeryTreatment1_OffsetUnit":{"name":"/SurgeryTreatment1_OffsetUnit","displayName":"/SurgeryTreatment1_OffsetUnit","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex_parsed":{"name":"/Patient_BirthSex_parsed","displayName":"/Patient_BirthSex_parsed","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"81e6b1e0-019a-1000-9431-5d4402ed178e","instanceIdentifier":"cd68e09f-35c4-33e9-9e0d-42d49150f753","name":"StoreDatasetDataIfNotExist","comments":"","position":{"x":-568.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"dataset","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"0b54e6b1-0199-1000-b98d-9975a2d1d556","instanceIdentifier":"9fad3795-c378-3713-319c-58e058e9502a","name":"LookupRecordForImagingProcedureOnlyAUTH","comments":"","position":{"x":-2096.0,"y":536.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/ImagingProcedure1_ProcedureCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"a209a3be-d719-3f3a-9069-439051f18030","record-update-strategy":"use-property","key":"/ImagingProcedure1_ProcedureCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"63fd6d47-0197-1000-67db-62bac795e552","instanceIdentifier":"cefd8750-076e-396f-e993-6ee93db017bb","name":"LogAttribute","comments":"","position":{"x":-1968.0,"y":1224.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"f3ed0c25-0197-1000-3947-143fe1d6a59a","instanceIdentifier":"5a6b6fcf-bf22-3dbf-f8d4-3b69eec8f0db","name":"StoreCodeableConceptsMappingResults","comments":"","position":{"x":-584.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"mappedcodeableconceptsresults","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","instanceIdentifier":"bd0591dc-830f-3458-512c-6a193b00b5a2","name":"LookupRecordForCodeableConcepts","comments":"","position":{"x":-1968.0,"y":992.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","lookup_batch":"/lookup_batch","result-record-path":"/results","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","lookup-service":"f8c690be-411f-3e7a-aff3-e97d73571b97","record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup_batch":{"name":"lookup_batch","displayName":"lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"51099c0c-0198-1000-da83-0479168ce771","instanceIdentifier":"3e15159b-01f4-3c91-bd60-d5ddb8c3e189","name":"LookupRecordForProcedure","comments":"","position":{"x":-2600.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Procedure1_ProcedureCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"16da3869-c026-3d86-9ac4-3f196b2269f0","record-update-strategy":"use-property","key":"/Procedure1_ProcedureCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"899739a6-30be-3d9c-b8a7-a62344fe3a80","instanceIdentifier":"2c6ecf6d-5bf3-3567-1153-4097e84a584f","name":"AddConstantValues","comments":"","position":{"x":-1968.0,"y":-552.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_AgeUnitConcept":"Year","/SurgeryTreatment1_OffsetUnit":"Month","/Dataset_Identifier":"UoA Thyroid","/Episode1_Type":"overarching","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","/Episode1_Number":"1","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/PrimaryCancerCondition_AgeUnitConcept":{"name":"/PrimaryCancerCondition_AgeUnitConcept","displayName":"/PrimaryCancerCondition_AgeUnitConcept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/SurgeryTreatment1_OffsetUnit":{"name":"/SurgeryTreatment1_OffsetUnit","displayName":"/SurgeryTreatment1_OffsetUnit","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Dataset_Identifier":{"name":"/Dataset_Identifier","displayName":"/Dataset_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Episode1_Type":{"name":"/Episode1_Type","displayName":"/Episode1_Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/Episode1_Number":{"name":"/Episode1_Number","displayName":"/Episode1_Number","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"09979af4-a283-3e9f-8715-64d01c0ab007","instanceIdentifier":"5b090834-837f-38d1-ecd6-088fe4f53aa3","name":"CleanUtilityProperties","comments":"","position":{"x":-1400.0,"y":240.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","Record Reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","/lookup_batch":"","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/lookup_batch":{"name":"/lookup_batch","displayName":"/lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"ebd95f4d-0197-1000-6314-88f71c8b604b","instanceIdentifier":"247ce636-ed30-3f04-2687-122ffc2fc971","name":"StoreEpisodeDataIfNotExist","comments":"","position":{"x":-560.0,"y":424.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"episode","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"51095f00-0198-1000-cd76-db6e68e2ef07","instanceIdentifier":"4b9e9e68-b8cb-3463-2abc-5ce46f3d31dd","name":"LookupRecordForRadiotherapy","comments":"","position":{"x":-2600.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/Radiotherapy1_RadiotherapyCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"44b977c8-abb1-3327-86d9-b8701b7375b4","record-update-strategy":"use-property","key":"/Radiotherapy1_RadiotherapyCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"5030dcc0-0198-1000-7d7a-07a38cb29900","instanceIdentifier":"0941d6be-d8b6-301d-e0e8-f9f16b99c530","name":"LookupRecordForImagingProcedure","comments":"","position":{"x":-2600.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/ImagingProcedure1_ProcedureCode_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"bdc089d8-ce89-33a9-bc17-6d0b3dfc5414","record-update-strategy":"use-property","key":"/ImagingProcedure1_ProcedureCode"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"63fd6d45-0197-1000-1548-54496f528752","instanceIdentifier":"ae171e93-db84-31d5-7538-57e934549a5d","name":"RenameProperties","comments":"","position":{"x":-1968.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode":"/Pathology","/Patient_Identifier":"/\"Patient ID\"","/ImagingProcedure1_PatientIdentifier":"/\"Patient ID\"","/Patient_DiagnosticCategory":"/Population","/ImagingProcedure1_PerformedDate":"/\"Date of pathology confirmation / diagnosis date\"","/PrimaryCancerCondition_Code":"/\"Pathology / Histological Type\"","/PrimaryCancerCondition_Identifier":"concat(/\"Patient ID\", '_cancerCondition_1')","Record Reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","/Episode1_PatientIdentifier":"/\"Patient ID\"","/SurgeryTreatment1_OffsetFromDiagnosis":"/\"Date of first treatment\"","Replacement Value Strategy":"record-path-value","/ImagingProcedure1_ProcedureIdentifier":"concat(/\"Patient ID\", '_imaging_1')","/SurgeryTreatment1_PatientIdentifier":"/\"Patient ID\"","/Patient_BirthSex":"/Sex","/ImagingProcedure1_ProcedureCode":"/\"Imaging procedure protocol\"","/PrimaryCancerCondition_BodySiteCode":"/\"Topography : Organ\"","/PrimaryCancerCondition_AgeAtDiagnosis":"/\"Age at diagnosis\"","Record Writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","/PrimaryCancerCondition_PatientIdentifier":"/\"Patient ID\"","/SurgeryTreatment1_ProcedureIdentifier":"concat(/\"Patient ID\", '_treatment_1')"},"propertyDescriptors":{"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode":{"name":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode","displayName":"/PrimaryCancerCondition_HistologyMorphologyBehaviourCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_Identifier":{"name":"/Patient_Identifier","displayName":"/Patient_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure1_PatientIdentifier":{"name":"/ImagingProcedure1_PatientIdentifier","displayName":"/ImagingProcedure1_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_DiagnosticCategory":{"name":"/Patient_DiagnosticCategory","displayName":"/Patient_DiagnosticCategory","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure1_PerformedDate":{"name":"/ImagingProcedure1_PerformedDate","displayName":"/ImagingProcedure1_PerformedDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_Code":{"name":"/PrimaryCancerCondition_Code","displayName":"/PrimaryCancerCondition_Code","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_Identifier":{"name":"/PrimaryCancerCondition_Identifier","displayName":"/PrimaryCancerCondition_Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/Episode1_PatientIdentifier":{"name":"/Episode1_PatientIdentifier","displayName":"/Episode1_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/SurgeryTreatment1_OffsetFromDiagnosis":{"name":"/SurgeryTreatment1_OffsetFromDiagnosis","displayName":"/SurgeryTreatment1_OffsetFromDiagnosis","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ImagingProcedure1_ProcedureIdentifier":{"name":"/ImagingProcedure1_ProcedureIdentifier","displayName":"/ImagingProcedure1_ProcedureIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/SurgeryTreatment1_PatientIdentifier":{"name":"/SurgeryTreatment1_PatientIdentifier","displayName":"/SurgeryTreatment1_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/Patient_BirthSex":{"name":"/Patient_BirthSex","displayName":"/Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ImagingProcedure1_ProcedureCode":{"name":"/ImagingProcedure1_ProcedureCode","displayName":"/ImagingProcedure1_ProcedureCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_BodySiteCode":{"name":"/PrimaryCancerCondition_BodySiteCode","displayName":"/PrimaryCancerCondition_BodySiteCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/PrimaryCancerCondition_AgeAtDiagnosis":{"name":"/PrimaryCancerCondition_AgeAtDiagnosis","displayName":"/PrimaryCancerCondition_AgeAtDiagnosis","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/PrimaryCancerCondition_PatientIdentifier":{"name":"/PrimaryCancerCondition_PatientIdentifier","displayName":"/PrimaryCancerCondition_PatientIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/SurgeryTreatment1_ProcedureIdentifier":{"name":"/SurgeryTreatment1_ProcedureIdentifier","displayName":"/SurgeryTreatment1_ProcedureIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"63fd6d48-0197-1000-0139-e659146a3f59","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d","name":"SpecificMappings","comments":"","position":{"x":-1400.0,"y":16.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"dbf-default-precision":"10","Surgery Treatment":"SELECT \t\"Patient_Identifier\" AS Identifier,\n\t\t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\tCASE\n        \tWHEN \"SurgeryTreatment1_OffsetFromDiagnosis\" NOT IN ('?', '', 'NA', 'null')\n        \tTHEN CAST(REPLACE(\"SurgeryTreatment1_OffsetFromDiagnosis\", ',', '.') AS DOUBLE)\n        \tELSE NULL\n    \tEND AS OffsetFromDiagnosis,\n\t\t'Month' AS OffsetUnitOriginal,\n\t\t\"SurgeryTreatment1_OffsetUnit\" AS OffsetUnitEUCAIM,\n\t\t\"SurgeryTreatment1_ProcedureIdentifier\" AS ProcedureIdentifier\nFROM FLOWFILE","Dataset":"SELECT \t\"Dataset_Identifier\" AS Identifier,\n\t\t\"Dataset_Identifier\" AS Title,\n\t\t'0' as Processed\nFROM FLOWFILE","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","mapping Patient_BirthSex":"SELECT \t'AUTH_thyroid' AS datasetId,\n\t\t'Sex' AS propertyNameOriginal,\n\t\t\"Sex\" AS originalValue,\n\t\t'Patient_BirthSex' AS propertyNameEUCAIM,\n        \"Patient_BirthSex\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Patient":"SELECT \t\"Patient_Identifier\" AS Identifier,\n\t\t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Population\" AS\tDiagnosticCategoryOriginal,\n\t\t\"Sex\" AS BirthSexOriginal,\n        \"Patient_BirthSex\" AS BirthSexEucaim,\n\t\t'0' as Processed\nFROM FLOWFILE","include-zero-record-flowfiles":"true","dbf-default-scale":"0","Episode":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"Episode1_Type\" AS\tTypeOriginal,\n\t\t\"Episode1_Number\" AS EpisodeNumber\nFROM FLOWFILE","mapping ImagingProcedure1_ProcedureCode":"SELECT \t'AUTH_thyroid' AS datasetId,\n\t\t'Imaging procedure protocol' AS propertyNameOriginal,\n\t\t\"Imaging procedure protocol\" AS originalValue,\n\t\t'ImagingProcedure1_ProcedureCode' AS propertyNameEUCAIM,\n        \"ImagingProcedure1_ProcedureCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","Primary Cancer Condition":"SELECT \t\"Patient_Identifier\" AS PatientIdentifier,\n\t\t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"PrimaryCancerCondition_Identifier\" AS Identifier,\n\t\tCASE\n        \tWHEN \"PrimaryCancerCondition_AgeAtDiagnosis\" NOT IN ('?', '', 'NA', 'null')\n        \tTHEN CAST(REPLACE(\"PrimaryCancerCondition_AgeAtDiagnosis\", ',', '.') AS DOUBLE)\n        \tELSE NULL\n    \tEND AS AgeOfDiagnosis,\n\t\t'Year' AS AgeUnitOriginal,\n\t\t\"PrimaryCancerCondition_AgeUnitConcept\" AS AgeUnitEUCAIM,\n\t\t\"Topography : Organ\" AS BodySiteOriginal,\n\t\t\"PrimaryCancerCondition_BodySiteCode\" AS BodySiteEUCAIM,\n\t\t\"ImagingProcedure1_ProcedureIdentifier\" AS ConfirmedByProcedure,\n\t\t\"Pathology\" AS HistologyMorphologyBehaviourOriginal,\n\t\t\"PrimaryCancerCondition_HistologyMorphologyBehaviourCode\" AS HistologyMorphologyBehaviourEUCAIM\nFROM FLOWFILE","mapping Tumor_BodySite":"SELECT \t'AUTH_thyroid' AS datasetId,\n\t\t'Topography : Organ' AS propertyNameOriginal,\n\t\t\"Topography : Organ\" AS originalValue,\n\t\t'PrimaryCancerCondition_BodySiteCode' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_BodySiteCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode":"SELECT \t'AUTH_thyroid' AS datasetId,\n\t\t'Pathology' AS propertyNameOriginal,\n\t\t\"Pathology\" AS originalValue,\n\t\t'PrimaryCancerCondition_HistologyMorphologyBehaviourCode' AS propertyNameEUCAIM,\n        \"PrimaryCancerCondition_HistologyMorphologyBehaviourCode\" AS codeInEUCAIM,\n\t\tCAST(CURRENT_TIMESTAMP AS VARCHAR) AS mappingTimestamp\nFROM FLOWFILE","ImagingProcedure1":"SELECT \t\"Patient_Identifier\" AS Identifier,\n\t\t\"Dataset_Identifier\" AS DatasetIdentifier,\n\t\t\"ImagingProcedure1_ProcedureIdentifier\" AS\tProcedureIdentifier,\n        \"ImagingProcedure1_PerformedDate\" AS PerformedDate,\n\t\t\"Imaging procedure protocol\" AS ImagingProcedureOriginal,\n\t\t\"ImagingProcedure1_ProcedureCode\" AS ImagingProcedureEUCAIM\nFROM FLOWFILE"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Surgery Treatment":{"name":"Surgery Treatment","displayName":"Surgery Treatment","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Dataset":{"name":"Dataset","displayName":"Dataset","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mapping Patient_BirthSex":{"name":"mapping Patient_BirthSex","displayName":"mapping Patient_BirthSex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Patient":{"name":"Patient","displayName":"Patient","identifiesControllerService":false,"sensitive":false,"dynamic":true},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Episode":{"name":"Episode","displayName":"Episode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping ImagingProcedure1_ProcedureCode":{"name":"mapping ImagingProcedure1_ProcedureCode","displayName":"mapping ImagingProcedure1_ProcedureCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Primary Cancer Condition":{"name":"Primary Cancer Condition","displayName":"Primary Cancer Condition","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mapping Tumor_BodySite":{"name":"mapping Tumor_BodySite","displayName":"mapping Tumor_BodySite","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode":{"name":"mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode","displayName":"mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ImagingProcedure1":{"name":"ImagingProcedure1","displayName":"ImagingProcedure1","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#9ea53b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"cbe23709-0197-1000-53e6-50cf8c162805","instanceIdentifier":"658dfef1-bce3-3d01-3888-29a64467e73b","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","position":{"x":-568.0,"y":208.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"eucaim_cdm_ingestion","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"primarycancercondition","put-db-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","instanceIdentifier":"334eeef8-936f-3f5d-703e-1b2efca04785","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","position":{"x":-1968.0,"y":736.0},"type":"org.apache.nifi.processors.jolt.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"jolt-record-record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Jolt Transform":"jolt-transform-chain","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n\t  \"*\": \"&\",\n      \"Patient_BirthSex_parsed\": \"lookup_batch.Patient_BirthSex\",\n\t  \"Patient_DiagnosticCategory_parsed\": \"lookup_batch.Patient_DiagnosticCategory\",\n\t  \"PrimaryCancerCondition_BodySiteCode_parsed\": \"lookup_batch.PrimaryCancerCondition_BodySiteCode\",\t  \n\t  \"PrimaryCancerCondition_AgeUnitConcept\": \"lookup_batch.PrimaryCancerCondition_AgeUnitConcept\",\n      \"PrimaryCancerCondition_HistologyMorphologyBehaviourCode_parsed\": \"lookup_batch.PrimaryCancerCondition_HistologyMorphologyBehaviourCode\",\n      \"SurgeryTreatment1_OffsetUnit\": \"lookup_batch.SurgeryTreatment1_OffsetUnit\",\n      \"ImagingProcedure1_ProcedureCode_parsed\": \"lookup_batch.ImagingProcedure1_ProcedureCode\"\n    }\n  }\n]","jolt-record-record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"08e20eed-0198-1000-a81f-e4eb4264971c","instanceIdentifier":"debd033e-68f8-3dce-125d-69ad905286d0","name":"LookupRecordForTumorGleasonGrade","comments":"","position":{"x":-2600.0,"y":736.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/HistologicGrade_Code_parsed","record-writer":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","record-reader":"92a4a0ba-9ed7-31b5-9448-444980c3d608","lookup-service":"e786ce37-3bdc-38d9-b217-3a3127134811","record-update-strategy":"use-property","key":"/HistologicGrade_Code"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"af7822ae-ffe7-3bf0-ab4a-280fb41cfbde","instanceIdentifier":"3afefe9c-6532-3be2-bcf3-26c7f53cc91d","name":"","source":{"id":"0b54e6b1-0199-1000-b98d-9975a2d1d556","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForImagingProcedureOnlyAUTH","comments":"","instanceIdentifier":"9fad3795-c378-3713-319c-58e058e9502a"},"destination":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"efc21398-f89c-3475-dc99-8ac690d9fd22"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"a78e70a0-d6f0-3b08-b934-3dfd0f8a11d5","instanceIdentifier":"2de34c15-eada-3b93-2ae1-122e0b0fffea","name":"","source":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"fdf87389-e79d-3bcc-dfaa-814058439bd0"},"destination":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"debd033e-68f8-3dce-125d-69ad905286d0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"73fcd977-db89-3e93-b0aa-62c47ad57bb0","instanceIdentifier":"85f275c6-3815-31bd-f800-986c9774e69e","name":"","source":{"id":"51099c0c-0198-1000-da83-0479168ce771","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForProcedure","comments":"","instanceIdentifier":"3e15159b-01f4-3c91-bd60-d5ddb8c3e189"},"destination":{"id":"51095f00-0198-1000-cd76-db6e68e2ef07","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForRadiotherapy","comments":"","instanceIdentifier":"4b9e9e68-b8cb-3463-2abc-5ce46f3d31dd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"c21ea818-8eef-3929-966e-53971361e518","instanceIdentifier":"51bc9943-91b9-3279-c8bc-f57280da2af2","name":"","source":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"1676b52a-aa31-360e-36e9-feb25e970ef7"},"destination":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"334eeef8-936f-3f5d-703e-1b2efca04785"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"196b1f14-c3a8-3776-a04c-c79a62f023e5","instanceIdentifier":"5568d960-cde0-3bba-ef43-0819ab8cf292","name":"","source":{"id":"08e20eed-0198-1000-a81f-e4eb4264971c","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForTumorGleasonGrade","comments":"","instanceIdentifier":"debd033e-68f8-3dce-125d-69ad905286d0"},"destination":{"id":"08faab81-0198-1000-0afa-62d21647ff3e","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForHealthStatusValueAsCode","comments":"","instanceIdentifier":"1676b52a-aa31-360e-36e9-feb25e970ef7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"83864524-3136-30fa-b547-b055cd288c78","instanceIdentifier":"008cb442-ea43-3d39-ce12-824df1df49bf","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"7fb384db-0198-1000-6281-2b3e9e1979f9","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StoreSurgeryDataIfNotExist","comments":"","instanceIdentifier":"ee1aba01-8f41-3370-0adc-12b86242b385"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Surgery Treatment"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"82fd8df9-8aa1-33da-bb60-8985c8dcc382","instanceIdentifier":"f8ffa32d-828d-3c28-c63a-c1caddbed306","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"81e6b1e0-019a-1000-9431-5d4402ed178e","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StoreDatasetDataIfNotExist","comments":"","instanceIdentifier":"cd68e09f-35c4-33e9-9e0d-42d49150f753"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Dataset"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"338e0085-4235-332e-8d1e-12bb2ef2f3c9","instanceIdentifier":"240b52a8-c165-3890-45d4-6c5bd71d0fa8","name":"","source":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SplitJson","comments":"","instanceIdentifier":"75149603-c611-3e94-b5e8-a0fb10b2b429"},"destination":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"cc830a50-145d-30e4-7832-0ae5d8913da2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"cf6004c6-d072-30b9-b0ea-0d7f7b8dac9a","instanceIdentifier":"00c20c4c-db58-3c41-6c0c-9949fad80fd7","name":"","source":{"id":"60333d82-0198-1000-5947-0b5ca1b60642","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"PrepareAuxProperties","comments":"","instanceIdentifier":"0a32c055-165e-3f40-d532-7f15a363f3b4"},"destination":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"RenameProperties","comments":"","instanceIdentifier":"ae171e93-db84-31d5-7538-57e934549a5d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"18dc8bbb-3476-3919-9b91-d7f6687d67c6","instanceIdentifier":"4a56133f-74dd-30e5-c834-1471b13211f2","name":"","source":{"id":"63fd6d4a-0197-1000-3482-7420cd2eb231","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LoadClinicalDataCSVfromStaging3","comments":"","instanceIdentifier":"b1aec379-d2b9-3111-9bc7-9626ff1064d5"},"destination":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"AddConstantValues","comments":"","instanceIdentifier":"2c6ecf6d-5bf3-3567-1153-4097e84a584f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"245f2545-6624-33ce-97ea-13c9ead3aa60","instanceIdentifier":"73d7e152-5ae3-3ca3-fb96-02fb47160bf1","name":"","source":{"id":"5020a1a8-0198-1000-7339-afa32cc85a33","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForHistologyMorphology","comments":"","instanceIdentifier":"421e93c8-5e44-31f5-0419-364b48d4ce88"},"destination":{"id":"18fa34f8-0198-1000-86c9-44c94e2eafac","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForTumorOrgan","comments":"","instanceIdentifier":"52515692-9546-3a5b-777c-b4ce32617473"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"625c1545-4f53-32d5-8d98-2faa92877260","instanceIdentifier":"1e0e2d9b-4e0c-3723-3250-fc9cce52cda8","name":"","source":{"id":"51095f00-0198-1000-cd76-db6e68e2ef07","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForRadiotherapy","comments":"","instanceIdentifier":"4b9e9e68-b8cb-3463-2abc-5ce46f3d31dd"},"destination":{"id":"5030dcc0-0198-1000-7d7a-07a38cb29900","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForImagingProcedure","comments":"","instanceIdentifier":"0941d6be-d8b6-301d-e0e8-f9f16b99c530"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"63fd6d55-0197-1000-9624-d47cc89ff30c","instanceIdentifier":"d0bc03ae-e6c3-3596-e316-d531548e5f77","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"63fd6d43-0197-1000-845b-aeaecedf1d2a","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StorePatientDataIfNotExist","comments":"","instanceIdentifier":"13b66415-dfe5-3631-2707-ce3d89b6f1b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Patient"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"f477810d-1a2c-395c-a02e-832629b6ac3e","instanceIdentifier":"1968b769-6046-3234-b439-71ade16d093f","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"41e47d7b-0198-1000-3cfc-640aa1d1fabf","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StoreImagingProcedureDataIfNotExist","comments":"","instanceIdentifier":"41791ede-b8fc-3436-6ad3-7c51e97ebffa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ImagingProcedure1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"4e9eb08e-0ed8-3979-9455-5e8cc0e6994d","instanceIdentifier":"9e22abe5-bf41-3c6e-9779-d486cbcdceb2","name":"","source":{"id":"8285bec1-ae50-300a-abf7-9993140af27e","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"ConvertBasicDatatypes","comments":"","instanceIdentifier":"efc21398-f89c-3475-dc99-8ac690d9fd22"},"destination":{"id":"51099c0c-0198-1000-da83-0479168ce771","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForProcedure","comments":"","instanceIdentifier":"3e15159b-01f4-3c91-bd60-d5ddb8c3e189"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"b317e5cc-4b33-3f5d-b7e9-0dd194f91167","instanceIdentifier":"1bb4d935-7c79-3672-2922-838b8f36ee83","name":"","source":{"id":"04a1b868-0199-1000-d594-d570c840ee7b","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForPopulationCategoryOnlyAUTH","comments":"","instanceIdentifier":"26f88ea1-0560-3050-074c-b0c615b40ba4"},"destination":{"id":"0b54e6b1-0199-1000-b98d-9975a2d1d556","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForImagingProcedureOnlyAUTH","comments":"","instanceIdentifier":"9fad3795-c378-3713-319c-58e058e9502a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"71fa69e6-b538-3d9a-8e0f-266a7414b4be","instanceIdentifier":"cfa4ad20-ccba-323a-75c2-8e35b193c674","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"f3ed0c25-0197-1000-3947-143fe1d6a59a","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"5a6b6fcf-bf22-3dbf-f8d4-3b69eec8f0db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping Patient_BirthSex","mapping Tumor_BodySite"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"97a903e9-3395-3935-8dc8-64bb53f04c9a","instanceIdentifier":"55539db4-1843-34d8-6d05-b4f94e9fccda","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"f3ed0c25-0197-1000-3947-143fe1d6a59a","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"5a6b6fcf-bf22-3dbf-f8d4-3b69eec8f0db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping ImagingProcedure1_ProcedureCode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-816.0,"y":-203.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"48e6b42c-5b43-3419-bf8f-f1c7b569ea95","instanceIdentifier":"0131f352-1974-3e67-76e2-7fbf0c0297c4","name":"","source":{"id":"e9cb1b63-a5ba-301e-b268-a03f1df07155","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForBirthSexOnlyAUTH","comments":"","instanceIdentifier":"58b6e8e7-ffd9-3a29-1908-503544248086"},"destination":{"id":"04a1b868-0199-1000-d594-d570c840ee7b","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForPopulationCategoryOnlyAUTH","comments":"","instanceIdentifier":"26f88ea1-0560-3050-074c-b0c615b40ba4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"bf0441e8-73e8-385f-98de-de0d836b1663","instanceIdentifier":"07df54fd-0433-3550-9f95-bdd3b7c90acf","name":"","source":{"id":"63fd6d45-0197-1000-1548-54496f528752","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"RenameProperties","comments":"","instanceIdentifier":"ae171e93-db84-31d5-7538-57e934549a5d"},"destination":{"id":"e9cb1b63-a5ba-301e-b268-a03f1df07155","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForBirthSexOnlyAUTH","comments":"","instanceIdentifier":"58b6e8e7-ffd9-3a29-1908-503544248086"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"fffd78de-9dd5-310f-b628-f47d01a762fd","instanceIdentifier":"a7f8e40c-3448-3627-cbdf-de046c21f7af","name":"","source":{"id":"899739a6-30be-3d9c-b8a7-a62344fe3a80","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"AddConstantValues","comments":"","instanceIdentifier":"2c6ecf6d-5bf3-3567-1153-4097e84a584f"},"destination":{"id":"60333d82-0198-1000-5947-0b5ca1b60642","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"PrepareAuxProperties","comments":"","instanceIdentifier":"0a32c055-165e-3f40-d532-7f15a363f3b4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"4ae32e01-435f-3813-9f80-85e2101bda86","instanceIdentifier":"777df322-7b5e-3d43-a765-dee57ba7f197","name":"","source":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"5b090834-837f-38d1-ecd6-088fe4f53aa3"},"destination":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"018ad2d5-dfc8-352c-965c-8ab6b561d56f","instanceIdentifier":"e567e0a9-8156-3b71-31f2-283fdbc79593","name":"","source":{"id":"3f34c2bc-e4ab-383b-8a5b-aea720fdc310","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"PrepareLookupFieldsWithCodeableConcepts","comments":"","instanceIdentifier":"334eeef8-936f-3f5d-703e-1b2efca04785"},"destination":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"bd0591dc-830f-3458-512c-6a193b00b5a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"505ed881-5d38-3bf5-a833-e450e07fbe22","instanceIdentifier":"46b26eb1-53f2-3a21-9519-60968afeb862","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"bd0591dc-830f-3458-512c-6a193b00b5a2"},"destination":{"id":"fc1e388e-d4c1-3a26-874e-bd38c7bc2c62","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SplitJson","comments":"","instanceIdentifier":"75149603-c611-3e94-b5e8-a0fb10b2b429"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"a643985c-034f-3e2a-a817-c95c2b6a4f83","instanceIdentifier":"e2542588-7f6a-3c53-b7b4-e9ff58bc58b1","name":"","source":{"id":"5a6907a0-f3ec-3d4d-9a0f-e4a7a5e0e5bd","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForCodeableConcepts","comments":"","instanceIdentifier":"bd0591dc-830f-3458-512c-6a193b00b5a2"},"destination":{"id":"63fd6d47-0197-1000-67db-62bac795e552","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LogAttribute","comments":"","instanceIdentifier":"cefd8750-076e-396f-e993-6ee93db017bb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"065339e0-e489-3961-ba78-24fa021b6635","instanceIdentifier":"994cf6f2-8ee0-3ea1-b40b-b09027630349","name":"","source":{"id":"5030dcc0-0198-1000-7d7a-07a38cb29900","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForImagingProcedure","comments":"","instanceIdentifier":"0941d6be-d8b6-301d-e0e8-f9f16b99c530"},"destination":{"id":"5020a1a8-0198-1000-7339-afa32cc85a33","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForHistologyMorphology","comments":"","instanceIdentifier":"421e93c8-5e44-31f5-0419-364b48d4ce88"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"b9a3e1ef-0f58-3324-adfe-ce52ba35253b","instanceIdentifier":"7277939f-1d18-3f5e-607e-ce9931a5f481","name":"","source":{"id":"18fa34f8-0198-1000-86c9-44c94e2eafac","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForTumorOrgan","comments":"","instanceIdentifier":"52515692-9546-3a5b-777c-b4ce32617473"},"destination":{"id":"c6377ced-e5ea-3ef9-93d0-aafcd963f3d4","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"LookupRecordForTumorLocation","comments":"","instanceIdentifier":"fdf87389-e79d-3bcc-dfaa-814058439bd0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"cccc0f2e-4ed1-346d-8540-560a096bad02","instanceIdentifier":"051e4bf0-1eb8-3d89-5196-22857d1a02dc","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"cbe23709-0197-1000-53e6-50cf8c162805","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StorePrimaryCancerConditionDataIfNotExist","comments":"","instanceIdentifier":"658dfef1-bce3-3d01-3888-29a64467e73b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Primary Cancer Condition"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"e893460d-df2b-36ab-8e95-510897b9506f","instanceIdentifier":"195031b8-fea0-32fc-56f7-702c523f771d","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"ebd95f4d-0197-1000-6314-88f71c8b604b","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StoreEpisodeDataIfNotExist","comments":"","instanceIdentifier":"247ce636-ed30-3f04-2687-122ffc2fc971"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Episode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"59b24c7c-1270-310d-9e57-79d486e7c44b","instanceIdentifier":"b6e73788-ce70-3a4f-cc63-65900911577c","name":"","source":{"id":"63fd6d48-0197-1000-0139-e659146a3f59","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"SpecificMappings","comments":"","instanceIdentifier":"60ab4459-04dd-354a-d47f-cc30bf88353d"},"destination":{"id":"f3ed0c25-0197-1000-3947-143fe1d6a59a","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"StoreCodeableConceptsMappingResults","comments":"","instanceIdentifier":"5a6b6fcf-bf22-3dbf-f8d4-3b69eec8f0db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["mapping PrimaryCancerCondition_HistologyMorphologyBehaviourCode"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-816.0,"y":-53.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"bb4b55a4-af57-30bf-8c2c-43abc8f31984","instanceIdentifier":"632ad25e-8a2e-3f40-4b52-7af7f2c99945","name":"","source":{"id":"234aa4b4-1888-3d59-b332-2983c5cf750d","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"cc830a50-145d-30e4-7832-0ae5d8913da2"},"destination":{"id":"09979af4-a283-3e9f-8715-64d01c0ab007","type":"PROCESSOR","groupId":"bd94819e-ffa4-3270-8089-2f59590bf08c","name":"CleanUtilityProperties","comments":"","instanceIdentifier":"5b090834-837f-38d1-ecd6-088fe4f53aa3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"}],"labels":[{"identifier":"63fd6d4f-0197-1000-90d7-0eee2e20dc36","instanceIdentifier":"04330414-f7d8-3b42-f82b-fd3f99b4009d","position":{"x":-2240.0,"y":-1152.0},"label":"Loop 3 for clinical data:\n* Clinical data tabular inputs are mapped and converted to a relational model.\n* Mappings are specified during the Data Holder's analysis phase.","zIndex":0,"width":792.0,"height":112.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"}],"funnels":[],"controllerServices":[{"identifier":"e786ce37-3bdc-38d9-b217-3a3127134811","instanceIdentifier":"1f35fcc4-21ed-3472-d00a-1f8b4e21a5b0","name":"LookupTumorGradeCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorGradeCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"43ef4c56-e547-343c-b726-01cbb34ff16e","instanceIdentifier":"2bacda4a-2373-380c-a212-e7d382662a3a","name":"LookupTumorLocationCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorLocationCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","instanceIdentifier":"bebda1fb-656b-349d-97cc-0b4b2ab633a6","name":"CSVRecordSetWriterClinicalData","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"66be6d9c-0a6b-3cda-b1d3-040646c57af2","instanceIdentifier":"0502acae-a1d1-3b3b-b1e6-0ee02d3b79a3","name":"LookupHistologyMorphologyCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupHistologyMorphologyCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"9c609a6f-495b-3ea5-9381-a06b75643a88","instanceIdentifier":"ae4309b6-1e32-36ee-520f-91231c47410a","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"16da3869-c026-3d86-9ac4-3f196b2269f0","instanceIdentifier":"e4561145-e36c-37ce-9370-7476f64b016e","name":"LookupProcedureCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupProcedureCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"f0d6b77f-ae96-33f4-9931-c520c9d3424e","instanceIdentifier":"cc96fd46-78b1-3fae-7d46-f66fa5da60c4","name":"LookupHealthStatusValueCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupHealthStatusValueCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"bdc089d8-ce89-33a9-bc17-6d0b3dfc5414","instanceIdentifier":"56532a4b-b6d0-38a6-336a-1a0633b2c350","name":"LookupImagingProcedureCodeService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbf-default-precision":"10","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"0","dbrecord-lookup-value-columns":"parsedValue","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbf-default-scale":"0","dbrecord-lookup-table-name":"eucaim_etl_aux.LookupImagingProcedureCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"a209a3be-d719-3f3a-9069-439051f18030","instanceIdentifier":"aaa73baa-7141-3b29-1cde-4f4e490d3201","name":"LookupImagingProcedureAUTHService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"WB scintigraphy with I-131":"Scintigraphy"},"propertyDescriptors":{"WB scintigraphy with I-131":{"name":"WB scintigraphy with I-131","displayName":"WB scintigraphy with I-131","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"f8c690be-411f-3e7a-aff3-e97d73571b97","instanceIdentifier":"10b15de2-f5d3-36e8-b024-ab60e40259f3","name":"WCodeableConceptsLookupService","comments":"","type":"org.apache.nifi.lookup.script.ScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":"#{scripts_base_path}/CodeableConceptLookupService.groovy","dbcpService":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","Script Engine":"Groovy","Script Body":null,"Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"dbcpService":{"name":"dbcpService","displayName":"dbcpService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","instanceIdentifier":"52fdcccf-1baf-3cac-2440-e62e180c1a9c","name":"AStagingDBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres:5432/eucaim-nifi-test2","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"d17942d2-b95c-330b-947f-acb0bbe00f14","instanceIdentifier":"88aa2b99-5b44-3995-0562-56d7b75432cd","name":"LookupBirthSexAUTHService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"0":"male","1":"female"},"propertyDescriptors":{"0":{"name":"0","displayName":"0","identifiesControllerService":false,"sensitive":false,"dynamic":true},"1":{"name":"1","displayName":"1","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"8b0ae05a-337c-3a21-808d-9bddd4553b64","instanceIdentifier":"9c5e760e-3a9f-3e08-6b0a-3c4e7959f302","name":"LookupPopulationAuthService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"0":"Patient with cancer","1":"Patient with lesion not being a malignant tumor"},"propertyDescriptors":{"0":{"name":"0","displayName":"0","identifiesControllerService":false,"sensitive":false,"dynamic":true},"1":{"name":"1","displayName":"1","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"c378b6c0-5c9d-322f-bf60-9894d57f42aa","instanceIdentifier":"50d07926-44dc-32d9-de6f-dcbd0ed2bf4b","name":"LookupTumorOrganCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupTumorOrganCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"44b977c8-abb1-3327-86d9-b8701b7375b4","instanceIdentifier":"9b591f9d-69b9-3d34-d030-c7e38948d100","name":"LookupRadiotherapyCodeService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.3.0"},"properties":{"dbrecord-lookup-dbcp-service":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"parsedValue","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"originalValue","Cache Expiration":null,"dbrecord-lookup-table-name":"eucaim_etl_aux.LookupRadiotherapyCode"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","instanceIdentifier":"41848749-17e2-3d52-54d5-52a9bb1b1f6b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"},{"identifier":"92a4a0ba-9ed7-31b5-9448-444980c3d608","instanceIdentifier":"d7e21e9d-f295-3868-904b-59e0553e1444","name":"CSVReaderClinicalData","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd94819e-ffa4-3270-8089-2f59590bf08c"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://TDC:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}