flows/Dicom_metadata_loop03_generate_output.json
{"flowContents":{"identifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937","instanceIdentifier":"2cddcb38-019c-1000-b056-8079732c99f6","name":"Dicom_metadata_loop03_generate_output","comments":"","position":{"x":3150.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"56386e48-0198-1000-7be4-f41abeb8d34d","instanceIdentifier":"ea572213-5303-37fe-f052-47935e41ae20","name":"ExtractIdentifier","comments":"","position":{"x":-896.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"ExtractProcessedIds":"SELECT study_uid AS id FROM FLOWFILE","dbf-default-precision":"10","record-writer":"0e53fd58-d0a1-3015-a94d-aa3842df896b","record-reader":"d7e3f15d-808e-336c-b722-a91e446a0139","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"ExtractProcessedIds":{"name":"ExtractProcessedIds","displayName":"ExtractProcessedIds","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"5626c86f-0198-1000-5292-59d05577e02d","instanceIdentifier":"62c486e8-a866-3902-9665-4cccd617629c","name":"LoadNewImageSeries","comments":"","position":{"x":-248.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT ImageSeriesUID as series_uid, ImageSeriesNumber as series_number, Description as series_description, Manufacturer as series_manufacturer\nFROM eucaim_cdm_ingestion.imageseries WHERE processed = FALSE;","Database Connection Pooling Service":"c8f7b869-8cb6-37e4-a97a-310867717a1c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"56340a66-0198-1000-6e87-6f5c3365758d","instanceIdentifier":"15b22265-362b-3b93-160a-eba0769d4667","name":"ConvertDicomMetadataToCSV","comments":"","position":{"x":472.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","Record Reader":"d7e3f15d-808e-336c-b722-a91e446a0139"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"563ca9c7-0198-1000-5018-8f36258bf5c8","instanceIdentifier":"beb38605-12ae-34ff-78c9-d7ce9c7c7819","name":"PrepareUpdateForProcessedImageSeries","comments":"","position":{"x":-2184.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":".*\"ids\".*:.*\\[(.*)\\]\\}","Replacement Value":"UPDATE eucaim_cdm_ingestion.imageseries SET processed = TRUE WHERE ImageSeriesUID IN ( ${'$1':replaceAll('\"', \"'\")} )","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"563e9ef3-0198-1000-c406-4c9903c9689f","instanceIdentifier":"f15ce937-72f2-3c43-f7eb-2ec56a631c48","name":"UpdateDBforProcessedRecords","comments":"","position":{"x":-2816.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"c8f7b869-8cb6-37e4-a97a-310867717a1c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"56350881-0198-1000-3a9c-502b7d23b3fc","instanceIdentifier":"99a8cee2-6925-357f-03fe-1fd48ced3341","name":"DicomMetadataOutputFile","comments":"","position":{"x":1136.0,"y":-280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"image_study_${now():format('yyyyMMdd_HHmmss')}_records.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"5635e9a7-0198-1000-8080-5b62f67355f6","instanceIdentifier":"dce28e7a-66b3-3ed3-e221-7bc7261c7174","name":"DicomMetadataOutputFile","comments":"","position":{"x":1136.0,"y":-72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"image_series_${now():format('yyyyMMdd_HHmmss')}_records.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"56399f03-0198-1000-6d7b-7fdd510336af","instanceIdentifier":"3eff893b-e684-3e3c-40d1-737a5e4b4934","name":"GenerateJSONforIDs","comments":"","position":{"x":-1536.0,"y":-280.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n      \"*\": {\n        \"id\": \"ids[]\"\n      }\n    }"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"563a0652-0198-1000-6120-649d5de78286","instanceIdentifier":"ce5f2924-d016-313e-9adc-2bfc7659587f","name":"GenerateJSONforIDs","comments":"","position":{"x":-1536.0,"y":144.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n      \"*\": {\n        \"id\": \"ids[]\"\n      }\n    }"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"563b413f-0198-1000-d648-f0bcff41d9c8","instanceIdentifier":"f547e6a6-a7a2-3e32-d26d-9623e0fc51be","name":"PrepareUpdateForProcessedImageStudies","comments":"","position":{"x":-2184.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":".*\"ids\".*:.*\\[(.*)\\]\\}","Replacement Value":"UPDATE eucaim_cdm_ingestion.imagestudy SET processed = TRUE WHERE ImageStudyUID IN ( ${'$1':replaceAll('\"', \"'\")} )","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"562927b1-0198-1000-d504-f07e97ac4987","instanceIdentifier":"1c09ea91-4209-3a06-a105-a87f6b309653","name":"LoadNewImageTags","comments":"","position":{"x":-248.0,"y":136.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT Id, ImageStudyUID, ImageSeriesUID, KVP, XRayTubeCurrent, Exposure, ExposureTime, SpiralPitchFactor, FilterType, ConvolutionKernel, SliceThickness, PixelRowSpacing, PixelColSpacing, ImageRows, ImageColumns\nFROM eucaim_cdm_ingestion.imagetags WHERE processed = FALSE;","Database Connection Pooling Service":"c8f7b869-8cb6-37e4-a97a-310867717a1c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"562b9a81-0198-1000-fcb3-1224ee948ef3","instanceIdentifier":"45207ca4-9309-3246-a30d-c245182128a9","name":"ConvertDicomMetadataToCSV","comments":"","position":{"x":472.0,"y":136.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","Record Reader":"d7e3f15d-808e-336c-b722-a91e446a0139"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"56365d6e-0198-1000-0eba-fc0875772535","instanceIdentifier":"134285f5-07ab-389f-f6c8-5d59f450f15a","name":"DicomMetadataOutputFile","comments":"","position":{"x":1136.0,"y":136.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"image_tag_${now():format('yyyyMMdd_HHmmss')}_records.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"563ce8d7-0198-1000-3ca6-e7ed6c10a791","instanceIdentifier":"c710ec16-7a52-3eb3-a9ac-fa4c936bd9b1","name":"PrepareUpdateForProcessedImageTags","comments":"","position":{"x":-2184.0,"y":144.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":".*\"ids\".*:.*\\[(.*)\\]\\}","Replacement Value":"UPDATE eucaim_cdm_ingestion.imagetags SET processed = TRUE WHERE id IN ( ${'$1':replaceAll('\"', \"'\")} )","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"56370b4b-0198-1000-55b2-52096e291981","instanceIdentifier":"47ee6ea3-dbea-3ce3-0ff2-d0c327738a16","name":"WriteImageMetadataCSVtoOutput","comments":"","position":{"x":1768.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{output_base_path}/image_metadata","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"5639266b-0198-1000-a149-8bfdd2ab4514","instanceIdentifier":"b7dca4d7-d188-3b6f-e061-6d565479293d","name":"ExtractIdentifier","comments":"","position":{"x":-896.0,"y":144.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"ExtractProcessedIds":"SELECT Id AS id FROM FLOWFILE","dbf-default-precision":"10","record-writer":"0e53fd58-d0a1-3015-a94d-aa3842df896b","record-reader":"d7e3f15d-808e-336c-b722-a91e446a0139","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"ExtractProcessedIds":{"name":"ExtractProcessedIds","displayName":"ExtractProcessedIds","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"5639e3b4-0198-1000-e668-de1c65101101","instanceIdentifier":"68f1aac6-c643-3ec2-714c-4de5647a13df","name":"GenerateJSONforIDs","comments":"","position":{"x":-1536.0,"y":-64.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n      \"*\": {\n        \"id\": \"ids[]\"\n      }\n    }"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"56242649-0198-1000-8545-38ef797a9fb5","instanceIdentifier":"e53a7247-3a74-3b17-12ff-5807bbad6338","name":"LoadNewImageStudy","comments":"","position":{"x":-248.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT ImageStudyUID as study_uid, OffsetFromDiagnosis as study_offset_from_diagnosis, OffsetUnitEUCAIM as study_offset_unit, ImagingTimepoint\nFROM eucaim_cdm_ingestion.imagestudy WHERE processed = FALSE;","Database Connection Pooling Service":"c8f7b869-8cb6-37e4-a97a-310867717a1c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"5633d2c6-0198-1000-cbf8-b0ceeab8949e","instanceIdentifier":"bdf2c5ea-d430-37bd-b36c-c611c3de70c0","name":"ConvertDicomMetadataToCSV","comments":"","position":{"x":472.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","Record Reader":"d7e3f15d-808e-336c-b722-a91e446a0139"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"5638f80e-0198-1000-a9ab-f4a384e5cbca","instanceIdentifier":"9e5463f1-83b5-3f9d-8b92-5afb65d3580a","name":"ExtractIdentifier","comments":"","position":{"x":-896.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"ExtractProcessedIds":"SELECT series_uid AS id FROM FLOWFILE","dbf-default-precision":"10","record-writer":"0e53fd58-d0a1-3015-a94d-aa3842df896b","record-reader":"d7e3f15d-808e-336c-b722-a91e446a0139","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"ExtractProcessedIds":{"name":"ExtractProcessedIds","displayName":"ExtractProcessedIds","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d413d85d-ac79-36fe-bce1-707ee705c2ee","instanceIdentifier":"c5d34bd8-e771-380e-80ac-64b701c30d8e","name":"","source":{"id":"56365d6e-0198-1000-0eba-fc0875772535","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"134285f5-07ab-389f-f6c8-5d59f450f15a"},"destination":{"id":"56370b4b-0198-1000-55b2-52096e291981","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"WriteImageMetadataCSVtoOutput","comments":"","instanceIdentifier":"47ee6ea3-dbea-3ce3-0ff2-d0c327738a16"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"0251efda-b22c-3566-ab11-d7ceb1afc2e9","instanceIdentifier":"3ef45c27-539a-35e3-3e0e-1af824a535f0","name":"","source":{"id":"562927b1-0198-1000-d504-f07e97ac4987","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageTags","comments":"","instanceIdentifier":"1c09ea91-4209-3a06-a105-a87f6b309653"},"destination":{"id":"562b9a81-0198-1000-fcb3-1224ee948ef3","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"45207ca4-9309-3246-a30d-c245182128a9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"e42b6308-b691-3367-8638-180ca7a1c6c3","instanceIdentifier":"dcaed84a-eec7-3769-30f9-f2913af9e973","name":"","source":{"id":"56386e48-0198-1000-7be4-f41abeb8d34d","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ExtractIdentifier","comments":"","instanceIdentifier":"ea572213-5303-37fe-f052-47935e41ae20"},"destination":{"id":"56399f03-0198-1000-6d7b-7fdd510336af","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"3eff893b-e684-3e3c-40d1-737a5e4b4934"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ExtractProcessedIds"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"f063e93c-b0e5-32b7-99a2-55fd2367b5f8","instanceIdentifier":"5c4a6cda-75bf-351a-4d5a-a876caa90d8c","name":"","source":{"id":"5639e3b4-0198-1000-e668-de1c65101101","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"68f1aac6-c643-3ec2-714c-4de5647a13df"},"destination":{"id":"563ca9c7-0198-1000-5018-8f36258bf5c8","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageSeries","comments":"","instanceIdentifier":"beb38605-12ae-34ff-78c9-d7ce9c7c7819"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"ea45ce2e-6a1a-337e-a306-eba4cb48a8ec","instanceIdentifier":"758f3114-2082-3f6a-f20a-8f36e6a3f40b","name":"","source":{"id":"5626c86f-0198-1000-5292-59d05577e02d","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageSeries","comments":"","instanceIdentifier":"62c486e8-a866-3902-9665-4cccd617629c"},"destination":{"id":"5633d2c6-0198-1000-cbf8-b0ceeab8949e","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"bdf2c5ea-d430-37bd-b36c-c611c3de70c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"894d500e-053a-3560-8250-05385aa1f0fa","instanceIdentifier":"b06c7971-16f8-3e16-c662-e6b945f88f36","name":"","source":{"id":"563ca9c7-0198-1000-5018-8f36258bf5c8","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageSeries","comments":"","instanceIdentifier":"beb38605-12ae-34ff-78c9-d7ce9c7c7819"},"destination":{"id":"562927b1-0198-1000-d504-f07e97ac4987","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageTags","comments":"","instanceIdentifier":"1c09ea91-4209-3a06-a105-a87f6b309653"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"1a36417f-f81b-30c1-8ca0-52124f197047","instanceIdentifier":"08496a32-4398-3256-aaec-c01e40fd01ca","name":"","source":{"id":"5638f80e-0198-1000-a9ab-f4a384e5cbca","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ExtractIdentifier","comments":"","instanceIdentifier":"9e5463f1-83b5-3f9d-8b92-5afb65d3580a"},"destination":{"id":"5639e3b4-0198-1000-e668-de1c65101101","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"68f1aac6-c643-3ec2-714c-4de5647a13df"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ExtractProcessedIds"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"4e3e208e-79e5-3b1b-8a96-517475cd1447","instanceIdentifier":"c4551e37-e1cc-30d3-2b26-1798fe0f919c","name":"","source":{"id":"563b413f-0198-1000-d648-f0bcff41d9c8","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageStudies","comments":"","instanceIdentifier":"f547e6a6-a7a2-3e32-d26d-9623e0fc51be"},"destination":{"id":"5626c86f-0198-1000-5292-59d05577e02d","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageSeries","comments":"","instanceIdentifier":"62c486e8-a866-3902-9665-4cccd617629c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"25b3cf6e-35de-3174-b825-0d550f343ddc","instanceIdentifier":"fbe7ebde-497b-30d8-3e7b-df01de44cfb7","name":"","source":{"id":"563a0652-0198-1000-6120-649d5de78286","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"ce5f2924-d016-313e-9adc-2bfc7659587f"},"destination":{"id":"563ce8d7-0198-1000-3ca6-e7ed6c10a791","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageTags","comments":"","instanceIdentifier":"c710ec16-7a52-3eb3-a9ac-fa4c936bd9b1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"72d0249c-bcbe-3ec0-86bb-3a57ec56c816","instanceIdentifier":"1f48dfcd-2fa9-3ce7-c08b-bf14fbb1d3de","name":"","source":{"id":"5626c86f-0198-1000-5292-59d05577e02d","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageSeries","comments":"","instanceIdentifier":"62c486e8-a866-3902-9665-4cccd617629c"},"destination":{"id":"5638f80e-0198-1000-a9ab-f4a384e5cbca","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ExtractIdentifier","comments":"","instanceIdentifier":"9e5463f1-83b5-3f9d-8b92-5afb65d3580a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"6160ab45-877d-3d75-80d5-2d9ac77db3d5","instanceIdentifier":"ffc19900-2a96-3ff7-3b46-4acd97e4a9ee","name":"","source":{"id":"563ce8d7-0198-1000-3ca6-e7ed6c10a791","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageTags","comments":"","instanceIdentifier":"c710ec16-7a52-3eb3-a9ac-fa4c936bd9b1"},"destination":{"id":"563e9ef3-0198-1000-c406-4c9903c9689f","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"UpdateDBforProcessedRecords","comments":"","instanceIdentifier":"f15ce937-72f2-3c43-f7eb-2ec56a631c48"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"d3a19e16-a0bd-3b74-bd5a-f015ca0653ad","instanceIdentifier":"436d2baf-01c7-3639-0d80-09b7b25e4260","name":"","source":{"id":"562b9a81-0198-1000-fcb3-1224ee948ef3","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"45207ca4-9309-3246-a30d-c245182128a9"},"destination":{"id":"56365d6e-0198-1000-0eba-fc0875772535","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"134285f5-07ab-389f-f6c8-5d59f450f15a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"11bc1575-b8ed-3a95-a4df-2acad2645215","instanceIdentifier":"fefe5a9d-3aa4-3f7b-fecb-c7fc4cbc5a74","name":"","source":{"id":"562927b1-0198-1000-d504-f07e97ac4987","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageTags","comments":"","instanceIdentifier":"1c09ea91-4209-3a06-a105-a87f6b309653"},"destination":{"id":"5639266b-0198-1000-a149-8bfdd2ab4514","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ExtractIdentifier","comments":"","instanceIdentifier":"b7dca4d7-d188-3b6f-e061-6d565479293d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"a2ab7a59-a9ab-3d43-bd00-aedc7d021742","instanceIdentifier":"5418307a-304f-3975-997e-be62e71a2d3e","name":"","source":{"id":"5635e9a7-0198-1000-8080-5b62f67355f6","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"dce28e7a-66b3-3ed3-e221-7bc7261c7174"},"destination":{"id":"56370b4b-0198-1000-55b2-52096e291981","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"WriteImageMetadataCSVtoOutput","comments":"","instanceIdentifier":"47ee6ea3-dbea-3ce3-0ff2-d0c327738a16"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"90f34ae2-d2a9-30ac-9dc7-f5c5bdc89e91","instanceIdentifier":"9a353078-9566-3947-84b0-ac13e492674f","name":"","source":{"id":"56350881-0198-1000-3a9c-502b7d23b3fc","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"99a8cee2-6925-357f-03fe-1fd48ced3341"},"destination":{"id":"56370b4b-0198-1000-55b2-52096e291981","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"WriteImageMetadataCSVtoOutput","comments":"","instanceIdentifier":"47ee6ea3-dbea-3ce3-0ff2-d0c327738a16"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"e7b8f278-90a3-35d6-8b79-2579e3bd4ddc","instanceIdentifier":"364f75fa-de8b-3f32-44e0-eccf4bdf78f1","name":"","source":{"id":"563ca9c7-0198-1000-5018-8f36258bf5c8","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageSeries","comments":"","instanceIdentifier":"beb38605-12ae-34ff-78c9-d7ce9c7c7819"},"destination":{"id":"563e9ef3-0198-1000-c406-4c9903c9689f","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"UpdateDBforProcessedRecords","comments":"","instanceIdentifier":"f15ce937-72f2-3c43-f7eb-2ec56a631c48"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"25b9ec01-b2ac-38d4-952e-c35940a95ae3","instanceIdentifier":"3fd10ca3-b538-3e60-484b-006284f4cbca","name":"","source":{"id":"5639266b-0198-1000-a149-8bfdd2ab4514","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ExtractIdentifier","comments":"","instanceIdentifier":"b7dca4d7-d188-3b6f-e061-6d565479293d"},"destination":{"id":"563a0652-0198-1000-6120-649d5de78286","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"ce5f2924-d016-313e-9adc-2bfc7659587f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ExtractProcessedIds"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"b20f4ed7-c53b-3d36-9d7f-312105232cc3","instanceIdentifier":"df9eb966-9c1c-38c8-5813-aa7d56f3c2a7","name":"","source":{"id":"5633d2c6-0198-1000-cbf8-b0ceeab8949e","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"bdf2c5ea-d430-37bd-b36c-c611c3de70c0"},"destination":{"id":"5635e9a7-0198-1000-8080-5b62f67355f6","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"dce28e7a-66b3-3ed3-e221-7bc7261c7174"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"6a396f44-545b-3ec7-b95c-a1037acc34bc","instanceIdentifier":"464cda76-3089-3793-8e3e-62142e4dc4b4","name":"","source":{"id":"56242649-0198-1000-8545-38ef797a9fb5","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageStudy","comments":"","instanceIdentifier":"e53a7247-3a74-3b17-12ff-5807bbad6338"},"destination":{"id":"56386e48-0198-1000-7be4-f41abeb8d34d","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ExtractIdentifier","comments":"","instanceIdentifier":"ea572213-5303-37fe-f052-47935e41ae20"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"88d05a28-9669-3b20-9086-7de29bf4b25a","instanceIdentifier":"ef68ceb3-4b06-3f91-065b-10a8cd382bbf","name":"","source":{"id":"56242649-0198-1000-8545-38ef797a9fb5","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"LoadNewImageStudy","comments":"","instanceIdentifier":"e53a7247-3a74-3b17-12ff-5807bbad6338"},"destination":{"id":"56340a66-0198-1000-6e87-6f5c3365758d","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"15b22265-362b-3b93-160a-eba0769d4667"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"5427ded8-4ff1-3019-9714-8fbbb06b2f97","instanceIdentifier":"ba82bd28-dcfe-35fd-6cb3-1fb3b8c35b7c","name":"","source":{"id":"563b413f-0198-1000-d648-f0bcff41d9c8","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageStudies","comments":"","instanceIdentifier":"f547e6a6-a7a2-3e32-d26d-9623e0fc51be"},"destination":{"id":"563e9ef3-0198-1000-c406-4c9903c9689f","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"UpdateDBforProcessedRecords","comments":"","instanceIdentifier":"f15ce937-72f2-3c43-f7eb-2ec56a631c48"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"2220eebd-13be-37a1-a42a-01d06665c738","instanceIdentifier":"ec9ccba0-16b5-30e5-9a86-f6ea604af5d4","name":"","source":{"id":"56399f03-0198-1000-6d7b-7fdd510336af","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"3eff893b-e684-3e3c-40d1-737a5e4b4934"},"destination":{"id":"563b413f-0198-1000-d648-f0bcff41d9c8","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"PrepareUpdateForProcessedImageStudies","comments":"","instanceIdentifier":"f547e6a6-a7a2-3e32-d26d-9623e0fc51be"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"9038efe0-067b-3e2e-9aa5-2e8d9682ac88","instanceIdentifier":"d48ee509-339b-3d86-fb41-b4a5b0481455","name":"","source":{"id":"56340a66-0198-1000-6e87-6f5c3365758d","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"15b22265-362b-3b93-160a-eba0769d4667"},"destination":{"id":"56350881-0198-1000-3a9c-502b7d23b3fc","type":"PROCESSOR","groupId":"2d12f945-7a28-3f40-8e4b-603ec32a3937","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"99a8cee2-6925-357f-03fe-1fd48ced3341"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d7e3f15d-808e-336c-b722-a91e446a0139","instanceIdentifier":"1ea43214-5a99-33da-0631-6fd5fad392de","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","instanceIdentifier":"f10a16a9-0185-387f-bd37-1d6eac15e0c3","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"0e53fd58-d0a1-3015-a94d-aa3842df896b","instanceIdentifier":"d45af5bb-6bc0-3ad1-d2db-1994303b2e6f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"},{"identifier":"c8f7b869-8cb6-37e4-a97a-310867717a1c","instanceIdentifier":"0fc46c8c-a51a-375c-218a-65432d2a4d1f","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://nifi-postgres:5432/eucaim-etl-db","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2d12f945-7a28-3f40-8e4b-603ec32a3937"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://nifi-tdc:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}