flows/Dicom_timepoints_loop01_ingest.json
{
    "flowContents": {
        "identifier": "bb74ae83-019a-1000-563d-f1c1f74d284c",
        "instanceIdentifier": "ec8d4acf-7998-3eed-09fc-81463079d5f5",
        "name": "Dicom_timepoints_loop01_ingest",
        "comments": "",
        "position": {
            "x": 2248,
            "y": -288
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "7c102210-b0bb-372f-91c7-ee624dc372ea",
                "instanceIdentifier": "91c34184-7fdc-375c-5c8e-14ba6fb37b7d",
                "name": "WriteDicomTimepointsToStaging",
                "comments": "",
                "position": {
                    "x": -2630.335205078125,
                    "y": 328
                },
                "type": "org.apache.nifi.processors.standard.PutFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Group": null,
                    "Owner": null,
                    "Create Missing Directories": "true",
                    "Permissions": null,
                    "Maximum File Count": null,
                    "Last Modified Time": null,
                    "Directory": "#{staging_base_path}/input_as_csv/image_timepoints",
                    "Conflict Resolution Strategy": "replace"
                },
                "propertyDescriptors": {
                    "Group": {
                        "name": "Group",
                        "displayName": "Group",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Owner": {
                        "name": "Owner",
                        "displayName": "Owner",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Create Missing Directories": {
                        "name": "Create Missing Directories",
                        "displayName": "Create Missing Directories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Permissions": {
                        "name": "Permissions",
                        "displayName": "Permissions",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Count": {
                        "name": "Maximum File Count",
                        "displayName": "Maximum File Count",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Last Modified Time": {
                        "name": "Last Modified Time",
                        "displayName": "Last Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Directory": {
                        "name": "Directory",
                        "displayName": "Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Conflict Resolution Strategy": {
                        "name": "Conflict Resolution Strategy",
                        "displayName": "Conflict Resolution Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#bf5f72"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "c34f84ab-0199-1000-4d20-b5f95b45a8a2",
                "instanceIdentifier": "7406f5bf-e8ea-350b-c052-7cd86923dc88",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -3952,
                    "y": 248
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "datasetId": "${filename:substringBefore(\"_\"):toLower()}",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "datasetId": {
                        "name": "datasetId",
                        "displayName": "datasetId",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "3f7d6d55-9396-36e5-9359-14e8d0186668",
                "instanceIdentifier": "21596548-c4c2-3a0e-9bce-ea9784ffd279",
                "name": "LoadDicomTimepointsCSVfromInput",
                "comments": "",
                "position": {
                    "x": -3952,
                    "y": 576
                },
                "type": "org.apache.nifi.processors.standard.GetFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Keep Source File": "false",
                    "Minimum File Age": "0 sec",
                    "Polling Interval": "0 sec",
                    "Input Directory": "#{input_base_path}/image_timepoints",
                    "Maximum File Age": null,
                    "Batch Size": "10",
                    "Maximum File Size": null,
                    "Minimum File Size": "0 B",
                    "Ignore Hidden Files": "true",
                    "Recurse Subdirectories": "false",
                    "File Filter": "[^\\.].*.csv",
                    "Path Filter": null
                },
                "propertyDescriptors": {
                    "Keep Source File": {
                        "name": "Keep Source File",
                        "displayName": "Keep Source File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Polling Interval": {
                        "name": "Polling Interval",
                        "displayName": "Polling Interval",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Input Directory": {
                        "name": "Input Directory",
                        "displayName": "Input Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Size": {
                        "name": "Maximum File Size",
                        "displayName": "Maximum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Size": {
                        "name": "Minimum File Size",
                        "displayName": "Minimum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore Hidden Files": {
                        "name": "Ignore Hidden Files",
                        "displayName": "Ignore Hidden Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Filter": {
                        "name": "File Filter",
                        "displayName": "File Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Path Filter": {
                        "name": "Path Filter",
                        "displayName": "Path Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#bf88dd"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "ef675b1f-d0f8-36b5-b01d-5f78514d66ec",
                "instanceIdentifier": "01d47d72-e354-39a7-9822-efeed6d7a99c",
                "name": "ConvertCSVtoJSON",
                "comments": "",
                "position": {
                    "x": -3280,
                    "y": 568
                },
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Include Zero Record FlowFiles": "true",
                    "Record Writer": "67e84eda-819f-31c5-a7ae-3ec847760fc0",
                    "Record Reader": "92a4a0ba-9ed7-31b5-9448-444980c3d608"
                },
                "propertyDescriptors": {
                    "Include Zero Record FlowFiles": {
                        "name": "Include Zero Record FlowFiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#268c3b"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "1127426a-e93c-3015-ae1c-7d702ace7cb9",
                "instanceIdentifier": "cc2f1340-f9fd-39fa-6fb3-9d9b2c8b7f7b",
                "name": "RenameOutputFileToJSON",
                "comments": "",
                "position": {
                    "x": -2630.335205078125,
                    "y": 568
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "filename": "${filename:replace('.csv', '.json')}",
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "filename": {
                        "name": "filename",
                        "displayName": "filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {
                    "background-color": "#268c3b"
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "30ec26cf-6284-30da-a9d9-4aeb7bafd5f0",
                "instanceIdentifier": "15124758-6a9b-3834-5f3e-d54476b3b4bf",
                "name": "",
                "source": {
                    "id": "ef675b1f-d0f8-36b5-b01d-5f78514d66ec",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "ConvertCSVtoJSON",
                    "comments": "",
                    "instanceIdentifier": "01d47d72-e354-39a7-9822-efeed6d7a99c"
                },
                "destination": {
                    "id": "1127426a-e93c-3015-ae1c-7d702ace7cb9",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "RenameOutputFileToJSON",
                    "comments": "",
                    "instanceIdentifier": "cc2f1340-f9fd-39fa-6fb3-9d9b2c8b7f7b"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "07fad9eb-2b81-3bde-a820-284af8df304b",
                "instanceIdentifier": "0fb8e4ae-221b-3136-dad9-27214eba81af",
                "name": "",
                "source": {
                    "id": "1127426a-e93c-3015-ae1c-7d702ace7cb9",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "RenameOutputFileToJSON",
                    "comments": "",
                    "instanceIdentifier": "cc2f1340-f9fd-39fa-6fb3-9d9b2c8b7f7b"
                },
                "destination": {
                    "id": "7c102210-b0bb-372f-91c7-ee624dc372ea",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "WriteDicomTimepointsToStaging",
                    "comments": "",
                    "instanceIdentifier": "91c34184-7fdc-375c-5c8e-14ba6fb37b7d"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "24a6b285-e202-3f63-be3d-d4b4a7637b66",
                "instanceIdentifier": "906be491-6961-3834-dfa2-021e548cba0b",
                "name": "",
                "source": {
                    "id": "c34f84ab-0199-1000-4d20-b5f95b45a8a2",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "7406f5bf-e8ea-350b-c052-7cd86923dc88"
                },
                "destination": {
                    "id": "ef675b1f-d0f8-36b5-b01d-5f78514d66ec",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "ConvertCSVtoJSON",
                    "comments": "",
                    "instanceIdentifier": "01d47d72-e354-39a7-9822-efeed6d7a99c"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "8974dedd-fabe-38b3-b567-f91525c02a84",
                "instanceIdentifier": "4bbb8da7-ab27-3d57-694e-1fe434bc9b11",
                "name": "",
                "source": {
                    "id": "3f7d6d55-9396-36e5-9359-14e8d0186668",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "LoadDicomTimepointsCSVfromInput",
                    "comments": "",
                    "instanceIdentifier": "21596548-c4c2-3a0e-9bce-ea9784ffd279"
                },
                "destination": {
                    "id": "c34f84ab-0199-1000-4d20-b5f95b45a8a2",
                    "type": "PROCESSOR",
                    "groupId": "bb74ae83-019a-1000-563d-f1c1f74d284c",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "7406f5bf-e8ea-350b-c052-7cd86923dc88"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            }
        ],
        "labels": [
            {
                "identifier": "d843b1c7-6dd5-3975-85cc-ceafac102a68",
                "instanceIdentifier": "5f01c5ff-6022-3f65-a5f4-317aa25bfa0c",
                "position": {
                    "x": -3544,
                    "y": 56
                },
                "label": "Loop 1 for clinical data: convert to homogeneus tabular CSV files",
                "zIndex": 0,
                "width": 664,
                "height": 64,
                "style": {
                    "font-size": "20px"
                },
                "componentType": "LABEL",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            }
        ],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d",
                "instanceIdentifier": "ff7d0427-f711-337c-f96a-8d99b553384f",
                "name": "CSVRecordSetWriterClinicalData",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "CSV Format": "custom",
                    "Include Header Line": "true",
                    "schema-cache": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": null,
                    "Trim Fields": "true",
                    "schema-registry": null,
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}",
                    "csv-writer": "commons-csv",
                    "Quote Character": "\"",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Schema Write Strategy": "no-schema",
                    "schema-name": "${schema.name}",
                    "Quote Mode": "MINIMAL",
                    "Schema Reference Writer": null,
                    "Include Trailing Delimiter": "false"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Include Header Line": {
                        "name": "Include Header Line",
                        "displayName": "Include Header Line",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-writer": {
                        "name": "csv-writer",
                        "displayName": "CSV Writer",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Mode": {
                        "name": "Quote Mode",
                        "displayName": "Quote Mode",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Include Trailing Delimiter": {
                        "name": "Include Trailing Delimiter",
                        "displayName": "Include Trailing Delimiter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.3.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "67e84eda-819f-31c5-a7ae-3ec847760fc0",
                "instanceIdentifier": "7b280b57-128c-3390-5b59-2df8a6161002",
                "name": "JsonRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "Allow Scientific Notation": "false",
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "true",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}",
                    "Schema Reference Writer": null
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Allow Scientific Notation": {
                        "name": "Allow Scientific Notation",
                        "displayName": "Allow Scientific Notation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.3.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            },
            {
                "identifier": "92a4a0ba-9ed7-31b5-9448-444980c3d608",
                "instanceIdentifier": "8878eb32-0d95-37dc-6824-3b4d5c076b79",
                "name": "CSVReaderDicomTags",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.3.0"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "ignore-csv-header": "false",
                    "schema-branch": null,
                    "Trim double quote": "true",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "csvutils-allow-duplicate-header-names": "true",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": null,
                    "Skip Header Line": "true",
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "csv-reader-csv-parser": "commons-csv",
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "csv-header-derived",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "ignore-csv-header": {
                        "name": "ignore-csv-header",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim double quote": {
                        "name": "Trim double quote",
                        "displayName": "Trim double quote",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-allow-duplicate-header-names": {
                        "name": "csvutils-allow-duplicate-header-names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Skip Header Line": {
                        "name": "Skip Header Line",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-reader-csv-parser": {
                        "name": "csv-reader-csv-parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.3.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "bb74ae83-019a-1000-563d-f1c1f74d284c"
            }
        ],
        "parameterContextName": "ETL_v03_parameters",
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {
        "ETL_v03_parameters": {
            "name": "ETL_v03_parameters",
            "parameters": [
                {
                    "name": "db_driver_filepath",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/postgresql-42.7.4.jar"
                },
                {
                    "name": "output_base_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/output_data"
                },
                {
                    "name": "TabularDataCurator_URL",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "http://nifi-tdc:5000/main"
                },
                {
                    "name": "scripts_base_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/scripts"
                },
                {
                    "name": "input_base_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/input_data"
                },
                {
                    "name": "staging_base_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/staging_data"
                },
                {
                    "name": "TDC results path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "/mnt/persistent-home/ETL-files/TDC_Output"
                }
            ],
            "inheritedParameterContexts": [],
            "componentType": "PARAMETER_CONTEXT"
        }
    },
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}