flows/Dicom_metadata_loop03_generate_output.json
{"flowContents":{"identifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","instanceIdentifier":"d613bd83-019b-1000-1d79-546d5eed2c91","name":"Dicom_metadata_loop03_generate_output","comments":"","position":{"x":3150.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"56386e48-0198-1000-7be4-f41abeb8d34d","instanceIdentifier":"80a0d1f6-190d-3fd8-bdbf-19187fc49791","name":"ExtractIdentifier","comments":"","position":{"x":-896.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"ExtractProcessedIds":"SELECT Id AS id FROM FLOWFILE","dbf-default-precision":"10","record-writer":"0e53fd58-d0a1-3015-a94d-aa3842df896b","record-reader":"d7e3f15d-808e-336c-b722-a91e446a0139","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"ExtractProcessedIds":{"name":"ExtractProcessedIds","displayName":"ExtractProcessedIds","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"5626c86f-0198-1000-5292-59d05577e02d","instanceIdentifier":"9c1c9f2c-fcd2-3f92-fd91-b534e6a17ed8","name":"LoadNewImageSeries","comments":"","position":{"x":-248.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT Id, ImageStudyUID, ImageSeriesUID, ImageSeriesNumber, Description, Manufacturer\nFROM eucaim_cdm_ingestion.imageseries WHERE processed = FALSE;","Database Connection Pooling Service":"c8f7b869-8cb6-37e4-a97a-310867717a1c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"563ca9c7-0198-1000-5018-8f36258bf5c8","instanceIdentifier":"7c4d0058-9504-36d7-2e57-dac2ff2a026b","name":"PrepareUpdateForProcessedImageSeries","comments":"","position":{"x":-2184.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":".*\"ids\".*:.*\\[(.*)\\]\\}","Replacement Value":"UPDATE eucaim_cdm_ingestion.imageseries SET processed = TRUE WHERE id IN ( ${'$1':replaceAll('\"', \"'\")} )","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"56340a66-0198-1000-6e87-6f5c3365758d","instanceIdentifier":"d0b9cbda-f592-3365-e7a7-511ec9cc985b","name":"ConvertDicomMetadataToCSV","comments":"","position":{"x":472.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","Record Reader":"d7e3f15d-808e-336c-b722-a91e446a0139"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"563e9ef3-0198-1000-c406-4c9903c9689f","instanceIdentifier":"568fa24c-7419-3951-3256-308c97c7545d","name":"UpdateDBforProcessedRecords","comments":"","position":{"x":-2816.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"c8f7b869-8cb6-37e4-a97a-310867717a1c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"56350881-0198-1000-3a9c-502b7d23b3fc","instanceIdentifier":"683b2cc3-4998-3710-0a42-b4b59f8afa6f","name":"DicomMetadataOutputFile","comments":"","position":{"x":1136.0,"y":-280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"image_study_${now():format('yyyyMMdd_HHmmss')}_records.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"5635e9a7-0198-1000-8080-5b62f67355f6","instanceIdentifier":"bef0d9a3-0231-3a2a-74f8-7c58ccd89a11","name":"DicomMetadataOutputFile","comments":"","position":{"x":1136.0,"y":-72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"image_series_${now():format('yyyyMMdd_HHmmss')}_records.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"56399f03-0198-1000-6d7b-7fdd510336af","instanceIdentifier":"ced97006-d173-38e8-cc79-e2f22427e72a","name":"GenerateJSONforIDs","comments":"","position":{"x":-1536.0,"y":-280.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n      \"*\": {\n        \"id\": \"ids[]\"\n      }\n    }"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"563a0652-0198-1000-6120-649d5de78286","instanceIdentifier":"ada5b22d-caae-3a39-7b0b-0142a9040cf6","name":"GenerateJSONforIDs","comments":"","position":{"x":-1536.0,"y":144.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n      \"*\": {\n        \"id\": \"ids[]\"\n      }\n    }"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"563b413f-0198-1000-d648-f0bcff41d9c8","instanceIdentifier":"f947ba05-21e5-3988-b0ab-c9f6703742c3","name":"PrepareUpdateForProcessedImageStudies","comments":"","position":{"x":-2184.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":".*\"ids\".*:.*\\[(.*)\\]\\}","Replacement Value":"UPDATE eucaim_cdm_ingestion.imagestudy SET processed = TRUE WHERE id IN ( ${'$1':replaceAll('\"', \"'\")} )","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"562927b1-0198-1000-d504-f07e97ac4987","instanceIdentifier":"2b10bc02-fe61-3270-6f5d-af3b84a262a6","name":"LoadNewImageTags","comments":"","position":{"x":-248.0,"y":136.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT Id, ImageStudyUID, ImageSeriesUID, KVP, XRayTubeCurrent, Exposure, ExposureTime, SpiralPitchFactor, FilterType, ConvolutionKernel, SliceThickness, PixelRowSpacing, PixelColSpacing, ImageRows, ImageColumns\nFROM eucaim_cdm_ingestion.imagetags WHERE processed = FALSE;","Database Connection Pooling Service":"c8f7b869-8cb6-37e4-a97a-310867717a1c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"562b9a81-0198-1000-fcb3-1224ee948ef3","instanceIdentifier":"2fe91cd0-01fa-30de-3512-7e20898d194e","name":"ConvertDicomMetadataToCSV","comments":"","position":{"x":472.0,"y":136.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","Record Reader":"d7e3f15d-808e-336c-b722-a91e446a0139"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"563ce8d7-0198-1000-3ca6-e7ed6c10a791","instanceIdentifier":"78d2794a-b276-3b90-cec7-dfa20aec22d3","name":"PrepareUpdateForProcessedImageTags","comments":"","position":{"x":-2184.0,"y":144.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":".*\"ids\".*:.*\\[(.*)\\]\\}","Replacement Value":"UPDATE eucaim_cdm_ingestion.imagetags SET processed = TRUE WHERE id IN ( ${'$1':replaceAll('\"', \"'\")} )","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"56365d6e-0198-1000-0eba-fc0875772535","instanceIdentifier":"009c59ac-d6ef-32d2-a661-e58b6107ad3b","name":"DicomMetadataOutputFile","comments":"","position":{"x":1136.0,"y":136.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"image_tag_${now():format('yyyyMMdd_HHmmss')}_records.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"56370b4b-0198-1000-55b2-52096e291981","instanceIdentifier":"086e1ec6-7ada-3bda-03cb-9a8d99cd7dcb","name":"WriteImageMetadataCSVtoOutput","comments":"","position":{"x":1768.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{output_base_path}/image_metadata","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"5639266b-0198-1000-a149-8bfdd2ab4514","instanceIdentifier":"43f3c248-7f98-314c-3ccd-21af2839cfea","name":"ExtractIdentifier","comments":"","position":{"x":-896.0,"y":144.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"ExtractProcessedIds":"SELECT Id AS id FROM FLOWFILE","dbf-default-precision":"10","record-writer":"0e53fd58-d0a1-3015-a94d-aa3842df896b","record-reader":"d7e3f15d-808e-336c-b722-a91e446a0139","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"ExtractProcessedIds":{"name":"ExtractProcessedIds","displayName":"ExtractProcessedIds","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"5639e3b4-0198-1000-e668-de1c65101101","instanceIdentifier":"1f37353c-d862-33ba-518b-d757e84c28ce","name":"GenerateJSONforIDs","comments":"","position":{"x":-1536.0,"y":-64.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\n      \"*\": {\n        \"id\": \"ids[]\"\n      }\n    }"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"56242649-0198-1000-8545-38ef797a9fb5","instanceIdentifier":"c138d94e-6df9-354f-f1b2-4685df4374e7","name":"LoadNewImageStudy","comments":"","position":{"x":-248.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT Id, ImageStudyUID, ImagingProcedureIdentifier, ImageStudyCategoryCode\nFROM eucaim_cdm_ingestion.imagestudy WHERE processed = FALSE and imagingtimepoint is not NULL;","Database Connection Pooling Service":"c8f7b869-8cb6-37e4-a97a-310867717a1c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"5633d2c6-0198-1000-cbf8-b0ceeab8949e","instanceIdentifier":"581ac1a5-1950-3036-f95c-94861faa95d1","name":"ConvertDicomMetadataToCSV","comments":"","position":{"x":472.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","Record Reader":"d7e3f15d-808e-336c-b722-a91e446a0139"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"5638f80e-0198-1000-a9ab-f4a384e5cbca","instanceIdentifier":"af11879c-074d-3035-c097-9729b0a40d0c","name":"ExtractIdentifier","comments":"","position":{"x":-896.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"ExtractProcessedIds":"SELECT Id AS id FROM FLOWFILE","dbf-default-precision":"10","record-writer":"0e53fd58-d0a1-3015-a94d-aa3842df896b","record-reader":"d7e3f15d-808e-336c-b722-a91e446a0139","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"ExtractProcessedIds":{"name":"ExtractProcessedIds","displayName":"ExtractProcessedIds","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d413d85d-ac79-36fe-bce1-707ee705c2ee","instanceIdentifier":"39c9621b-f17d-32c6-d687-dd22acf287fa","name":"","source":{"id":"56365d6e-0198-1000-0eba-fc0875772535","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"009c59ac-d6ef-32d2-a661-e58b6107ad3b"},"destination":{"id":"56370b4b-0198-1000-55b2-52096e291981","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"WriteImageMetadataCSVtoOutput","comments":"","instanceIdentifier":"086e1ec6-7ada-3bda-03cb-9a8d99cd7dcb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"0251efda-b22c-3566-ab11-d7ceb1afc2e9","instanceIdentifier":"21b56ad7-78c5-3b51-7849-6e47bb223f93","name":"","source":{"id":"562927b1-0198-1000-d504-f07e97ac4987","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageTags","comments":"","instanceIdentifier":"2b10bc02-fe61-3270-6f5d-af3b84a262a6"},"destination":{"id":"562b9a81-0198-1000-fcb3-1224ee948ef3","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"2fe91cd0-01fa-30de-3512-7e20898d194e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"e42b6308-b691-3367-8638-180ca7a1c6c3","instanceIdentifier":"54887148-d852-39b6-22af-d780b8eb4116","name":"","source":{"id":"56386e48-0198-1000-7be4-f41abeb8d34d","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ExtractIdentifier","comments":"","instanceIdentifier":"80a0d1f6-190d-3fd8-bdbf-19187fc49791"},"destination":{"id":"56399f03-0198-1000-6d7b-7fdd510336af","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"ced97006-d173-38e8-cc79-e2f22427e72a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ExtractProcessedIds"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"f063e93c-b0e5-32b7-99a2-55fd2367b5f8","instanceIdentifier":"7cab63a5-2af0-3e67-6a58-a26639a780a0","name":"","source":{"id":"5639e3b4-0198-1000-e668-de1c65101101","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"1f37353c-d862-33ba-518b-d757e84c28ce"},"destination":{"id":"563ca9c7-0198-1000-5018-8f36258bf5c8","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageSeries","comments":"","instanceIdentifier":"7c4d0058-9504-36d7-2e57-dac2ff2a026b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"ea45ce2e-6a1a-337e-a306-eba4cb48a8ec","instanceIdentifier":"1e261bc2-076a-3a92-0e5b-e2e4ecd729d9","name":"","source":{"id":"5626c86f-0198-1000-5292-59d05577e02d","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageSeries","comments":"","instanceIdentifier":"9c1c9f2c-fcd2-3f92-fd91-b534e6a17ed8"},"destination":{"id":"5633d2c6-0198-1000-cbf8-b0ceeab8949e","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"581ac1a5-1950-3036-f95c-94861faa95d1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"1a36417f-f81b-30c1-8ca0-52124f197047","instanceIdentifier":"3e924bfb-7fb7-3e64-d1e5-f203d7d88594","name":"","source":{"id":"5638f80e-0198-1000-a9ab-f4a384e5cbca","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ExtractIdentifier","comments":"","instanceIdentifier":"af11879c-074d-3035-c097-9729b0a40d0c"},"destination":{"id":"5639e3b4-0198-1000-e668-de1c65101101","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"1f37353c-d862-33ba-518b-d757e84c28ce"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ExtractProcessedIds"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"894d500e-053a-3560-8250-05385aa1f0fa","instanceIdentifier":"67a9680f-c361-32b1-8dd7-db194c71e902","name":"","source":{"id":"563ca9c7-0198-1000-5018-8f36258bf5c8","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageSeries","comments":"","instanceIdentifier":"7c4d0058-9504-36d7-2e57-dac2ff2a026b"},"destination":{"id":"562927b1-0198-1000-d504-f07e97ac4987","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageTags","comments":"","instanceIdentifier":"2b10bc02-fe61-3270-6f5d-af3b84a262a6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"4e3e208e-79e5-3b1b-8a96-517475cd1447","instanceIdentifier":"0b60691a-26ec-3302-2b6d-5c88ff6bba99","name":"","source":{"id":"563b413f-0198-1000-d648-f0bcff41d9c8","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageStudies","comments":"","instanceIdentifier":"f947ba05-21e5-3988-b0ab-c9f6703742c3"},"destination":{"id":"5626c86f-0198-1000-5292-59d05577e02d","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageSeries","comments":"","instanceIdentifier":"9c1c9f2c-fcd2-3f92-fd91-b534e6a17ed8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"25b3cf6e-35de-3174-b825-0d550f343ddc","instanceIdentifier":"68e62513-921b-3bbd-9445-b53bfffc3383","name":"","source":{"id":"563a0652-0198-1000-6120-649d5de78286","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"ada5b22d-caae-3a39-7b0b-0142a9040cf6"},"destination":{"id":"563ce8d7-0198-1000-3ca6-e7ed6c10a791","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageTags","comments":"","instanceIdentifier":"78d2794a-b276-3b90-cec7-dfa20aec22d3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"6160ab45-877d-3d75-80d5-2d9ac77db3d5","instanceIdentifier":"c981252d-c3fc-3718-3112-7453bc8ccd44","name":"","source":{"id":"563ce8d7-0198-1000-3ca6-e7ed6c10a791","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageTags","comments":"","instanceIdentifier":"78d2794a-b276-3b90-cec7-dfa20aec22d3"},"destination":{"id":"563e9ef3-0198-1000-c406-4c9903c9689f","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"UpdateDBforProcessedRecords","comments":"","instanceIdentifier":"568fa24c-7419-3951-3256-308c97c7545d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"72d0249c-bcbe-3ec0-86bb-3a57ec56c816","instanceIdentifier":"7243bbbb-5f79-3d00-a5f3-e166fc3e0a64","name":"","source":{"id":"5626c86f-0198-1000-5292-59d05577e02d","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageSeries","comments":"","instanceIdentifier":"9c1c9f2c-fcd2-3f92-fd91-b534e6a17ed8"},"destination":{"id":"5638f80e-0198-1000-a9ab-f4a384e5cbca","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ExtractIdentifier","comments":"","instanceIdentifier":"af11879c-074d-3035-c097-9729b0a40d0c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"d3a19e16-a0bd-3b74-bd5a-f015ca0653ad","instanceIdentifier":"04bb5abf-affe-3ebc-c38a-d54f7af8c960","name":"","source":{"id":"562b9a81-0198-1000-fcb3-1224ee948ef3","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"2fe91cd0-01fa-30de-3512-7e20898d194e"},"destination":{"id":"56365d6e-0198-1000-0eba-fc0875772535","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"009c59ac-d6ef-32d2-a661-e58b6107ad3b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"11bc1575-b8ed-3a95-a4df-2acad2645215","instanceIdentifier":"495ef033-e27f-3fbc-487d-bba25890d51a","name":"","source":{"id":"562927b1-0198-1000-d504-f07e97ac4987","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageTags","comments":"","instanceIdentifier":"2b10bc02-fe61-3270-6f5d-af3b84a262a6"},"destination":{"id":"5639266b-0198-1000-a149-8bfdd2ab4514","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ExtractIdentifier","comments":"","instanceIdentifier":"43f3c248-7f98-314c-3ccd-21af2839cfea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"a2ab7a59-a9ab-3d43-bd00-aedc7d021742","instanceIdentifier":"d59b0c95-1b2d-323c-c63b-e9b3deac9d76","name":"","source":{"id":"5635e9a7-0198-1000-8080-5b62f67355f6","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"bef0d9a3-0231-3a2a-74f8-7c58ccd89a11"},"destination":{"id":"56370b4b-0198-1000-55b2-52096e291981","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"WriteImageMetadataCSVtoOutput","comments":"","instanceIdentifier":"086e1ec6-7ada-3bda-03cb-9a8d99cd7dcb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"90f34ae2-d2a9-30ac-9dc7-f5c5bdc89e91","instanceIdentifier":"793f9922-f567-31af-b483-482c300fae66","name":"","source":{"id":"56350881-0198-1000-3a9c-502b7d23b3fc","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"683b2cc3-4998-3710-0a42-b4b59f8afa6f"},"destination":{"id":"56370b4b-0198-1000-55b2-52096e291981","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"WriteImageMetadataCSVtoOutput","comments":"","instanceIdentifier":"086e1ec6-7ada-3bda-03cb-9a8d99cd7dcb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"e7b8f278-90a3-35d6-8b79-2579e3bd4ddc","instanceIdentifier":"d87a3ee5-7e84-3e99-01c9-b4ad1f1d051a","name":"","source":{"id":"563ca9c7-0198-1000-5018-8f36258bf5c8","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageSeries","comments":"","instanceIdentifier":"7c4d0058-9504-36d7-2e57-dac2ff2a026b"},"destination":{"id":"563e9ef3-0198-1000-c406-4c9903c9689f","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"UpdateDBforProcessedRecords","comments":"","instanceIdentifier":"568fa24c-7419-3951-3256-308c97c7545d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"25b9ec01-b2ac-38d4-952e-c35940a95ae3","instanceIdentifier":"a8833a41-f373-34c7-0d54-806fba5289c8","name":"","source":{"id":"5639266b-0198-1000-a149-8bfdd2ab4514","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ExtractIdentifier","comments":"","instanceIdentifier":"43f3c248-7f98-314c-3ccd-21af2839cfea"},"destination":{"id":"563a0652-0198-1000-6120-649d5de78286","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"ada5b22d-caae-3a39-7b0b-0142a9040cf6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["ExtractProcessedIds"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"b20f4ed7-c53b-3d36-9d7f-312105232cc3","instanceIdentifier":"594d60a0-046a-37db-8580-e6a13c8eee3e","name":"","source":{"id":"5633d2c6-0198-1000-cbf8-b0ceeab8949e","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"581ac1a5-1950-3036-f95c-94861faa95d1"},"destination":{"id":"5635e9a7-0198-1000-8080-5b62f67355f6","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"bef0d9a3-0231-3a2a-74f8-7c58ccd89a11"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"6a396f44-545b-3ec7-b95c-a1037acc34bc","instanceIdentifier":"57d21ecc-43e7-378e-0383-c3dcd4d7dc40","name":"","source":{"id":"56242649-0198-1000-8545-38ef797a9fb5","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageStudy","comments":"","instanceIdentifier":"c138d94e-6df9-354f-f1b2-4685df4374e7"},"destination":{"id":"56386e48-0198-1000-7be4-f41abeb8d34d","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ExtractIdentifier","comments":"","instanceIdentifier":"80a0d1f6-190d-3fd8-bdbf-19187fc49791"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"88d05a28-9669-3b20-9086-7de29bf4b25a","instanceIdentifier":"ca463f89-0c90-30cf-ab54-fc5357240ea2","name":"","source":{"id":"56242649-0198-1000-8545-38ef797a9fb5","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"LoadNewImageStudy","comments":"","instanceIdentifier":"c138d94e-6df9-354f-f1b2-4685df4374e7"},"destination":{"id":"56340a66-0198-1000-6e87-6f5c3365758d","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"d0b9cbda-f592-3365-e7a7-511ec9cc985b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"5427ded8-4ff1-3019-9714-8fbbb06b2f97","instanceIdentifier":"e46c882d-3fac-35c7-c129-ec3c383cec69","name":"","source":{"id":"563b413f-0198-1000-d648-f0bcff41d9c8","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageStudies","comments":"","instanceIdentifier":"f947ba05-21e5-3988-b0ab-c9f6703742c3"},"destination":{"id":"563e9ef3-0198-1000-c406-4c9903c9689f","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"UpdateDBforProcessedRecords","comments":"","instanceIdentifier":"568fa24c-7419-3951-3256-308c97c7545d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"2220eebd-13be-37a1-a42a-01d06665c738","instanceIdentifier":"a398918f-7940-352b-9a41-b7abc930ad3b","name":"","source":{"id":"56399f03-0198-1000-6d7b-7fdd510336af","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"GenerateJSONforIDs","comments":"","instanceIdentifier":"ced97006-d173-38e8-cc79-e2f22427e72a"},"destination":{"id":"563b413f-0198-1000-d648-f0bcff41d9c8","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"PrepareUpdateForProcessedImageStudies","comments":"","instanceIdentifier":"f947ba05-21e5-3988-b0ab-c9f6703742c3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"9038efe0-067b-3e2e-9aa5-2e8d9682ac88","instanceIdentifier":"2096e7c0-4e2d-3fa0-b219-08a647b6c0f6","name":"","source":{"id":"56340a66-0198-1000-6e87-6f5c3365758d","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"ConvertDicomMetadataToCSV","comments":"","instanceIdentifier":"d0b9cbda-f592-3365-e7a7-511ec9cc985b"},"destination":{"id":"56350881-0198-1000-3a9c-502b7d23b3fc","type":"PROCESSOR","groupId":"cb082826-04b9-3c81-89b9-fc9a2e91eaae","name":"DicomMetadataOutputFile","comments":"","instanceIdentifier":"683b2cc3-4998-3710-0a42-b4b59f8afa6f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d7e3f15d-808e-336c-b722-a91e446a0139","instanceIdentifier":"586e891f-e213-3d03-2f8e-f936c75e96a0","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"3ac5c03a-6dea-3d98-8f97-d3dc634019de","instanceIdentifier":"0690f713-2b62-3178-f912-b440c39f4c2e","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"0e53fd58-d0a1-3015-a94d-aa3842df896b","instanceIdentifier":"cf1f8b53-cb24-3588-d8af-bbcc05346c35","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"},{"identifier":"c8f7b869-8cb6-37e4-a97a-310867717a1c","instanceIdentifier":"5d2ecc93-ca2b-33af-c60d-6a75d544d5c2","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://nifi-postgres:5432/eucaim-etl-db","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cb082826-04b9-3c81-89b9-fc9a2e91eaae"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://nifi-tdc:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}