flows/Dicom_timepoints_loop02_transformToDB.json
{"flowContents":{"identifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","instanceIdentifier":"6a92dbbe-019c-1000-13cd-78e529b8e156","name":"Dicom_timepoints_loop02_transformToDB","comments":"","position":{"x":3600.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f29ae6df-0dcd-3f05-a4ae-e9c95cd3281f","instanceIdentifier":"e80a52da-a408-34ff-c59d-81bd0aa453c8","name":"PutSQLToBeginReportProgress","comments":"","position":{"x":-152.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"insert into eucaim_cdm_ingestion.datasetingestioncontrol\nvalues('${datasetId}', ${rowsNumber}, 0, 'LOADING')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"true","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"6c456a3b-019c-1000-2e3f-84a6706fcfe2","instanceIdentifier":"25d501d4-8de4-32cc-49a7-0584f5422b5a","name":"WriteProcessLog","comments":"","position":{"x":-2096.0,"y":-808.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CALL eucaim_etl_aux.insert_log_v001('${filename}', '${datasetId}', '${log_datasettype}', '${log_pipelinestage}', '${log_stepnumber}', '${log_stepname}', '${log_level}', '${log_status}' ,'${log_message}');","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"2468d04c-808c-3970-a31a-f4141ef71214","instanceIdentifier":"cd1e1555-99db-35e9-72ef-04e062752040","name":"EvaluateJsonPath","comments":"","position":{"x":-152.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","rowsNumber":"$[0].rows_number","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rowsNumber":{"name":"rowsNumber","displayName":"rowsNumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"c43d2711-0199-1000-1b3a-bd241ef31a0b","instanceIdentifier":"21ec42aa-f2a4-36da-447a-4640f91d542d","name":"PrepareLookupFieldsWithPatientId","comments":"","position":{"x":-728.0,"y":-560.0},"type":"org.apache.nifi.processors.jolt.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"jolt-record-record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Jolt Transform":"jolt-transform-chain","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n\t  \"*\": \"&\",\n\t  \"StudyInstanceUID\": \"lookup_batch.StudyUID\",\t\n      \"PatientID\": \"lookup_batch.PatientID\",\n      \"DatasetID\": \"lookup_batch.DatasetID\",\n\t  \"ImagingTimepoint\": \"lookup_batch.ImagingTimepoint\"\n    }\n  }\n]","jolt-record-record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"6c48fb93-019c-1000-328c-f6c3672043ec","instanceIdentifier":"bd086052-a14a-3db7-731f-33e14e359617","name":"UpdateAttribute","comments":"","position":{"x":-144.0,"y":32.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"log_pipelinestage":"loop02","log_stepnumber":"3","Delete Attributes Expression":null,"log_status":"OK","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","log_level":"INFO","datasetId":"${filename:substringBefore(\"_\"):toLower()}","log_message":"Writing ids to link data still in ingestion db","log_datasettype":"image_timepoints","Stateful Variables Initial Value":null,"log_stepname":"write_data_linking"},"propertyDescriptors":{"log_pipelinestage":{"name":"log_pipelinestage","displayName":"log_pipelinestage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"log_stepnumber":{"name":"log_stepnumber","displayName":"log_stepnumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log_status":{"name":"log_status","displayName":"log_status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log_level":{"name":"log_level","displayName":"log_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"datasetId":{"name":"datasetId","displayName":"datasetId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"log_message":{"name":"log_message","displayName":"log_message","identifiesControllerService":false,"sensitive":false,"dynamic":true},"log_datasettype":{"name":"log_datasettype","displayName":"log_datasettype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log_stepname":{"name":"log_stepname","displayName":"log_stepname","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"3fa7593a-55cf-3aa7-9e4f-a91de44cceb2","instanceIdentifier":"75915e6f-825d-32f2-df6b-7405fa5fa34f","name":"PutSQLToUpdateReportProgress","comments":"","position":{"x":-680.0,"y":368.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"update eucaim_cdm_ingestion.datasetingestioncontrol \nset processedRows = processedRows + 1\nwhere DatasetIdentifier = '${datasetId}' and status = 'LOADING'","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"true","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"0f2dfbeb-1b16-38e7-88ec-ce5fde4af988","instanceIdentifier":"b6b69b4b-78ac-3901-636e-80f051859c38","name":"QueryRecordReportProgress","comments":"","position":{"x":-744.0,"y":-808.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"dbf-default-precision":"10","total":"SELECT COUNT(*) AS rows_number FROM FLOWFILE","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"total":{"name":"total","displayName":"total","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"c6d3538f-f05d-3c4b-b57f-16d1c2c60637","instanceIdentifier":"12a59b63-1fca-342c-8053-bd120e90f0d9","name":"EvaluateJsonPath","comments":"","position":{"x":-2088.0,"y":48.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","ImagingTimepoint":"$.ImagingTimepoint","Null Value Representation":"empty string","StudyInstanceUID":"$.StudyInstanceUID","ImagingIdentifier":"$.ImagingIdentifier","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ImagingTimepoint":{"name":"ImagingTimepoint","displayName":"ImagingTimepoint","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"StudyInstanceUID":{"name":"StudyInstanceUID","displayName":"StudyInstanceUID","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ImagingIdentifier":{"name":"ImagingIdentifier","displayName":"ImagingIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"6c456a3c-019c-1000-d3aa-0a14948dde2f","instanceIdentifier":"3c63fb4d-ffb0-30c7-22bb-2599e5d15926","name":"UpdateAttribute","comments":"","position":{"x":-1408.0,"y":-808.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"log_pipelinestage":"loop02","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","log_level":"INFO","log_datasettype":"image_timepoints","Stateful Variables Initial Value":null,"log_stepname":"prepare_data_linking","log_stepnumber":"2","Delete Attributes Expression":null,"log_status":"OK","datasetId":"${filename:substringBefore(\"_\"):toLower()}","log_message":"Reading curated json from staging and preparing process to link data","/DatasetID":"${filename:substringBefore(\"_\"):toLower()}"},"propertyDescriptors":{"log_pipelinestage":{"name":"log_pipelinestage","displayName":"log_pipelinestage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log_level":{"name":"log_level","displayName":"log_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"log_datasettype":{"name":"log_datasettype","displayName":"log_datasettype","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log_stepname":{"name":"log_stepname","displayName":"log_stepname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"log_stepnumber":{"name":"log_stepnumber","displayName":"log_stepnumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log_status":{"name":"log_status","displayName":"log_status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"datasetId":{"name":"datasetId","displayName":"datasetId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"log_message":{"name":"log_message","displayName":"log_message","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/DatasetID":{"name":"/DatasetID","displayName":"/DatasetID","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"7e0698ed-9d57-3bd0-af37-2312b9e10103","instanceIdentifier":"4db3204f-edc2-3002-e106-ae6004f2e202","name":"JoltTransformJSON","comments":"","position":{"x":-1424.0,"y":-272.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"*\": \"[&1].&\", \n\n        \"results\": {\n          \"imagingIdentifier\": \"[&2].ImagingIdentifier\"\n        },\n\n        \"lookup_batch\": {\n          \"StudyUID\": \"[&2].StudyInstanceUID\",\n\t\t  \"ImagingTimepoint\": \"[&2].ImagingTimepoint\"\n        }\n      }\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"62eda63b-4286-3db0-bf89-1014bc8fd28c","instanceIdentifier":"e5f4c999-ad32-399e-453c-c3171267a0e7","name":"SearchImagingProcedures","comments":"","position":{"x":-728.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","lookup_batch":"/lookup_batch","result-record-path":"/results","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","lookup-service":"15f70d2c-8aff-36ea-b039-adae246400ef","record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup_batch":{"name":"lookup_batch","displayName":"lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"6c4a0bbf-019c-1000-74cb-966791a30e32","instanceIdentifier":"239c9144-6d41-3709-ccd4-fde23c28d37e","name":"WriteProcessLog","comments":"","position":{"x":-144.0,"y":360.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CALL eucaim_etl_aux.insert_log_v001('${filename}', '${datasetId}', '${log_datasettype}', '${log_pipelinestage}', '${log_stepnumber}', '${log_stepname}', '${log_level}', '${log_status}' ,'${log_message}');","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"08042448-5c3a-373b-b957-3eff1bac481e","instanceIdentifier":"0eea14ff-63cf-3b86-2a6c-239ac6317249","name":"PutSQLToLinkData","comments":"","position":{"x":-680.0,"y":32.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"true","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf5f72"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"87235519-d447-3e03-a33c-f0090d320c7d","instanceIdentifier":"aa7632a3-ca07-3983-1cbe-222083a3fbea","name":"SplitJson","comments":"","position":{"x":-2088.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"9980a9d7-cfbe-3d07-a811-8ae782accf58","instanceIdentifier":"ecf072cd-3547-3019-93e4-f1b71eebd316","name":"PrepareUpdateToLinkData","comments":"","position":{"x":-1424.0,"y":40.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":"","Replacement Value":"UPDATE eucaim_cdm_ingestion.ImageStudy\nSET ImagingProcedureIdentifier = '${ImagingIdentifier}',\n    ImagingTimepoint = '${ImagingTimepoint}'\nWHERE ImageStudyUID = '${StudyInstanceUID}';","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"0a209a48-019c-1000-19d5-c7a5d861e0fe","instanceIdentifier":"769e4313-7b55-358c-4250-9959c5780dba","name":"UpdateRecordImagingTimepoint","comments":"","position":{"x":-1408.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/ImagingTimepoint":"/Timepoint","Record Writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Record Reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/ImagingTimepoint":{"name":"/ImagingTimepoint","displayName":"/ImagingTimepoint","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#268c3b"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"2cdf8770-0198-1000-718c-c85eef5a275e","instanceIdentifier":"4610dd3f-c308-3cc4-3fcd-dc8f254ce3e7","name":"LoadImagingTimepointsFromStaging3","comments":"","position":{"x":-1416.0,"y":-1040.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{staging_base_path}/input_as_csv/image_timepoints","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"[^\\.].*.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"25ab02cf-1929-3e4b-8436-1203f5eb88e0","instanceIdentifier":"3f6aff05-fbc1-35ca-4a01-635c59aaf156","name":"","source":{"id":"c6d3538f-f05d-3c4b-b57f-16d1c2c60637","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"12a59b63-1fca-342c-8053-bd120e90f0d9"},"destination":{"id":"9980a9d7-cfbe-3d07-a811-8ae782accf58","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PrepareUpdateToLinkData","comments":"","instanceIdentifier":"ecf072cd-3547-3019-93e4-f1b71eebd316"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"3eae00fa-6832-35ac-ab2c-0c074e122da2","instanceIdentifier":"6c458a16-019c-1000-642d-fab86af7ff78","name":"","source":{"id":"2cdf8770-0198-1000-718c-c85eef5a275e","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"LoadImagingTimepointsFromStaging3","comments":"","instanceIdentifier":"4610dd3f-c308-3cc4-3fcd-dc8f254ce3e7"},"destination":{"id":"6c456a3c-019c-1000-d3aa-0a14948dde2f","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateAttribute","comments":"","instanceIdentifier":"3c63fb4d-ffb0-30c7-22bb-2599e5d15926"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"92a31843-24b0-328d-8019-206941da2482","instanceIdentifier":"4120616b-c36a-3f7d-4f81-d0f64db4bdb7","name":"","source":{"id":"0a209a48-019c-1000-19d5-c7a5d861e0fe","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateRecordImagingTimepoint","comments":"","instanceIdentifier":"769e4313-7b55-358c-4250-9959c5780dba"},"destination":{"id":"c43d2711-0199-1000-1b3a-bd241ef31a0b","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PrepareLookupFieldsWithPatientId","comments":"","instanceIdentifier":"21ec42aa-f2a4-36da-447a-4640f91d542d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"adc176f3-f31e-3dd7-ba47-227e7c741423","instanceIdentifier":"6c472743-019c-1000-7d39-478e0bb6d00a","name":"","source":{"id":"6c456a3c-019c-1000-d3aa-0a14948dde2f","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateAttribute","comments":"","instanceIdentifier":"3c63fb4d-ffb0-30c7-22bb-2599e5d15926"},"destination":{"id":"0f2dfbeb-1b16-38e7-88ec-ce5fde4af988","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"QueryRecordReportProgress","comments":"","instanceIdentifier":"b6b69b4b-78ac-3901-636e-80f051859c38"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"4dbeaee1-35c6-3a25-8e37-31737968e04a","instanceIdentifier":"50dbf93e-efbe-3e47-b97d-a7915efa3c0f","name":"","source":{"id":"62eda63b-4286-3db0-bf89-1014bc8fd28c","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"SearchImagingProcedures","comments":"","instanceIdentifier":"e5f4c999-ad32-399e-453c-c3171267a0e7"},"destination":{"id":"7e0698ed-9d57-3bd0-af37-2312b9e10103","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"JoltTransformJSON","comments":"","instanceIdentifier":"4db3204f-edc2-3002-e106-ae6004f2e202"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"a5e0b355-e6f0-384e-9e82-d7d25be65001","instanceIdentifier":"bf8a959d-3348-3fa1-010a-07555da31b09","name":"","source":{"id":"7e0698ed-9d57-3bd0-af37-2312b9e10103","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"JoltTransformJSON","comments":"","instanceIdentifier":"4db3204f-edc2-3002-e106-ae6004f2e202"},"destination":{"id":"87235519-d447-3e03-a33c-f0090d320c7d","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"SplitJson","comments":"","instanceIdentifier":"aa7632a3-ca07-3983-1cbe-222083a3fbea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"4c8f441f-0ddd-35ff-8ca0-17ce298e072c","instanceIdentifier":"6c4a1ba2-019c-1000-5682-9f2897096801","name":"","source":{"id":"6c48fb93-019c-1000-328c-f6c3672043ec","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateAttribute","comments":"","instanceIdentifier":"bd086052-a14a-3db7-731f-33e14e359617"},"destination":{"id":"6c4a0bbf-019c-1000-74cb-966791a30e32","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"WriteProcessLog","comments":"","instanceIdentifier":"239c9144-6d41-3709-ccd4-fde23c28d37e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"9138b73a-c2b0-354c-a689-30f34f1d1b2c","instanceIdentifier":"050e506b-ee34-3f34-f1ca-eccf655cf5d3","name":"","source":{"id":"87235519-d447-3e03-a33c-f0090d320c7d","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"SplitJson","comments":"","instanceIdentifier":"aa7632a3-ca07-3983-1cbe-222083a3fbea"},"destination":{"id":"c6d3538f-f05d-3c4b-b57f-16d1c2c60637","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"12a59b63-1fca-342c-8053-bd120e90f0d9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"c4338958-c8e9-3f9c-83e2-f58103d941ae","instanceIdentifier":"085c90b0-c6ff-3197-a704-ef75c0173c56","name":"","source":{"id":"9980a9d7-cfbe-3d07-a811-8ae782accf58","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PrepareUpdateToLinkData","comments":"","instanceIdentifier":"ecf072cd-3547-3019-93e4-f1b71eebd316"},"destination":{"id":"08042448-5c3a-373b-b957-3eff1bac481e","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PutSQLToLinkData","comments":"","instanceIdentifier":"0eea14ff-63cf-3b86-2a6c-239ac6317249"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"87f7aa7d-fa0d-335c-acbb-c0f53f165e8d","instanceIdentifier":"2a077f9b-7001-3401-9d33-15ac65c089c4","name":"","source":{"id":"c43d2711-0199-1000-1b3a-bd241ef31a0b","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PrepareLookupFieldsWithPatientId","comments":"","instanceIdentifier":"21ec42aa-f2a4-36da-447a-4640f91d542d"},"destination":{"id":"62eda63b-4286-3db0-bf89-1014bc8fd28c","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"SearchImagingProcedures","comments":"","instanceIdentifier":"e5f4c999-ad32-399e-453c-c3171267a0e7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"cb19db6e-ee91-3c6b-81ba-278d5c92d953","instanceIdentifier":"6c492d19-019c-1000-41c7-55917dec680c","name":"","source":{"id":"62eda63b-4286-3db0-bf89-1014bc8fd28c","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"SearchImagingProcedures","comments":"","instanceIdentifier":"e5f4c999-ad32-399e-453c-c3171267a0e7"},"destination":{"id":"6c48fb93-019c-1000-328c-f6c3672043ec","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateAttribute","comments":"","instanceIdentifier":"bd086052-a14a-3db7-731f-33e14e359617"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"df69334f-4532-3dbe-bb33-01a2401ad4a7","instanceIdentifier":"6c459590-019c-1000-280c-fc91ce1fdda4","name":"","source":{"id":"6c456a3c-019c-1000-d3aa-0a14948dde2f","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateAttribute","comments":"","instanceIdentifier":"3c63fb4d-ffb0-30c7-22bb-2599e5d15926"},"destination":{"id":"0a209a48-019c-1000-19d5-c7a5d861e0fe","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateRecordImagingTimepoint","comments":"","instanceIdentifier":"769e4313-7b55-358c-4250-9959c5780dba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"f5df3194-9f31-3b57-a720-ca9390e15dfd","instanceIdentifier":"d7efa3b1-178e-3699-2d33-562768de88e6","name":"","source":{"id":"08042448-5c3a-373b-b957-3eff1bac481e","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PutSQLToLinkData","comments":"","instanceIdentifier":"0eea14ff-63cf-3b86-2a6c-239ac6317249"},"destination":{"id":"3fa7593a-55cf-3aa7-9e4f-a91de44cceb2","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PutSQLToUpdateReportProgress","comments":"","instanceIdentifier":"75915e6f-825d-32f2-df6b-7405fa5fa34f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"93730f10-b687-3e07-ac04-6f75708180e5","instanceIdentifier":"6c45dc94-019c-1000-d91e-609053352500","name":"","source":{"id":"6c456a3c-019c-1000-d3aa-0a14948dde2f","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"UpdateAttribute","comments":"","instanceIdentifier":"3c63fb4d-ffb0-30c7-22bb-2599e5d15926"},"destination":{"id":"6c456a3b-019c-1000-2e3f-84a6706fcfe2","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"WriteProcessLog","comments":"","instanceIdentifier":"25d501d4-8de4-32cc-49a7-0584f5422b5a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"1d7f4c17-977b-3550-afc1-9defe214c822","instanceIdentifier":"95383554-ee20-3d83-4d10-4b169c680065","name":"","source":{"id":"2468d04c-808c-3970-a31a-f4141ef71214","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd1e1555-99db-35e9-72ef-04e062752040"},"destination":{"id":"f29ae6df-0dcd-3f05-a4ae-e9c95cd3281f","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"PutSQLToBeginReportProgress","comments":"","instanceIdentifier":"e80a52da-a408-34ff-c59d-81bd0aa453c8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"48257df8-7de2-3a5e-9262-784c2c11c09f","instanceIdentifier":"1b7dfce6-fd0e-3787-d154-5a7ed6888760","name":"","source":{"id":"0f2dfbeb-1b16-38e7-88ec-ce5fde4af988","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"QueryRecordReportProgress","comments":"","instanceIdentifier":"b6b69b4b-78ac-3901-636e-80f051859c38"},"destination":{"id":"2468d04c-808c-3970-a31a-f4141ef71214","type":"PROCESSOR","groupId":"cdb86dde-7bcc-342f-9784-3ddb58f54d31","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd1e1555-99db-35e9-72ef-04e062752040"},"labelIndex":0,"zIndex":0,"selectedRelationships":["total"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"}],"labels":[{"identifier":"6c384006-019c-1000-47d1-1837617e6f07","instanceIdentifier":"0914b061-f4c1-3b18-d75b-668a641cf266","position":{"x":-1736.0,"y":-1416.0},"label":"Loop 02 for imaging timepoints\n* Main goal: in the previously ingested data for this dataset (ingestion db), link image studies (image metadata) with imaging procedures (clinical data)\n\nSteps:\n1. Read normalized json file from staging","zIndex":0,"width":1632.0,"height":208.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"}],"funnels":[],"controllerServices":[{"identifier":"15f70d2c-8aff-36ea-b039-adae246400ef","instanceIdentifier":"4ebd4dae-cf48-36f3-6933-47622de997c2","name":"ScriptedLookupService","comments":"","type":"org.apache.nifi.lookup.script.SimpleScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":"${ETL_RESOURCES}/scripts/SearchImagingIdentifier.groovy","dbcpService":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","Script Engine":"Groovy","Script Body":null,"Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"dbcpService":{"name":"dbcpService","displayName":"dbcpService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"INFO","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","instanceIdentifier":"9071520a-c522-320a-1d00-8c2642cf6497","name":"CSVRecordSetWriterImageMetadata","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"9c609a6f-495b-3ea5-9381-a06b75643a88","instanceIdentifier":"6ddc8a11-6347-3abb-5baf-d4766506ccf6","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","instanceIdentifier":"35c6d036-9f00-35d7-345d-b0f7194cb791","name":"DBConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://nifi-postgres:5432/eucaim-etl-db","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","instanceIdentifier":"88c01b06-4723-300a-9a9c-a036dbfb07f2","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"},{"identifier":"92a4a0ba-9ed7-31b5-9448-444980c3d608","instanceIdentifier":"3cdcf016-17f1-3b42-6f03-41b9772a6016","name":"CSVReaderDicomMetadata","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdb86dde-7bcc-342f-9784-3ddb58f54d31"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"${ETL_RESOURCES}/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"${ETL_HOME}/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://nifi-tdc:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"${ETL_RESOURCES}/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"${ETL_HOME}/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"${ETL_HOME}/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"${ETL_HOME}/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}