flows/Dicom_timepoints_loop02_transformToDB.json
{"flowContents":{"identifier":"2c07b4bd-01ae-3129-9647-153fed5615e4","instanceIdentifier":"08aa1a40-019c-1000-a5d8-9b3de0bdd1fc","name":"Dicom_timepoints_loop02_transformToDB","comments":"","position":{"x":4050.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f29ae6df-0dcd-3f05-a4ae-e9c95cd3281f","instanceIdentifier":"d5a60dc3-dbd9-307f-b29d-80b6e96b86ff","name":"PutSQL","comments":"","position":{"x":-152.0,"y":24.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"insert into eucaim_cdm_ingestion.datasetingestioncontrol\nvalues('${datasetId}', ${rowsNumber}, 0, 'LOADING')","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"true","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"c459a3ea-0199-1000-0f4e-85d9ca71f647","instanceIdentifier":"b39c16c1-56d1-3111-fdf5-25268036e320","name":"UpdateRecord","comments":"","position":{"x":-2104.0,"y":-576.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Record Writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Record Reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","/DatasetID":"${datasetId}","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/DatasetID":{"name":"/DatasetID","displayName":"/DatasetID","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"2468d04c-808c-3970-a31a-f4141ef71214","instanceIdentifier":"f129b4bf-f650-35da-05cf-5f29a6536fc9","name":"EvaluateJsonPath","comments":"","position":{"x":-152.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","rowsNumber":"$[0].rows_number","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rowsNumber":{"name":"rowsNumber","displayName":"rowsNumber","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"c43d2711-0199-1000-1b3a-bd241ef31a0b","instanceIdentifier":"f03d8e04-aed1-33f4-1e76-9a873396acfa","name":"PrepareLookupFieldsWithPatientId","comments":"","position":{"x":-728.0,"y":-560.0},"type":"org.apache.nifi.processors.jolt.JoltTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"jolt-record-record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Jolt Transform":"jolt-transform-chain","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n\t  \"*\": \"&\",\n\t  \"StudyInstanceUID\": \"lookup_batch.StudyUID\",\t\n      \"PatientID\": \"lookup_batch.PatientID\",\n      \"DatasetID\": \"lookup_batch.DatasetID\",\n\t  \"ImagingTimepoint\": \"lookup_batch.ImagingTimepoint\"\n    }\n  }\n]","jolt-record-record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d"},"propertyDescriptors":{"jolt-record-record-writer":{"name":"jolt-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-record-record-reader":{"name":"jolt-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"c353b7be-0199-1000-45d9-3f9c0d98f1f4","instanceIdentifier":"532f8f04-04e4-31ac-e065-425c4c33ba45","name":"UpdateAttribute","comments":"","position":{"x":-1416.0,"y":-808.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","datasetId":"${filename:substringBefore(\"_\"):toLower()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"datasetId":{"name":"datasetId","displayName":"datasetId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"3fa7593a-55cf-3aa7-9e4f-a91de44cceb2","instanceIdentifier":"cfd9953d-0a7b-31c2-f9a1-451e314125bb","name":"PutSQL","comments":"","position":{"x":-680.0,"y":368.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"update eucaim_cdm_ingestion.datasetingestioncontrol \nset processedRows = processedRows + 1\nwhere DatasetIdentifier = '${datasetId}' and status = 'LOADING'","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"true","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"0f2dfbeb-1b16-38e7-88ec-ce5fde4af988","instanceIdentifier":"25454873-7c28-318d-e6b5-1e615fb93c59","name":"QueryRecord","comments":"","position":{"x":-744.0,"y":-808.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"dbf-default-precision":"10","total":"SELECT COUNT(*) AS rows_number FROM FLOWFILE","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"total":{"name":"total","displayName":"total","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"c6d3538f-f05d-3c4b-b57f-16d1c2c60637","instanceIdentifier":"e76f0da8-bf7c-301e-3571-bd629eb25c9b","name":"EvaluateJsonPath","comments":"","position":{"x":-2088.0,"y":48.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","ImagingTimepoint":"$.ImagingTimepoint","Null Value Representation":"empty string","StudyInstanceUID":"$.StudyInstanceUID","ImagingIdentifier":"$.ImagingIdentifier","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ImagingTimepoint":{"name":"ImagingTimepoint","displayName":"ImagingTimepoint","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"StudyInstanceUID":{"name":"StudyInstanceUID","displayName":"StudyInstanceUID","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ImagingIdentifier":{"name":"ImagingIdentifier","displayName":"ImagingIdentifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"7e0698ed-9d57-3bd0-af37-2312b9e10103","instanceIdentifier":"d91946ea-d09f-3689-36fb-d8f8dc0e23a9","name":"JoltTransformJSON","comments":"","position":{"x":-1424.0,"y":-272.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"*\": \"[&1].&\", \n\n        \"results\": {\n          \"imagingIdentifier\": \"[&2].ImagingIdentifier\"\n        },\n\n        \"lookup_batch\": {\n          \"StudyUID\": \"[&2].StudyInstanceUID\",\n\t\t  \"ImagingTimepoint\": \"[&2].ImagingTimepoint\"\n        }\n      }\n    }\n  }\n]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"62eda63b-4286-3db0-bf89-1014bc8fd28c","instanceIdentifier":"6f7b650f-495b-3282-6249-8992b33a94bb","name":"LinkWithClinicalData","comments":"","position":{"x":-728.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","lookup_batch":"/lookup_batch","result-record-path":"/results","record-writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","record-reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","lookup-service":"15f70d2c-8aff-36ea-b039-adae246400ef","record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup_batch":{"name":"lookup_batch","displayName":"lookup_batch","identifiesControllerService":false,"sensitive":false,"dynamic":true},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"08042448-5c3a-373b-b957-3eff1bac481e","instanceIdentifier":"cdc22d5e-1c82-3608-6dba-cbc5578ddcbd","name":"PutSQL","comments":"","position":{"x":-680.0,"y":32.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","database-session-autocommit":"true","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"87235519-d447-3e03-a33c-f0090d320c7d","instanceIdentifier":"7c3a2119-7c0f-3560-cd43-1f12d55d99f6","name":"SplitJson","comments":"","position":{"x":-2088.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"9980a9d7-cfbe-3d07-a811-8ae782accf58","instanceIdentifier":"1f7cae70-a637-3580-16e6-470a01e65c88","name":"ReplaceText","comments":"","position":{"x":-1424.0,"y":40.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":"","Replacement Value":"UPDATE eucaim_cdm_ingestion.ImageStudy\nSET ImagingProcedureIdentifier = '${ImagingIdentifier}',\n    ImagingTimepoint = '${ImagingTimepoint}'\nWHERE ImageStudyUID = '${StudyInstanceUID}';","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"2cdf8770-0198-1000-718c-c85eef5a275e","instanceIdentifier":"e52c3245-cf91-3e09-2641-53f3de4bd309","name":"LoadImagingTimepointsFromStaging3","comments":"","position":{"x":-1416.0,"y":-1040.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"#{staging_base_path}/input_as_csv/image_timepoints","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"[^\\.].*.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bf88dd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"0a209a48-019c-1000-19d5-c7a5d861e0fe","instanceIdentifier":"46f51949-ea35-3825-b825-7ae80705ea2f","name":"UpdateRecord","comments":"","position":{"x":-1408.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"/ImagingTimepoint":"/Timepoint","Record Writer":"9c609a6f-495b-3ea5-9381-a06b75643a88","Record Reader":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/ImagingTimepoint":{"name":"/ImagingTimepoint","displayName":"/ImagingTimepoint","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"25ab02cf-1929-3e4b-8436-1203f5eb88e0","instanceIdentifier":"e8df01a0-fa84-373f-0581-8935648d4f1c","name":"","source":{"id":"c6d3538f-f05d-3c4b-b57f-16d1c2c60637","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e76f0da8-bf7c-301e-3571-bd629eb25c9b"},"destination":{"id":"9980a9d7-cfbe-3d07-a811-8ae782accf58","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"ReplaceText","comments":"","instanceIdentifier":"1f7cae70-a637-3580-16e6-470a01e65c88"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"92a31843-24b0-328d-8019-206941da2482","instanceIdentifier":"0a2154f6-019c-1000-92fa-c00d3099671e","name":"","source":{"id":"0a209a48-019c-1000-19d5-c7a5d861e0fe","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"UpdateRecord","comments":"","instanceIdentifier":"46f51949-ea35-3825-b825-7ae80705ea2f"},"destination":{"id":"c43d2711-0199-1000-1b3a-bd241ef31a0b","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"PrepareLookupFieldsWithPatientId","comments":"","instanceIdentifier":"f03d8e04-aed1-33f4-1e76-9a873396acfa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"4dbeaee1-35c6-3a25-8e37-31737968e04a","instanceIdentifier":"ee0ac930-f592-3a9b-eee0-90c3c0a98e4b","name":"","source":{"id":"62eda63b-4286-3db0-bf89-1014bc8fd28c","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"LinkWithClinicalData","comments":"","instanceIdentifier":"6f7b650f-495b-3282-6249-8992b33a94bb"},"destination":{"id":"7e0698ed-9d57-3bd0-af37-2312b9e10103","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d91946ea-d09f-3689-36fb-d8f8dc0e23a9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"a5e0b355-e6f0-384e-9e82-d7d25be65001","instanceIdentifier":"cebd5183-89f1-3fc9-d564-1fb0beffd024","name":"","source":{"id":"7e0698ed-9d57-3bd0-af37-2312b9e10103","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d91946ea-d09f-3689-36fb-d8f8dc0e23a9"},"destination":{"id":"87235519-d447-3e03-a33c-f0090d320c7d","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"SplitJson","comments":"","instanceIdentifier":"7c3a2119-7c0f-3560-cd43-1f12d55d99f6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"2127a655-253c-3f26-a5ce-f05c94353f2c","instanceIdentifier":"e3bf4e4a-b095-3951-57be-5fc08d3ec6dc","name":"","source":{"id":"c353b7be-0199-1000-45d9-3f9c0d98f1f4","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"UpdateAttribute","comments":"","instanceIdentifier":"532f8f04-04e4-31ac-e065-425c4c33ba45"},"destination":{"id":"0f2dfbeb-1b16-38e7-88ec-ce5fde4af988","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"QueryRecord","comments":"","instanceIdentifier":"25454873-7c28-318d-e6b5-1e615fb93c59"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"9138b73a-c2b0-354c-a689-30f34f1d1b2c","instanceIdentifier":"e8ef9b54-3998-393d-1cae-b9ac138edc84","name":"","source":{"id":"87235519-d447-3e03-a33c-f0090d320c7d","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"SplitJson","comments":"","instanceIdentifier":"7c3a2119-7c0f-3560-cd43-1f12d55d99f6"},"destination":{"id":"c6d3538f-f05d-3c4b-b57f-16d1c2c60637","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e76f0da8-bf7c-301e-3571-bd629eb25c9b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"c4338958-c8e9-3f9c-83e2-f58103d941ae","instanceIdentifier":"ed644818-5d9f-3696-673a-5963f0cadc4d","name":"","source":{"id":"9980a9d7-cfbe-3d07-a811-8ae782accf58","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"ReplaceText","comments":"","instanceIdentifier":"1f7cae70-a637-3580-16e6-470a01e65c88"},"destination":{"id":"08042448-5c3a-373b-b957-3eff1bac481e","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"PutSQL","comments":"","instanceIdentifier":"cdc22d5e-1c82-3608-6dba-cbc5578ddcbd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"87f7aa7d-fa0d-335c-acbb-c0f53f165e8d","instanceIdentifier":"a7fe01b4-990a-3749-9840-46c1df1f3fdf","name":"","source":{"id":"c43d2711-0199-1000-1b3a-bd241ef31a0b","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"PrepareLookupFieldsWithPatientId","comments":"","instanceIdentifier":"f03d8e04-aed1-33f4-1e76-9a873396acfa"},"destination":{"id":"62eda63b-4286-3db0-bf89-1014bc8fd28c","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"LinkWithClinicalData","comments":"","instanceIdentifier":"6f7b650f-495b-3282-6249-8992b33a94bb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"1be6cd6f-2012-3069-969e-7cd7fc95f090","instanceIdentifier":"a1f5a9b9-bf82-3d39-8c28-d93fe95db52a","name":"","source":{"id":"2cdf8770-0198-1000-718c-c85eef5a275e","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"LoadImagingTimepointsFromStaging3","comments":"","instanceIdentifier":"e52c3245-cf91-3e09-2641-53f3de4bd309"},"destination":{"id":"c353b7be-0199-1000-45d9-3f9c0d98f1f4","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"UpdateAttribute","comments":"","instanceIdentifier":"532f8f04-04e4-31ac-e065-425c4c33ba45"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"193e0a48-e92a-3aa4-96cb-e0be998eef3e","instanceIdentifier":"af4e1933-91dc-3907-5722-9e227b446775","name":"","source":{"id":"c353b7be-0199-1000-45d9-3f9c0d98f1f4","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"UpdateAttribute","comments":"","instanceIdentifier":"532f8f04-04e4-31ac-e065-425c4c33ba45"},"destination":{"id":"c459a3ea-0199-1000-0f4e-85d9ca71f647","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"UpdateRecord","comments":"","instanceIdentifier":"b39c16c1-56d1-3111-fdf5-25268036e320"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"f5df3194-9f31-3b57-a720-ca9390e15dfd","instanceIdentifier":"029cf4b0-bb93-37fd-35e1-cc01647ba80c","name":"","source":{"id":"08042448-5c3a-373b-b957-3eff1bac481e","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"PutSQL","comments":"","instanceIdentifier":"cdc22d5e-1c82-3608-6dba-cbc5578ddcbd"},"destination":{"id":"3fa7593a-55cf-3aa7-9e4f-a91de44cceb2","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"PutSQL","comments":"","instanceIdentifier":"cfd9953d-0a7b-31c2-f9a1-451e314125bb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"5e14d370-38ad-31d6-9f2c-e85a00ed24f7","instanceIdentifier":"0a20e6ef-019c-1000-2b12-0b254c18c0c6","name":"","source":{"id":"c459a3ea-0199-1000-0f4e-85d9ca71f647","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"UpdateRecord","comments":"","instanceIdentifier":"b39c16c1-56d1-3111-fdf5-25268036e320"},"destination":{"id":"0a209a48-019c-1000-19d5-c7a5d861e0fe","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"UpdateRecord","comments":"","instanceIdentifier":"46f51949-ea35-3825-b825-7ae80705ea2f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"1d7f4c17-977b-3550-afc1-9defe214c822","instanceIdentifier":"acbeeb1b-2796-394f-78c4-cabb9d0486dd","name":"","source":{"id":"2468d04c-808c-3970-a31a-f4141ef71214","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f129b4bf-f650-35da-05cf-5f29a6536fc9"},"destination":{"id":"f29ae6df-0dcd-3f05-a4ae-e9c95cd3281f","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"PutSQL","comments":"","instanceIdentifier":"d5a60dc3-dbd9-307f-b29d-80b6e96b86ff"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"48257df8-7de2-3a5e-9262-784c2c11c09f","instanceIdentifier":"af934525-9ef5-3104-a72b-860cfb8e3e07","name":"","source":{"id":"0f2dfbeb-1b16-38e7-88ec-ce5fde4af988","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"QueryRecord","comments":"","instanceIdentifier":"25454873-7c28-318d-e6b5-1e615fb93c59"},"destination":{"id":"2468d04c-808c-3970-a31a-f4141ef71214","type":"PROCESSOR","groupId":"2c07b4bd-01ae-3129-9647-153fed5615e4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f129b4bf-f650-35da-05cf-5f29a6536fc9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["total"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"15f70d2c-8aff-36ea-b039-adae246400ef","instanceIdentifier":"66ee7eb9-ded7-3518-4baf-ee0ca81bb827","name":"ScriptedLookupService","comments":"","type":"org.apache.nifi.lookup.script.SimpleScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":"/mnt/persistent-home/ETL-files/scripts/SearchImagingIdentifier.groovy","dbcpService":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","Script Engine":"Groovy","Script Body":null,"Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"dbcpService":{"name":"dbcpService","displayName":"dbcpService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"INFO","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"17e7a1ff-9ba8-354b-9e9d-fa4cfbb4574d","instanceIdentifier":"bc54cfd8-4574-3472-3bc2-d498f33704b2","name":"CSVRecordSetWriterImageMetadata","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"9c609a6f-495b-3ea5-9381-a06b75643a88","instanceIdentifier":"8c07270a-2dc2-3ec8-1af0-2aa16289826e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"896a4a36-7cc4-3592-b1a9-8a5d5589d4a3","instanceIdentifier":"4edfb280-b569-3a6a-0b8e-a5e80a91b873","name":"DBConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://nifi-postgres:5432/eucaim-etl-db","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{db_driver_filepath}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"4bc6caeb-04a4-3ff5-a418-5c3e0930f65d","instanceIdentifier":"995fb8b8-003b-3267-cfca-9a476e8f1d92","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"},{"identifier":"92a4a0ba-9ed7-31b5-9448-444980c3d608","instanceIdentifier":"bd8e35fa-d932-3e7c-7ef7-6b7cc49d7853","name":"CSVReaderDicomMetadata","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2c07b4bd-01ae-3129-9647-153fed5615e4"}],"parameterContextName":"ETL_v03_parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ETL_v03_parameters":{"name":"ETL_v03_parameters","parameters":[{"name":"db_driver_filepath","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/postgresql-42.7.4.jar"},{"name":"output_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/output_data"},{"name":"TabularDataCurator_URL","description":"","sensitive":false,"provided":false,"value":"http://nifi-tdc:5000/main"},{"name":"scripts_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/scripts"},{"name":"input_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/input_data"},{"name":"staging_base_path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/staging_data"},{"name":"TDC results path","description":"","sensitive":false,"provided":false,"value":"/mnt/persistent-home/ETL-files/TDC_Output"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}